<?php
    $this->headScript()->appendFile($this->baseUrl() . '/js/app/artefato/solicitacao/form.js');
    echo $this->headScript();
?>
<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h1>Encaminhar Demanda</h1>
</div>
<div class="alert alert-error campos-obrigatorios-modal hidden"></div>
<div class="modal-body">
    <div class="row-fluid">
        <div id="error-material"></div>
        <form enctype="multipart/form-data"
              class="form-horizontal"
              id="formModalSolicitacao"
              method="post"
              action="<?php echo $this->url(array('action' => 'save-status')); ?>" >
        <div class="top-bar">
            <p class="requiredLegend pull-left">
                Campos obrigatórios <span class="required">*</span>
            </p>
        </div>
            <fieldset>
                <div class="control-group">
                    <label class="control-label">Protocolo(s):
                    </label>
                    <div class="controls">
                        <?php echo $this->formText("sqSolicitacao[]", $this->entSolicitacao->getSqSolicitacao(), array( 'rows' => 3, 'class' => 'span9 required', 'readonly' => 'readonly')); ?>
                        <?php echo $this->formHidden("sqPessoaTriagem", \Core_Integration_Sica_User::getPersonId()); ?>
                        <?php echo $this->formHidden("sqTipoStatusSolicitacao", \Core_Configuration::getSgdoceTipoStatusSolicitacaoEmAndamento()); ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Data Abertura</label>
                    <div class="controls">
                        <?php echo $this->formText('dtSolicitacao', $this->entSolicitacao->getDtSolicitacao()->get(\Zend_Date::DATE_MEDIUM), array('class' => 'input-small', 'readonly' => 'readonly')); ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"> Assunto:
                    </label>
                    <div class="controls">
                        <?php echo $this->formText("noTipoAssuntoSolicitacao", $this->entSolicitacao->getSqTipoAssuntoSolicitacao()->getNoTipoAssuntoSolicitacao(), array( 'class' => 'span9 required', 'readonly' => 'readonly')); ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Usuário:
                    </label>
                    <div class="controls">
                        <?php echo $this->formText("noPessoa", $this->entSolicitacao->getSqPessoa()->getNoPessoa(), array( 'class' => 'span9 required', 'readonly' => 'readonly')); ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Email:
                    </label>
                    <div class="controls">
                        <?php echo $this->formText("txEmail", $this->entVwEmailSolicitante->getTxEmail(), array( 'class' => 'span9', 'readonly' => 'readonly')); ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Descrição:
                    </label>
                    <div class="controls">
                        <?php echo $this->formTextarea("dsSolicitacao", $this->entSolicitacao->getDsSolicitacao(), array( 'rows' => 3, 'class' => 'span9 required', 'readonly' => 'readonly')); ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><span class="required">*</span> Atendente:
                    </label>
                    <div class="controls">
                        <?php echo $this->ComboCustom("sqPessoaResponsavel", null, array( 'class' => 'span9 required'), $this->listAtendentes); ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Comentário:
                    </label>
                    <div class="controls">
                        <?php echo $this->formTextarea("txComentario", null, array( 'rows' => 3, 'class' => 'span9')); ?>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-primary" id="btnSubmit">Encaminhar</a>
    <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        Form.init();
    });
</script>
