<?php if (is_array($this->pages) && count($this->pages)): ?>
<ul class="breadcrumb">
    <?php $last = array_pop($this->pages);?>
    <?php foreach ($this->pages as $page): ?>
    <li><a href="<?php echo $page->getHref()?>"><?php echo $this->translate($page->getLabel())?></a> <span class="divider">/</span></li>
    <?php endforeach;?>
    <li class="active"><?php echo $this->translate($last->getLabel())?></li>
</ul>
<?php endif;?>
