<thead>
    <tr>
        <?php if ($this->tipoArtefato != \Core_Configuration::getSgdoceTipoArtefatoProcesso()): ?>
            <th width="" class="sorting_disabled">Digital</th>
        <?php endif; ?>
        <th width="" class="sorting_disabled">Número</th>
        <th width="40" class="sorting_disabled">Ações</th>
    </tr>
</thead>
