<thead>
    <tr>
        <th width="" class="sorting_disabled">
            <input type="checkbox" class="allSqArtefato" value="" <?php //echo $disabled ?> />
        </th>
        <th width="" class="sorting_disabled" ></th>
        <?php if ($this->tipoArtefato != \Core_Configuration::getSgdoceTipoArtefatoProcesso()): ?>
            <th width="" class="sorting_disabled">Digital</th>
        <?php endif; ?>
        <th width="" class="sorting_disabled">Número</th>
        <th width="" class="sorting_disabled">Cadastro</th>
        <th width="" class="sorting_disabled">Assunto</th>
        <?php if ($this->tipoArtefato != \Core_Configuration::getSgdoceTipoArtefatoProcesso()): ?>
            <th width="" class="sorting_disabled">Tipo</th>
        <?php endif; ?>
        <th width="" class="sorting_disabled">Origem</th>
        <th width="" class="sorting_disabled">Movimentação</th>
        <th width="" class="sorting_disabled">Ações</th>
    </tr>
</thead>
