<?php if(!empty($this->data['viewFor'])): ?>

<?php echo $this->headScript()->appendFile($this->baseUrl() . '/js/app/artefato/artefato/index.js'); ?>
    <input type="hidden" id="sqArtefato" name="sqArtefato" value="<?php echo $this->sqArtefato ?>">
    <input type="hidden" id="nuDigital" name="nuDigital" value="<?php echo $this->data['arrOrigem']['nuDigital'] ?>">
<h1>Visualizar Documento</h1>
<div class="top-bar">
    <div class="btn-group pull-right">
        <a class="btn btnExcluirArtefato" title="excluir"><i class="icon-trash"></i></a>
        <button class="btn btn dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
        <ul class="dropdown-menu">
            <li><a>Anexar</a></li>
            <li><a>Apensar</a></li>
            <li><a>Carimbar</a></li>
            <li><a>Comentarios</a></li>
            <li><a>Despachos</a></li>
            <li><a>Tramitar</a></li>
            <?php
            if($this->abreProcesso){
                echo '<li><a href="artefato/autuar-processo/save-artefato-processo/id/'.$this->sqArtefato.'/view/3">Autuar</a>';
            }
            ?>
        </ul>
    </div>
    &nbsp;
</div>
<?php endif; ?>

<?php
// Posicao Tipo Documento
switch($this->data['arrOrigem']['sqPosicaoTipoDocumento']){
    case 1:
        $posicaoTipoDocumento = 'titulo-left';
        $sqPosicaoTipoDocumento = 1;
        break;
    case 2:
        $posicaoTipoDocumento = 'titulo-right';
        $sqPosicaoTipoDocumento = 2;
        break;
    case 3:
        $posicaoTipoDocumento = 'titulo-center';
        $sqPosicaoTipoDocumento = 3;
        break;
    default:
        $posicaoTipoDocumento = 'titulo-left';
        $sqPosicaoTipoDocumento = 1;
}

// Posicao Data
switch($this->data['arrOrigem']['sqPosicaoData']){
        case 1:
        $sqPosicaoData = 1;
        break;
    case 2:
        $sqPosicaoData = 2;
        break;
    case 3:
        $sqPosicaoData = 3;
        break;
    default:
        $sqPosicaoData = 1;
    break;
}

//cabecalho
$inLocal    = FALSE;
$inNumDoc   = FALSE;
$inAnoDoc   = FALSE;
$inSetorDoc = FALSE;
$inDataDoc  = FALSE;
$inAssunto  = FALSE;

// destinatario
$inDestInt = FALSE;
$inVarDest = FALSE;
$inUniDest = FALSE;
$inNomUnid = FALSE;
$inTipUnid = FALSE;
$inNomDest = FALSE;

// rodape
$inRodape   = NULL;

// assinatura
$inSetorAss = NULL;
$inCargoAss  = NULL;
$inSetorCab = NULL;
$inEndCab   = NULL;
$inTelCab   = NULL;
$inEmailCab = NULL;
$path = current(explode ('application', __DiR__))
    . 'data'    . DIRECTORY_SEPARATOR
    . 'upload'  . DIRECTORY_SEPARATOR
    . 'documento' . DIRECTORY_SEPARATOR;

foreach ($this->data['arrDestino'] as $kDest => $dDest) {
    if ($kDest === 'qtdDestinatario') {
        if ($dDest > 1) {
            $inVarDest = TRUE;
        }
        elseif ($dDest == 1) {
            $inUniDest = TRUE;
        }
    }
}

foreach($this->data['arrCampo'] as $key => $data) {
    foreach($data as $key2 => $data2){
        // rodape
        if($data2 === 'Rodapé'){
            $inRodape = TRUE;
        }
        // cabecalho
        if(substr(strtolower($data2),0,10) == 'nº do doc'){
            $inNumDoc = TRUE;
        }
        if(substr(strtolower($data2),0,10) == 'ano'){
            $inAnoDoc = TRUE;
        }
        if(substr(strtolower($data2),0,10) == 'sigla do s'){
            $inSetorDoc = TRUE;
        }
        if(substr(strtolower($data2),0,10) == 'local'){
            $inLocal = TRUE;
        }
        if(substr(strtolower($data2),0,10) == 'data'){
            $inDataDoc = TRUE;
        }
        // destinatario
        if(substr(strtolower($data2),0,10) == 'destino in'){
            $inDestInt = TRUE;
        }
        if(substr(strtolower($data2),0,10) == 'Vários des'){
            $inVarDest = TRUE;
        }
        if(substr(strtolower($data2),0,10) == 'Único dest'){
            $inUniDest = TRUE;
        }
        if(substr(strtolower($data2),0,10) == 'nome da un'){
            $inNomUnid = TRUE;
        }
        if(substr(strtolower($data2),0,10) == 'tipo da un'){
            $inTipUnid = TRUE;
        }
        if(substr(strtolower($data2),0,10) == 'nome do de'){
            $inNomDest = TRUE;
        }
        // cargo assinatura
        if($data2 === 17){
            $inCargoAss = TRUE;
        }
        // setor assinatura
        if($data2 === 18){
            $inSetorAss = TRUE;
        }

        // assunto
        if(strtolower($data['noCampo']) == 'assunto'){
            $inAssunto = TRUE;
        }

        #setor cabecalho
        if($data2 === 23){
            $inSetorCab = TRUE;
        }
        #endereco cabecalho
        if($data2 === 24){
            $inEndCab = TRUE;
        }
        #telefone cabecalho
        if($data2 === 25){
            $inTelCab = TRUE;
        }
        #email cabecalho
        if($data2 === 26){
            $inEmailCab = TRUE;
        }
    }
}
?>
<page backtop="0mm" backbottom="44mm" backleft="0mm" backright="0mm">
<?php if(empty($this->data['viewFor'])): ?>
    <page_footer>
    <?php if($inRodape): ?>
        <div class="rodape-separator"></div>

        <table class="rodape">
            <tr>
                <td class="rodape-left">
                    <?php if(!empty($this->data['arrRodape']['deImagemRodape'])): ?>
    <!--    <img src="<?php echo $this->baseUrl('/artefato/artefato/render-image/sqArtefato/' . $this->data['arrRodape']['sqArtefato']) ?>" />-->

        <img src="./../data/upload/rodape/<?php echo $this->data['arrRodape']['deImagemRodape']; ?>" name="logo" title="logo" width="120" height="120" border="0">

                    <?php endif; ?>

                </td>
                <td class="rodape-right" style="text-align:right;">
                    <b>
                        <?php if(!empty($this->data['arrRodape']['noPessoa'])): ?>
                            <?php echo $this->data['arrRodape']['noPessoa'] ?> <br />
                        <?php endif; ?>
                        <?php if(!empty($this->data['arrRodape']['txEndereco'])): ?>
                            Endereço:
                            <?php echo $this->data['arrRodape']['txEndereco'] ?> <br />
                        <?php endif; ?>
                        <?php if(!empty($this->data['arrRodape']['coCep'])): ?>
                            CEP:
                            <?php
                                $cepRodape = $this->data['arrRodape']['coCep'];
                                $cepRodape = substr($cepRodape, 0, 5) . '-' . substr($cepRodape, 5, 3);
                                echo $cepRodape;
                            ?> <br />
                        <?php endif; ?>
                        <?php if(!empty($this->data['arrRodape']['nuTelefone'])): ?>
                            Telefone:
                            <?php
                                $telRodape = (string)$this->data['arrRodape']['nuTelefone'];
                                $telDDDRodape = (string)$this->data['arrRodape']['nuDdd'];
                                $telRodapeNum = substr($telRodape, -8);
                                $telRodapeNum1 = substr($telRodapeNum, -8, 4);
                                $telRodapeNum2 = substr($telRodapeNum, -4, 4);
                                echo '(' . $telDDDRodape . ')' . ' ' . $telRodapeNum1 . '-' . $telRodapeNum2;
                            ?><br />
                        <?php endif; ?>
                        <?php if(!empty($this->data['arrRodape']['txEnderecoEletronico'])): ?>
                            Email:
                            <?php echo $this->data['arrRodape']['txEnderecoEletronico'] ?> <br />
                        <?php endif; ?>

                    </b>
                </td>
            </tr>
        </table>
    <?php endif; ?>

        <div style="text-align:right;">[[page_cu]]</div>
    </page_footer>
<?php endif; ?>

<?php if(!empty($this->data['viewFor'])): ?>
<div class="content-geral">
<?php endif; ?>

<div class="content">

    <div id="header">
            <?php if(!empty($this->data['arrOrigem']['nuDigital'])) : ?>
            <div class="ImagemDigital">
                ICMBio/CDoc&nbsp;&nbsp;&nbsp; <br>
                <img class="imgPath" src="data:image/jpg;base64,<?php echo base64_encode(file_get_contents($path .'barcode.jpg'));?>" />
                <br> <span class="alignCenter"> <?php echo substr($this->data['arrOrigem']['nuDigital'], 1,7) ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </span>

            </div>
            <?php endif; ?>
            <p class="smallMargin">
<!-- cabeçalho -->
                <?php if($this->data['arrOrigem']['sqCabecalho']) :?>

                <?php if(!empty($this->data['arrOrigem']['deArquivoImagem'])): ?>
                    <img src="img/<?php echo $this->data['arrOrigem']['deArquivoImagem'] ?>"
                        name="logo" alt="logo" title="logo" width=120 height=120 border=0>
                <?php endif; ?>

                    <p class="smallMargin">
                        <b>
                            <?php if(!empty($this->data['arrOrigem']['txCabecalho'])
                                                         && $this->data['arrOrigem']['txCabecalho'] !== 'Nenhum'): ?>
                                <?php echo $this->data['arrOrigem']['txCabecalho'] ?>
                            <?php endif; ?>
                        </b>
                    </p>
                <span class="smallMargin" class="alignCenter">
                    <?php $virgula = null;
                    $cabeçalho = "";
                    if(!empty($this->data['arrOrigem']['noPessoa']) && $inSetorCab): ?>
                        <?php $cabeçalho = $this->data['arrOrigem']['noPessoa'];
                        $virgula = ', ';
                         ?>
                    <?php endif; ?>
                    <?php if(!empty($this->data['arrOrigem']['txEndereco']) && $inEndCab): ?>
                        <?php $cabeçalho .= $virgula . 'Endereco: ' .$this->data['arrOrigem']['txEndereco'];
                        $virgula = ', ';
                        ?>
                    <?php endif; ?>
                    <?php if(!empty($this->data['arrOrigem']['nuEndereco']) && $inEndCab): ?>
                        <?php $cabeçalho .= $virgula . 'Número: ' .$this->data['arrOrigem']['nuEndereco'];
                        $virgula = ', ';
                        ?>
                    <?php endif; ?>
                    <?php if(!empty($this->data['arrOrigem']['nuTelefone']) && $inTelCab): ?>
                        <?php
                            $telCabecalho = (string)$this->data['arrOrigem']['nuTelefone'];
                            $telDDDRodape = (string)$this->data['arrOrigem']['nuDdd'];
                            $telCabecalhoNum = substr($telCabecalho, -8);
                            $telCabecalhoNum1 = substr($telCabecalhoNum, -8, 4);
                            $telCabecalhoNum2 = substr($telCabecalhoNum, -4, 4);
                            $cabeçalho .= $virgula . 'Número: ' . '(' . $telDDDRodape . ')' . ' ' . $telCabecalhoNum1 . '-' . $telCabecalhoNum2;
                            $virgula = ', ';
                            ?>
                    <?php endif; ?>
                    <?php if(!empty($this->data['arrOrigem']['txEmail']) && $inEmailCab): ?>
                        <br /><?php $cabeçalho .= $virgula . '<br /> Email: ' .$this->data['arrOrigem']['txEmail'] ?>
                    <?php
                    endif;
                    echo $cabeçalho;
                    ?>
                </span>
<!-- cabeçalho -->

                <?php endif;?>
            </p>

        <p class="smallMargin">
    <!--    -->
        </p>
    </div>

    <p id="<?php echo $posicaoTipoDocumento ?>">
        <?php if(!empty($this->data['arrOrigem']['noTipoDocumento'])): ?>
            <?php echo $this->data['arrOrigem']['noTipoDocumento'] ?>
         <?php endif; ?>

            <?php if($inNumDoc): ?>
                N&#186;
            <?php endif; ?>

            <?php if(!empty($this->data['arrOrigem']['nuArtefato'])): ?>
               <?php echo $this->data['arrOrigem']['nuArtefato'] ?>
            <?php endif; ?>
                <?php if(!empty($this->data['arrOrigem']['dtArtefato']) && $inAnoDoc): ?>
                    /<?php echo $this->data['arrOrigem']['dtArtefato']->get('Y') ?>
                <?php endif; ?>
                <?php if(!empty($this->data['arrOrigem']['noPessoa']) && $inSetorDoc): ?>
                   /<?php echo $this->data['arrOrigem']['noPessoa'] ?>
                <?php endif; ?>

                <?php if($sqPosicaoData == 1): ?>
                    <span style="margin-left: 20px;">
                            <?php if(!empty($this->data['arrOrigem']['noMunicipio']) && $inLocal): ?>
                                <?php echo trim($this->data['arrOrigem']['noMunicipio']) ?>,
                            <?php endif; ?>
                            <?php if(!empty($this->data['arrOrigem']['dtArtefato']) && $inDataDoc): ?>
                                <?php $data = $this->data['arrOrigem']['dtArtefato'];?>
                                <?php echo $data->get('d') ?> de
                                <?php echo Zend_Locale_Data::getContent(Zend_Locale::findLocale(), 'month', (int) $data->get('M')); ?> de
                                <?php echo $data->get('Y') ?>.
                            <?php endif; ?>
                    </span>
                <?php endif; ?>
    </p>

        <?php if($sqPosicaoData == 2): ?>
            <p id="date-abaixo-tipo-doc-right">
                <?php if(!empty($this->data['arrOrigem']['noMunicipio']) && $inLocal): ?>
                    <?php echo trim($this->data['arrOrigem']['noMunicipio']) ?>,
                <?php endif; ?>
                <?php if(!empty($this->data['arrOrigem']['dtArtefato']) && $inDataDoc): ?>
                    <?php $data = $this->data['arrOrigem']['dtArtefato'];?>
                    <?php echo $data->get('d') ?> de
                    <?php echo Zend_Locale_Data::getContent(Zend_Locale::findLocale(), 'month', (int) $data->get('M')); ?> de
                    <?php echo $data->get('Y') ?>.
                <?php endif; ?>
            </p>
        <?php endif; ?>

        <br />
        <table class="ementa">
            <tr>
                <td class="pre-ementa">

                </td>
                <td class="tx-ementa">
                    <?php if(!empty($this->data['arrOrigem']['txEmenta'])): ?>
                        <?php echo $this->data['arrOrigem']['txEmenta'] ?>
                    <?php endif; ?>
                </td>
            </tr>
        </table>
        <div class="clear">&nbsp;</div>
        <div class="clear">&nbsp;</div>
        <div class="clear">&nbsp;</div>
        <div class="clear">&nbsp;</div>
        <div class="clear">&nbsp;</div>
        <div class="clear">&nbsp;</div>
        <div class="clear">&nbsp;</div>
        <div class="clear">&nbsp;</div>
        <div class="clear">&nbsp;</div>
        <br />

        <p id="to">

            <?php if(!empty($this->data['arrOrigem']['noCargoInterno'])): ?>
                 <?php echo $this->data['arrOrigem']['noCargoInterno'] ?>
                 <br />
            <?php endif; ?>

        <?php if ($inDestInt): ?>


            <?php

            /*  1 - Se selecionado

            -um destinatário
            -destinatário interno
            -tipo da unidade
            -nome da unidade
            -nome do destinatário:

            Mostrar:

            <cargo-interno> / Nome da Unidade
            A/C: Nome do destinatário
            */
            if ($inUniDest && $inDestInt && $inTipUnid && $inNomUnid && $inNomDest
            && !empty($this->data['arrDestino'][0]['noPessoa'])
            && $this->data['arrDestino'][0]['sqTipoPessoa'] == 1) {

                if (!empty($this->data['arrDestino'][0]['noCargoInterno'])) {
                    echo $this->data['arrDestino'][0]['noCargoInterno'] . ' ' .
                    $this->data['arrDestino'][0]['noUnidadeOrg'] . '<br />';
                }
                elseif (!empty($this->data['arrDestino'][0]['noUnidadeOrg'])) {
                    echo $this->data['arrDestino'][0]['noUnidadeOrg'] . '<br />';
                }

                if (!empty($this->data['arrDestino'][0]['noPessoa'])) {
                    echo 'A/C: ' . $this->data['arrDestino'][0]['noPessoa'];
                }
            }

            /*  2 - Se selecionado

            -um destinatário
            -destinatário interno
            -tipo da unidade
            -nome da unidade

            Mostrar:

            <cargo-interno> / Nome da Unidade
            */
            elseif ($inUniDest && $inDestInt && $inTipUnid && $inNomUnid
            && !empty($this->data['arrDestino'][0]['noPessoa'])
            && $this->data['arrDestino'][0]['sqTipoPessoa'] == 4) {

                if (!empty($this->data['arrDestino'][0]['noCargoInterno'])) {
                    echo $this->data['arrDestino'][0]['noCargoInterno'] . ' ' .
                    $this->data['arrDestino'][0]['noPessoa'] . '<br />';
                }
                elseif (!empty($this->data['arrDestino'][0]['noPessoa'])) {
                    echo $this->data['arrDestino'][0]['noPessoa'];
                }
            }

            /*  3 - Se selecionado

            -um destinatário
            -destinatário interno
            -tipo da Unidade:

            Mostrar

            <cargo-interno> / Tipo da Unidade
            */
            elseif ($inTipUnid && !empty($this->data['arrDestino'][0]['noTipoUnidadeOrg2'])
            && empty($this->data['arrDestino'][0]['noUnidadeOrg'])) {
                $arrDestinos = array();
                foreach ($this->data['arrDestino'] as $destino) {
                    if (isset($destino['noTipoUnidadeOrg2'])){
                        $arrDestinos[$destino['noTipoUnidadeOrg2']] = $destino['noTipoUnidadeOrg2'];
                    }
                }
                $stringDestinos = implode(", ", $arrDestinos);

                if (!empty($this->data['arrDestino'][0]['noCargoInterno'])) {
                    echo $this->data['arrDestino'][0]['noCargoInterno'] . ' ' .
                        $stringDestinos . '<br />';
                }
                elseif (!empty($this->data['arrDestino'][0]['noPessoa'])) {
                    echo $stringDestinos;
                }
            }

            ?>

        <?php else: ?>

            <?php if(!empty($this->data['arrDestino'][0]['noTratamento'])): ?>
                  <?php echo $this->data['arrDestino'][0]['noTratamento'] ?>
                  <br />
             <?php endif; ?>
             <?php if(!empty($this->data['arrDestino'][0]['txPosTratamento'])): ?>
                 <?php echo $this->data['arrDestino'][0]['txPosTratamento'] ?>
                 <br />
            <?php endif; ?>
            <?php if(!empty($this->data['arrDestino'][0]['noPessoa'])): ?>
                    <b><?php echo $this->data['arrDestino'][0]['noPessoa'] ?> </b> <br />
            <?php endif; ?>
            <?php if(!empty($this->data['arrDestino'][0]['noCargo'])): ?>
                <?php echo $this->data['arrDestino'][0]['noCargo'] ?>       <br />
            <?php endif; ?>
            <?php if(!empty($this->data['arrDestino'][0]['noUnidadeOrg'])): ?>
                <?php echo $this->data['arrDestino'][0]['noUnidadeOrg'] ?>       <br />
            <?php endif; ?>
            <?php if(!empty($this->data['arrDestino'][0]['noMunicipio'])): ?>
                <?php echo $this->data['arrDestino'][0]['noMunicipio'] ?> -
            <?php endif; ?>
            <?php if(!empty($this->data['arrDestino'][0]['noEstado'])): ?>
                <?php echo $this->data['arrDestino'][0]['noEstado'] ?>          <br />
            <?php endif; ?>
            <?php if(!empty($this->data['arrDestino'][0]['coCep'])): ?>
                <?php
                    $cep = $this->data['arrDestino'][0]['coCep'];
                    $cep = substr($cep, 0, 5) . '-' . substr($cep, 5, 3);
                    echo $cep;
                ?> <br />
            <?php endif; ?>

        <?php endif; ?>
        </p>

        <!-- Assunto -->
            <?php if(!empty($this->data['arrOrigem']['txAssunto']) && $inAssunto): ?>
            <p  style="text-align: justify;">
                ASSUNTO : <?php echo $this->data['arrOrigem']['txAssunto'] ?>
            </p>
            <?php endif; ?>
        <!-- Interessado(s) -->

        <?php if(!empty($this->data['arrInteressado']) && count($this->data['arrInteressado']) > 0): ?>
            <?php $countInteressados = count($this->data['arrInteressado']); ?>
            <?php $cont = 1; ?>
            <div class="" style="text-align: left;">
                Interessado(s):
                <?php foreach($this->data['arrInteressado'] as $dadosInteressado): ?>
                    <?php if(!empty($dadosInteressado['noPessoa'])): ?>
                            <?php echo $dadosInteressado['noPessoa'] ?><?php if($cont < $countInteressados): ?>, <?php endif; ?>
                            <?php $cont++ ?>
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
        <?php endif; ?>

        <?php if(!empty($this->data['arrOrigem']['txReferencia'])): ?>
           <div style="text-align: justify;">
                Ref: <?php echo nl2br($this->data['arrOrigem']['txReferencia']); ?>
            </div>
            <br /><br />
        <?php endif; ?>

        <?php

        if(!empty($this->data->arrDestino[0]['noVocativo'])): ?>
        <!-- senhor (a) -->
        <span class="marginLeft">&nbsp;</span>
        <?php

        $textoVocativo = $this->data->arrDestino[0]['noVocativo'];
        if($this->data->arrDestino[0]['txPosVocativo']){
            $textoVocativo .= ' ' . $this->data->arrDestino[0]['txPosVocativo'];
        }
        ?>
        <p class="posVocativo">
            <span class="marginLeft">&nbsp;</span>
           <br />
           <?php echo $textoVocativo .','; ?>
       </p>
        <?php endif; ?>

    <p  style="text-align: justify;" class="alignJustify ajustaBox">
            <span class="marginLeft">&nbsp;</span>
                <table class="tableTexto">
                <tr>
                   <td style="text-align: justify;">
                    <?php if(!empty($this->data['arrOrigem']['txTextoArtefato'])): ?>
                        <?php echo nl2br($this->data['arrOrigem']['txTextoArtefato']) ?>
                    <?php endif; ?>
                   </td>
                </tr>
                </table>

                <p>
                    <!-- Descrição do prazo -->
                    <?php if(!empty($this->data['arrOrigem']['txDescricaoPrazo'])): ?>
                     <br /><br />
                          <?php echo nl2br($this->data['arrOrigem']['txDescricaoPrazo']); ?>,
                    <?php endif; ?>

                    <!-- Imprime dias corridos -->
                    <?php if(empty($this->data['arrOrigem']['inDiasCorridos']) && !empty($this->data['arrOrigem']['nuDiasPrazo']) ): ?>
                        <?php
                        $qtdDiasCorridos = $this->data['arrOrigem']['nuDiasPrazo'];
                        $dtArtefato = $this->data['arrOrigem']['dtArtefato']->add($qtdDiasCorridos, Zend_Date::DAY );
                        echo $dtArtefato->get('dd/MM/YYYY');
                        ?>
                    <?php endif; ?>

                    <!-- Imprime dias uteis -->
                    <?php if(!empty($this->data['arrOrigem']['inDiasCorridos']) && !empty($this->data['arrOrigem']['nuDiasPrazo']) ): ?>
                        <?php $arrFeriados = $this->layout()->feriados; ?>
                        <?php $helperDiasUteis = new Sgdoce_View_Helper_DiasUteis(); ?>
                        <?php echo $helperDiasUteis->diasUteis(
                            $this->data['arrOrigem']['dtArtefato']->get('dd/MM/YYYY'),
                            $this->data['arrOrigem']['nuDiasPrazo'],
                            $arrFeriados); ?>
                    <?php endif; ?>

                    <!-- Imprime data marcada -->
                    <?php if(!empty($this->data['arrOrigem']['dtPrazo'])): ?>
                        <?php echo $this->data['arrOrigem']['dtPrazo']->get('dd/MM/YYYY') ?>
                    <?php endif; ?>
                </p>
            <?php if($inLocal || $inDataDoc): ?>
                <?php if($sqPosicaoData == 3): ?>
                    <p id="date-abaixo-texto">
                        <span class="marginLeft">&nbsp;</span>
                        <?php if(!empty($this->data['arrOrigem']['noMunicipio']) && $inLocal): ?>
                            <?php echo $this->data['arrOrigem']['noMunicipio'] ?>,
                        <?php endif; ?>
                        <?php if(!empty($this->data['arrOrigem']['dtArtefato']) && $inDataDoc): ?>
                            <?php $data = $this->data['arrOrigem']['dtArtefato'];?>
                            <?php echo $data->get('d') ?> de
                            <?php echo Zend_Locale_Data::getContent(Zend_Locale::findLocale(), 'month', (int) $data->get('M')); ?> de
                            <?php echo $data->get('Y') ?>.
                        <?php endif; ?>
                    </p>
                <?php endif; ?>
             <?php endif; ?>
    </p>

</div>

<!--     FECHO -->

    <div id="fecho">
        <?php if(!empty($this->data['arrOrigem']['noFecho'])): ?>
            <span class="marginLeft">&nbsp;</span>
            <?php echo $this->data['arrOrigem']['noFecho'] . ',' ?>
            <br /><br /><br />
        <?php endif; ?>
    </div>

    <div id="signature">
        <p class="mediumMargin">
                    <?php if(!empty($this->data['arrAssinatura'])): ?>

                    <?php
                        $contS = 0;
                    ?>

                        <?php foreach($this->data['arrAssinatura'] as $dado): ?>

                            <?php
                                if($contS !== 0):
                            ?>

                                    <?php if(!empty($dado['noTipoMotivacao']) && $dado['sqTipoMotivacao'] > 1): ?>
                                            <br />
                                            <?php echo $dado['noTipoMotivacao'] ?>
                                    <?php elseif(!empty($dado['deMotivacao'])): ?>
                                            <br />
                                            <?php echo $dado['deMotivacao'] ?>
                                    <?php endif; ?>
                                            <br /><br />

                            <?php
                                endif;
                                $contS++;
                            ?>

                            <?php if(!empty($dado['noPessoa'])): ?>
                                <b>
                                    <?php echo $dado['noPessoa'] ?>
                                </b> <br />
                            <?php endif; ?>
                            <?php if(!empty($dado['noCargo']) && $inCargoAss): ?>
                                    <?php echo $dado['noCargo'] ?>
                            <?php endif; ?>
                            <?php if(!empty($dado['noUnidadeOrg']) && $inCargoAss): ?>
                                    /
                                    <?php echo $dado['noUnidadeOrg'] ?>

                            <?php endif; ?>
                            <br />
                        <?php endforeach; ?>
                    <?php endif; ?>
        </p>
    </div>

    <?php if($inRodape): ?>

        <div id="rodape-view">
            <table class="table-rodape">
                <tr>
                    <td class="rodape-left">

                        <?php if(!empty($this->data['arrRodape']['deImagemRodape'])): ?>

                            <?php
                            $path = current(explode ('application', __DiR__))
                                . 'data'           . DIRECTORY_SEPARATOR
                                . 'upload'         . DIRECTORY_SEPARATOR
                                . 'rodape' . DIRECTORY_SEPARATOR;
                            $nome = $this->data['arrRodape']['deImagemRodape'];
                            $extensao = substr($this->data['arrRodape']['deImagemRodape'], -3);
                            ?>
                            <img src="data:image/<?php echo $extensao;?>;base64,
                            <?php echo base64_encode(file_get_contents($path . $nome)); ?>"
                                 name="logo" title="logo" width="120" height="120" border="0" />
                        <?php endif; ?>

                    </td>
                    <td class="rodape-right">
                        <b>
                            <?php if(!empty($this->data['arrRodape']['noPessoa'])): ?>
                                <?php echo $this->data['arrRodape']['noPessoa'] ?> <br />
                            <?php endif; ?>
                            <?php if(!empty($this->data['arrRodape']['txEndereco'])): ?>
                                &nbsp;Endereço:
                                <?php echo $this->data['arrRodape']['txEndereco'] ?> <br />
                            <?php endif; ?>
                            <?php if(!empty($this->data['arrRodape']['coCep'])): ?>
                                &nbsp;CEP:
                                <?php
                                    $cepRodape = $this->data['arrRodape']['coCep'];
                                    $cepRodape = substr($cepRodape, 0, 5) . '-' . substr($cepRodape, 5, 3);
                                    echo $cepRodape;
                                ?> <br />
                            <?php endif; ?>
                            <?php if(!empty($this->data['arrRodape']['nuTelefone'])): ?>
                                &nbsp;Telefone:
                                <?php
                                    $telRodape = (string)$this->data['arrRodape']['nuTelefone'];
                                    $telDDDRodape = (string)$this->data['arrRodape']['nuDdd'];
                                    $telRodapeNum = substr($telRodape, -8);
                                    $telRodapeNum1 = substr($telRodapeNum, -8, 4);
                                    $telRodapeNum2 = substr($telRodapeNum, -4, 4);
                                    echo '(' . $telDDDRodape . ')' . ' ' . $telRodapeNum1 . '-' . $telRodapeNum2;
                                ?> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <?php endif; ?>
                            <?php if(!empty($this->data['arrRodape']['txEnderecoEletronico'])): ?>
                                Email:
                                <?php echo $this->data['arrRodape']['txEnderecoEletronico'] ?> <br />
                            <?php endif; ?>

                        </b>
                    </td>
                </tr>
            </table>
        </div>

        <?php endif; ?>

<?php if(!empty($this->data['viewFor'])): ?>
</div>

<div class="form-actions">
    <a class="btn" href="javascript:history.back()"><i class="icon-remove"></i> Cancelar</a>
</div>
<?php endif;?>

</page>

<style type="text/css">
<!--
.form-actions {
    padding-left: 180px;
}
.content-geral{
    border:1px solid #ddd;
    overflow-y:scroll;
    height:500px;
}

.content,
.rodape {
    margin-right: 0.79in;
    margin-left: 0.79in;
    font-size: 10pt;
    /*border: 1px solid grey;*/
}

#header {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 9pt;
}

.separator{
    clear: both;
}

#titulo-left {
    text-align: left;
    margin-bottom: 0px;
}

#titulo-right {
    text-align: right;
    /* margin-right: 30px; */
    /*  margin-bottom: 80px;*/
}

#titulo-center {
    text-align: center;
    margin-center: 30px;
/*  margin-bottom: 80px;*/
}

#date-abaixo-tipo-doc-right {
    text-align: right;
}

#date-abaixo-texto {
    text-align: left;
    margin-right: 30px;
}

#to {
/*  margin-bottom: 50px;*/
}

table.ementa {
    float: right;
    margin-right: 50px;
}

td.pre-ementa {
        width:300px;
        border: 0px solid white;
}

td.tx-ementa {
        width:270px;
        border: 1px solid white;
        text-align: justify;
        float: right;
        font-style: italic;
}

#att {
    margin-left: 50px;
    margin-bottom: 70px;
}

#signature {
    text-align: center;
    margin-right: 0.79in;
    margin-left: 0.79in;
    margin-top: 15px;
}

#fecho {
    text-align: left;
    margin-right: 0.79in;
    margin-left: 0.79in;
    margin-top: 15px;
}

.smallMargin {
    margin: 0 0 4px 0;
    padding: 0;
    font-size: 12px
}

.mediumMargin {
    margin: 0 0 10px 0;
    padding: 0;
}

.marginLeft {
    margin-left: 50px;
}

.justify {
    text-align: justify;
}

.alignCenter {
    text-align: center;
}

.rodape-separator {
    width: 600px;
    border: 1px solid #ccc;
    margin: 40px 0 0 70px;
}

#rodape-view {
    margin-right: 0.79in;
    margin-left: 0.79in;
}

.table-rodape {
    border: 0px;
    border-top: 1px solid #ccc;
    width: 100%;
}

td.rodape-left {
    float: left;
    width: 100px;
    border: 0px;
}

td.rodape-right {
    border: 0px;
    padding: 10px 5px 5px 20px;
    width: 450;
    float: left;
}

.ajustaBox {
    word-wrap: break-word;
    word-break: break-all;
    width: 99%;
    text-align: justify;
    float: left;
}

.posVocativo {
   margin-left: 60px;
}

.tableTexto ,td, tr{
    border: 0px;
}

.ImagemDigital {
    float: right;
    margin-top: 25px;
    margin-left: -50%;
}
-->
</style>
<script>
    $('.btnExcluirArtefato').click(function(){
        ArtefatoDelete.Deletar($('#sqArtefato').val(),$('#nuDigital').val(),4);
    });
</script>