.plupload_button {
  /**
   * Clonado de sgdoce/public/css/style.css (linha 3022)
   * .btn {}
   */
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.plupload_button:hover {
  /**
   * Clonado de sgdoce/public/css/style.css (linha 3079)
   * .btn:hover {}
   */
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.plupload_button:focus {
  /**
   * Clonado de sgdoce/public/css/style.css (linha 3093)
   * .btn:focus {} 
   */
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.plupload_button {
  /**
   * Clonado de sgdoce/public/css/style.css (linha 3180)
   * .btn {}
   */
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

.plupload_disabled, 
a.plupload_disabled:hover {
	 /**
   * Clonado de sgdoce/public/css/style.css (linha 3110)
   * .btn.disabled, .btn[disabled] {}
   */
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.plupload_disabled, 
a.plupload_disabled:hover {
  /**
   * Clonado de sgdoce/public/css/style-correct.css (linha 414)
   * .btn.disabled, .btn[disabled] {}
   */
  background-color: #cccccc !important;
  color: #333333;
}

.plupload_disabled, 
a.plupload_disabled:hover {
  /**
   * Clonado de sgdoce/public/css/style-correct.css (linha 418)
   * .btn.disabled, .btn[disabled] {}
   */
  background-color: #cccccc;
  background-image: none;
  box-shadow: none;
  cursor: default;
  opacity: 0.35;
}

.plupload_header {
	visibility: hidden;
	display: none;
}

.plupload_filelist_header,
.plupload_filelist_footer {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	background: transparent;
}

.plupload_progress_bar {
  background-color: #00531f;
}
.plupload_filelist_header {
  border-top: none;
}

.plupload_filelist_footer {
  border-top: 1px solid #cdcdcd;
}

.plupload_filelist .plupload_file_name,
.plupload_filelist .plupload_file_name input {
  width: auto;
}

.plupload_filelist li {
  background: #ffffff;
  color: #333333;
  font-size: 13px;
}

.plupload_filelist li:nth-child(2n+1) {
  background-color: #f9f9f9;
}

.plupload_filelist li.plupload_done {
  color: #aaaaaa;
}

.plupload_filelist li.plupload_delete a,
.plupload_filelist li.plupload_failed a,
.plupload_filelist li.plupload_done a {
  background-image: url('/bootstrap/img/glyphicons-halflings.png');
  background-repeat: no-repeat;
}

.plupload_filelist li.plupload_delete a {
  background-position: -23px -95px;
}

.plupload_filelist li.plupload_failed a {
  background-position: 0 -119px;  
}
.plupload_filelist li.plupload_done a {
  background-position: -289px 0;
}