<!--<script type="text/javascript" src="/js/app/artefato/documento/index.js"></script>
<h1>Validar Digital</h1>
<br/>
<form class="form-horizontal">
    <div class="tab-pane" id="dadosValidacao">
        <fieldset>
            <br /><br />
            <div class="control-group">
                <label class="control-label">
                    <span class="required" title="Required field">*</span> Documento
                </label>
                <div class="controls">
                    <div>
                        <input type="radio" name="tipoDigital" value="<?php echo $this->tipoEtiquetaFisica; ?>" class="required" checked="checked"/> Físico
                        <input type="radio" name="tipoDigital" value="<?php echo $this->tipoEtiquetaEletronica; ?>" class="required" disabled="disabled"/> Eletrônico
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="nuDigital">Digital</label>
                <div class="controls">
                    <div class="input-append">
                        <input type="text" class="input-large required" mask="digital" name="nuDigitalValida" id="nuDigitalValida" maxlength="11" />
                    </div>
                </div>
            </div>
        </fieldset>
        <br>
    </div>
    <div class="form-actions" id="formButtonsPrincipal__">
        <a class="btn btn-primary" id="btValidar" title="Validar"><i class=""></i>Validar</a>
        <button class="btn" id="cancelar" title="cancelar"> <i class="icon-remove"></i> Cancelar </button>
    </div>
</form>-->