<script type="text/javascript"
	src="/js/app/artefato/material/material.js"></script>
<script
	type="text/javascript" src="/js/app/artefato/documento/material.js"></script>
<div
	class="tab-pane" id="dadosMaterial">
	<div class="control-group">
		<fieldset>
			<legend> Material de Apoio</legend>
			<div class="row-fluid">
				<div class="span6">
					<div class="btn-group">
						<a href="#" id="btnAdicionarMaterial" data-toggle="modal"
							class="btn btn-mini"> <i title="Adicionar" class="icon-plus"></i>
						</a>
					</div>
				</div>
			</div>
			<table id="table-dados-material">
				<thead>
					<tr>
						<th>Tipo</th>
						<th>Digital</th>
						<th>Titulo</th>
						<th>Ações</th>
					</tr>
				</thead>
			</table>
		</fieldset>
	</div>
</div>
<div id="modal-material" class="modal hide fade modal-large"></div>
