.form-search input, .form-inline input, 
.form-horizontal input, .form-search textarea, 
.form-inline textarea, .form-horizontal textarea, 
.form-search select, .form-inline select, 
.form-horizontal select, .form-search .help-inline, 
.form-inline .help-inline, 
.form-horizontal .help-inline, 
.form-search .uneditable-input, 
.form-inline .uneditable-input, 
.form-horizontal .uneditable-input, 
.form-search .input-prepend, 
.form-inline .input-prepend, 
.form-horizontal .input-prepend, 
.form-search .input-append, 
.form-inline .input-append, 
.form-horizontal .input-append { display:inline-block !important; }

.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"] { height:20px !important }

.input-append .right { margin-left:0px !important; }
.input-append .btn { padding:5px 5px 5px 11px !important; margin-top:1px; }
