<div style="margin: 0px;text-align: center;">
<?php if ($this->acesso){
    echo '<img style="width: 200px;" src="/img/acesso_negado/acesso_negado.png">';
    echo '<h1>Acesso Negado</h1>';
}
?>
</div>


