<?php
    $this->headScript()->appendFile($this->baseUrl() . '/js/app/artefato/origem/origem.js');
    $this->headScript()->appendFile($this->baseUrl() . '/js/app/artefato/processo-eletronico/origem.js');
    $this->headScript()->appendFile($this->baseUrl() . '/js/app/artefato/autuar-documento/form.js');
    echo $this->headScript();
?>
<form class="form-horizontal" action="<?php echo $this->url(array('action' => 'save')); ?>" method="POST" enctype="application/x-www-form-urlencoded">
    <fieldset>
        <div class="control-group">
            <label class="control-label required">
                <span class="required" title="Campo Obrigatório">*</span> Digital
            </label>
            <div class="controls">
                <?php echo $this->formHidden('sqArtefato', null); ?>
                <?php echo $this->formHidden('back', $this->urlBackText); ?>
                <?php // Campo tpNuArtefato, quantidade de dígitos no processo ?>
                <?php echo $this->formHidden('tpNuArtefato', 17); ?>
                <?php echo $this->formText('nuDigitalAutuado', $this->objDigital->getNuDigital()->getNuEtiqueta(), array('class' => 'span6 required sqArtefato', 'id' => 'sqArtefato', 'readonly' => true)); ?>
            </div>
        </div>
        <?php
            $sqGrauAcesso = null;
            if( $this->objDigital->getSqGrauAcessoArtefato() != '' ):
                $sqGrauAcesso = $this->objDigital
                                     ->getSqGrauAcessoArtefato()
                                     ->getSqGrauAcesso()
                                     ->getSqGrauAcesso();
            endif;
        ?>
        <div class="control-group">
            <label class="control-label" for="sqGrauAcesso"><span class="required">* </span>Grau de Acesso</label>
            <div class="controls" id="divMunicipio">
                <?php echo $this->ComboCustom('sqGrauAcesso', $sqGrauAcesso, array('class' => 'required span4'), $this->arrOptGrauAcesso); ?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label required">
                <span class="required"title="Required field">* </span> Assunto
            </label>
            <div class="controls">
                <?php echo $this->formHidden('sqAssunto_hidden', null); ?>
                <?php echo $this->formText('sqAssunto', null, array('class' => 'span6 required')); ?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Assunto Complementar</label>
            <div class="controls">
                <?php
                echo $this->formTextarea('txAssuntoComplementar',
                        $this->objDigital->getTxAssuntoComplementar(),
                        array(
                            'maxlength' => 250,
                            'class'	=> 'span6',
                            'rows' => 3
                    ));
                ?>
            </div>
        </div>
        <?php

//["dtPrazo"]=>  NULL
//["nuDiasPrazo"]=>  int(7)
//["inDiasCorridos"]=>  bool(false)

            $sqPrazo        = null;
            $zfDtPrazo      = $this->objDigital->getDtPrazo();
            $nuDiasPrazo    = $this->objDigital->getNuDiasPrazo();
            $dtPrazo        = null;
            $inDiasCorridos = null;

            if (true === $this->objDigital->getInDiasCorridos()) {
                $inDiasCorridos = 1;
            }else if (false === $this->objDigital->getInDiasCorridos()) {
                $inDiasCorridos = 0;
            }
            
            if( !is_null($zfDtPrazo) ) {
                $dtPrazo = $zfDtPrazo->get(\Zend_Date::DATE_MEDIUM);
                $sqPrazo = 1;
            } 
        ?>
        <div class="control-group">
            <label class="control-label" for="nuDiasPrazo">Prazo de Entrega</label>
            <div class="controls">
                <?php echo $this->ComboCustom('sqPrazo', $sqPrazo,
                        array('class'=>'input-small span3 '),
                        array('1' => 'Data', '2' => 'Dias')); ?>
            </div>
        </div>
        <div class="control-group dvDataPrazo" hidden="true">
            <label class="control-label" for="appendedInputButton"><span
                class="required" title="Required field">*</span> Data do Prazo</label>
            <div class="controls">
                <div data-date="<?php echo $dtPrazo; ?>" data-date-startdate="<?php echo $this->objDigital->getDtCadastro()->get('dd/MM/yyyy')?>" data-date-format="dd/mm/yyyy" class="input-append date dtPrazoDiv">
                    <input class="input-small dateBR startDate required" id="dtPrazo" maxlength="60"
                        name="dtPrazo" mask="date" type="text"/>
                        <a href="#" class="btn add-on right"><i class="icon-calendar"></i></a>
                </div>
            </div>
        </div>
        <div class="control-group dvDiasPrazo" hidden="true">
            <label class="control-label" for="nuDiasPrazo"><span class="required"
                title="Required field">*</span> Dias</label>
            <div class="controls">
                <?php
                echo $this->comboCustom('inDiasCorridos', $inDiasCorridos,
                        array('class'=>'required span3'),
                        array('0' => 'Úteis', '1' => 'Corridos'));

                echo $this->formText('nuDiasPrazo',$nuDiasPrazo,array('class'=>"input-small inline required",'mask'=>"numeric", 'maxlength'=>"4"))
                ?>
            </div>
        </div>
       <div class="control-group">
            <label class="control-label" for="sqPrioridade">
                <span class="required">* </span>Prioridade
            </label>
            <div class="controls">
                <?php
                $sqPrioridade = $this->objDigital->getSqTipoPrioridade() != NULL ? $this->objDigital->getSqTipoPrioridade()->getSqPrioridade()->getSqPrioridade() : \Core_Configuration::getSgdoceTipoPrioridadeBaixa();
                $txPrioridade = $this->objDigital->getSqTipoPrioridade() != NULL ? $this->objDigital->getSqTipoPrioridade()->getTxTipoPrioridade() : NULL;
                echo $this->ComboCustom('sqPrioridade', $sqPrioridade, array('class' => 'required span4'), $this->arrOptPrioridade);
                ?>
            </div>
        </div>
        <div class="control-group TipoPrioridade hide">
            <label class="control-label" for="sqTipoPrioridade">
                <span class="required">* </span>Descrição da Prioridade
            </label>
            <div class="controls" id="divTipoPrioridade">
                <?php
                $sqTipoPrioridade = $this->objDigital->getSqTipoPrioridade() != NULL ? $this->objDigital->getSqTipoPrioridade()->getSqTipoPrioridade() : NULL;
                echo $this->ComboCustom('sqTipoPrioridade',$sqTipoPrioridade,array('class'=>'span8 required'),$this->arrOptTipoPrioridade);
                ?>
            </div>
        </div>

        <fieldset>
            <legend>Origem</legend>
            <?php echo $this->render('origem/dados-origem.phtml'); ?>
        </fieldset>
    </fieldset>
</form>