<body>
    <p><b>INSTITUTO CHICO MENDES DE CONSERVAÇÃO DA BIODIVERSIDADE</b></p>
    <p><i>Prezado(a) <?php echo $this->name; ?></i>,</p>
    <p><i>Seu cadastro foi efetuado com sucesso. Para ativar o cadastro, acesse o link em até 7 dias:</i></p>
    <a href="<?php echo $this->urlSica; ?>"><?php echo $this->urlSica; ?></a>.
    <br />
    <p>Atenciosamente,</p>
    <p>COTEC</p>
    <br />
    <br />
    <p style="font-size:10px; color:ligth-gray">
        Esta é uma mensagem automática enviada pelo SICA-e - Sistema de Integração e Controle de Acesso. Por favor, não responda.
    </p>
</body>
