<body>
    <p><b>INSTITUTO CHICO MENDES DE CONSERVAÇÃO DA BIODIVERSIDADE</b></p>
    <p><i>Prezado(a) <?php echo $this->name; ?></i>,</p>
    <p><i>Para alterar a senha de acesso aos sistemas do ICMBio, acesse o endereço:</i>
    <a href="<?php echo $this->urlSica; ?>"><?php echo $this->urlSica; ?></a> e complemente as informações solicitadas.
    <p>
    <br />
    <p>Atenciosamente,</p>
    <p>ICMBio</p>
    <br />
    <br />
    <p style="font-size:10px; color:ligth-gray">
        Esta é uma mensagem automática enviada pelo SICA-e - Sistema de Integração e Controle de Acesso. Por favor, não responda.
    </p>
</body>
