<body>
    <p><i>Prezado(a) <?php echo $this->name; ?></i>,</p>
    <br />
    <p><i>Para alterar a senha do SICA-e acesse o endereço</i><p>
    <br />
    <a href="<?php echo $this->urlSica; ?>"><?php echo $this->urlSica; ?></a> e complemente as informações solicitadas.
    <br />
    <br />
    <p style="font-size:10px; color:ligth-gray">
        Esta é uma mensagem automática enviada pelo SICA-e - Sistema de Integração e Controle de Acesso. Por favor, não responda.
    </p>
</body>
