<div class="top-bar">
     <p class="requiredLegend pull-left">
          Campos obrigatórios <span class="required">*</span>
     </p>
</div>
<div class="control-group">
    <fieldset>
        <legend>Lista de Assinaturas
        </legend>
        <div class="row-fluid">
            <div class="span6">
                 <div class="btn-group">
                      <a href="#" id="btnAdicionarAssinatura" data-toggle="modal" class="btn btn-mini"><i title="Adicionar" class="icon-plus"></i> </a>
                 </div>
            </div>
        </div>
        <table id="table-assinatura">
            <thead>
                <tr>
                       <th>Nome do Responsável</th>
                       <th>Ações</th>
                </tr>
            </thead>
        </table>
    </fieldset>
</div>
