<div class="top-bar">
    <p class="requiredLegend pull-left">Campos obrigatórios <span class="required">*</span></p>
</div>
<div class="control-group">
    <fieldset>
    <legend>Lista de Destinatários</legend>
        <div class="row-fluid">
            <div class="span6">
                <div class="btn-group"></div>
                <div class="btn-group btnAdicionarDestin">
                    <a href="#" id="btnAdicionarDestin" data-toggle="modal" class="btn btn-mini"><i title="Adicionar" class="icon-plus"></i> </a>
                </div>
                <div class="btn-group btnAdicionarDestinFake">
                    <a id="btnAdicionarDestinFake" class="btn btn-mini" disabled="disabled"><i title="Adicionar" class="icon-plus"></i> </a>
                </div>
            </div>
        </div>
        <table id="table-destinatario-externo">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Tipo de Endereço</th>
                    <th>CEP</th>
                    <th>Endereço</th>
                    <th>Ações</th>
                </tr>
            </thead>
        </table>
    </fieldset>
</div>