<div class="top-bar">
    <p class="requiredLegend pull-left">
        Campos obrigatórios <span class="required">*</span>
    </p>
</div>
<div class="control-group">
    <fieldset>
    <legend>Lista de Interessados</legend>
        <div class="row-fluid">
            <div class="span6">
                <div class="btn-group">
                    <a href="#" id="btnAdicionarInteressado" data-toggle="modal" class="btn btn-mini"><i title="Adicionar" class="icon-plus"></i> </a>
                </div>
            </div>
        </div>
        <table id="table-interessado">
            <thead>
                <tr>
                <th>Nome</th>
                <th>Tipo de Documento</th>
                <th>Nº do Documento</th>
                <th>Ações</th>
                </tr>
            </thead>
        </table>
    </fieldset>
</div>
