/**
 * Bubbling
 * More complex "..." animated
 *
 * Example:
 * <div class="bubbling">
 *     <span></span>
 *     <span></span>
 *     <span></span>
 * </div>
 * <!-- or -->
 * <div class="bubbling mini">
 *     <span></span>
 *     <span></span>
 *     <span></span>
 * </div>
 */
.bubbling {
    text-align: center;
    width: 90px;
    height: 39px;
    margin: auto;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -o-animation: showBubbling 0.5s;
    -ms-animation: showBubbling 0.5s;
    -webkit-animation: showBubbling 0.5s;
    -moz-animation: showBubbling 0.5s;
    animation: showBubbling 0.5s;
}

.bubbling.mini {
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
    -o-animation: showMiniBubbling 0.5s;
    -ms-animation: showMiniBubbling 0.5s;
    -webkit-animation: showMiniBubbling 0.5s;
    -moz-animation: showMiniBubbling 0.5s;
    animation: showMiniBubbling 0.5s;
}

.bubbling > span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 24px auto;
    margin-left: 4px;
    background: rgb(0,84,31);
    -o-border-radius: 49px;
    -ms-border-radius: 49px;
    -webkit-border-radius: 49px;
    -moz-border-radius: 49px;
    border-radius: 49px;
    -o-animation: bubbling 0.975s infinite alternate;
    -ms-animation: bubbling 0.975s infinite alternate;
    -webkit-animation: bubbling 0.975s infinite alternate;
    -moz-animation: bubbling 0.975s infinite alternate;
    animation: bubbling 0.975s infinite alternate;
}
/*1º*/
.bubbling > span:first-of-type {
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
}
/*2º*/
.bubbling > span {
    -o-animation-delay: 0.2895s;
    -ms-animation-delay: 0.2895s;
    -webkit-animation-delay: 0.2895s;
    -moz-animation-delay: 0.2895s;
    animation-delay: 0.2895s;
}
/*3º*/
.bubbling > span:last-of-type {
    -o-animation-delay: 0.589s;
    -ms-animation-delay: 0.589s;
    -webkit-animation-delay: 0.589s;
    -moz-animation-delay: 0.589s;
    animation-delay: 0.589s;
}

@-o-keyframes bubbling {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(189,205,49);
        -o-transform: translateY(0);
    }
    100% {
        width: 23px;
        height: 23px;
        background-color: rgba(57,135,81,0.98);
        -o-transform: translateY(-20px);
    }
}

@-ms-keyframes bubbling {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(189,205,49);
        -ms-transform: translateY(0);
    }
    100% {
        width: 23px;
        height: 23px;
        background-color: rgba(57,135,81,0.98);
        -ms-transform: translateY(-20px);
    }
}

@-webkit-keyframes bubbling {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(189,205,49);
        -webkit-transform: translateY(0);
    }
    100% {
        width: 23px;
        height: 23px;
        background-color: rgba(57,135,81,0.98);
        -webkit-transform: translateY(-20px);
    }
}

@-moz-keyframes bubbling {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(189,205,49);
        -moz-transform: translateY(0);
    }
    100% {
        width: 23px;
        height: 23px;
        background-color: rgba(57,135,81,0.98);
        -moz-transform: translateY(-20px);
    }
}

@keyframes bubbling {
    0% {
        width: 10px;
        height: 10px;
        background-color: rgb(189,205,49);
        transform: translateY(0);
    }
    100% {
        width: 23px;
        height: 23px;
        background-color: rgba(57,135,81,0.98);
        transform: translateY(-20px);
    }
}

@-o-keyframes showBubbling {
      0% { -o-transform: scale(0); }
    100% { -o-transform: scale(1); }
}

@-ms-keyframes showBubbling {
      0% { -ms-transform: scale(0); }
    100% { -ms-transform: scale(1); }
}

@-webkit-keyframes showBubbling {
      0% { -webkit-transform: scale(0); }
    100% { -webkit-transform: scale(1); }
}

@-moz-keyframes showBubbling {
      0% { -moz-transform: scale(0); }
    100% { -moz-transform: scale(1); }
}

@keyframes showBubbling {
      0% { transform: scale(0); }
    100% { transform: scale(1); }
}

@-o-keyframes showMiniBubbling {
      0% { -o-transform: scale(0); }
    100% { -o-transform: scale(0.4); }
}

@-ms-keyframes showMiniBubbling {
      0% { -ms-transform: scale(0); }
    100% { -ms-transform: scale(0.4); }
}

@-webkit-keyframes showMiniBubbling {
      0% { -webkit-transform: scale(0); }
    100% { -webkit-transform: scale(0.4); }
}

@-moz-keyframes showMiniBubbling {
      0% { -moz-transform: scale(0); }
    100% { -moz-transform: scale(0.4); }
}

@keyframes showMiniBubbling {
      0% { transform: scale(0); }
    100% { transform: scale(0.4); }
}