<script type="text/javascript" src="/js/app/artefato/origem/origem.js"></script>
<script	type="text/javascript" src="/js/app/artefato/autuar-processo/origem.js"></script>
<fieldset>
	<div class="control-group">
		<label for="sq_estado" class="control-label"> <span class="required"
			title="">* </span>Número do Processo
		</label>
		<div class="controls">
			<?php
			echo $this->formText('nuArtefato',$this->data->getNuArtefato(),array('class' => 'required' , 'readOnly' => 'readOnly'));
        ?>
		</div>
	</div>
	<?php if($this->disabled != NULL) :?>
	<div class="control-group">
		<label for="sq_estado" class="control-label"> <span class="required"
			title="">* </span>Data de Autuação
		</label>
		<div class="controls">
			<div data-date="<?php echo \Zend_Date::now()->get('dd/MM/yyyy')?>"
				data-date-format="dd/mm/yyyy" class="input-append date">
				<input
					value="<?php echo $this->data->getDtArtefato()->get('dd/MM/yyyy');?>"
					class="input-small dateBR required" id="dtArtefato"
					name="dtArtefato" mask="date" type="text" /> <a href="#"
					class="btn add-on right"><i class="icon-calendar"></i> </a>
			</div>
		</div>
	</div>
	<div class="control-group divNuPaginaProcesso">
		<label class="control-label" for="select01"> <span class="required"
			title="Required field">*</span>Numeração Original de Páginas
		</label>
		<div class="controls" id="idNuPaginaProcesso">
			<?php
			$result = array('1'=>'Frente', '2' => 'Frente e Verso');
			$param['disabled'] =  'disabled';
			echo $this->formHidden('inNumeracaoVerso',1);
            echo $this->ComboCustom('inNumeracaoVersoSelecionado',1,$param,$result); ?>
		</div>
	</div>
<!-- 	<div class="control-group divQtdPaginaProcesso"> -->
<!-- 		<label class="control-label" for="select01"> <span class="required" -->
<!-- 			title="Required field">*</span>Quantidade de Páginas -->
<!-- 		</label> -->
<!-- 		<div class="controls" id="idQtdPaginaProcesso"> -->
<!-- 			< ?php -->
<!-- // 			$param['disabled'] =  'disabled'; -->
<!--             echo $this->formText('nuPaginaProcesso',$this->nuPaginaProcesso,array()); ?> -->
<!-- 		</div> -->
<!-- 	</div> -->
	<br>
	<fieldset>
		<legend>Origem</legend>
		<?php echo $this->render('origem/dados-origem.phtml');?>
	</fieldset>
	<?php endif;?>
</fieldset>