<script type="text/javascript" src="/js/app/artefato/autuar-processo/capa-processo.js"></script>
<div class="modal-header">
    <a title="Fechar" data-dismiss="modal" class="close">×</a>
    <h3>Capa do Processo</h3>
</div>
<div class="modal-body">
	<div class="row-fluid">
		<form class="form-horizontal" id="form-tema-tratado-modal"
			method="post">
<!-- 			cabecalho -->
            <p style="text-align: center;">
                <img src="img/<?php echo $this->cabecalho->getDeArquivoImagem(); ?>"
                            name="logo" alt="logo" title="logo" width=120 height=120 border=0/>

                <p style="text-align: center;">
                        <?php echo $this->cabecalho->getTxCabecalho(); ?>
                </p>
            </p>
            <fieldset>
				<legend>Informações do Processo</legend>
				<dl class="dl-horizontal">
					<dt>Número do Processo:</dt>
					<dd>
		                <?php
		                $nuProcesso = $this->artefato['nuArtefato'];
		                if($this->coAmbitoProcesso == 'F'){
							$nuProcesso = $this->maskNumber($nuProcesso, '99999.999999/9999-99');
						}
						echo $nuProcesso;
		                ?>
					</dd>
					<dt>Data de Autuação:</dt>
					<dd>
						<?php echo ($this->artefato['dtArtefato']) ? $this->artefato['dtArtefato']->get('dd/MM/yyyy') : ''; ?>
					</dd>
					<dt>Interessados:</dt>
					<dd>
		                    <?php
		                    if(count($this->dadosInteressado) != 0){
		                    	$count = count($this->dadosInteressado);
	                           $count = $count - 1;
			                    foreach ($this->dadosInteressado as $key => $value) {
									$count2 = $key + 1;
			                    	echo $value['noPessoa'];
			                    	if($count >= $count2){
										echo ', ';
								    }
						    	}
		                    }else{
								echo "&nbsp";
							}
		                    ?>
		            </dd>
					<dt>Assunto:</dt><dd><?php echo $this->artefato['txAssunto']; ?></dd>
		            <dt>Assunto Complementar:</dt><dd><?php echo $this->artefato['txAssuntoComplementar'] ? $this->artefato['txAssuntoComplementar'] : "&nbsp"; ?></dd>
		            <?php
		            if($this->autuar) :?>
		            <?php
		            $nuArtefato      = $this->artefatoPai['nuArtefato'] ? $this->artefatoPai['nuArtefato'] : "&nbsp";
		            $nuDigital       = $this->artefatoPai['nuDigital'] ? $this->artefatoPai['nuDigital'] : "&nbsp";
		            $noTipoDocumento = $this->artefatoPai['noTipoDocumento'] ? $this->artefatoPai['noTipoDocumento'] : "&nbsp";
		            $noTipoDocumento = $this->artefatoPai['noTipoDocumento'] ? $this->artefatoPai['noTipoDocumento'] : "&nbsp";

		            $noPessoa 		 = $this->dadosOrigem[0] ? $this->dadosOrigem[0]->getSqPessoaSgdoce()->getNoPessoa() : "&nbsp";
		            ?>
		            <dt>Digital:</dt><dd><?php echo $nuDigital; ?></dd>
            		<dt>Tipo:</dt><dd><?php echo $noTipoDocumento;?></dd>
            		<dt>Número:</dt><dd><?php echo $nuArtefato;?></dd>
		            <dt>Origem:</dt><dd><?php echo $noPessoa;?></dd>
		         	<?php else :?>
		         	<dt>Digital:</dt><dd></dd>
            		<dt>Tipo:</dt><dd></dd>
            		<dt>Número:</dt><dd></dd>
		            <dt>Origem:</dt><dd></dd>
		            <?php endif;?>
				</dl>
			</fieldset>
            <br>
            <?php if($this->temaTratado) : ?>
            <fieldset>
                <legend>Tema Tratado</legend>
                <table class="table table-bordered table-condensed table-striped" id="table-grid-Tema" border="1">
                    <thead >
                        <tr>
                            <th>Nome Específico</th>
                            <th>Tema Vinculado</th>
                        </tr>
                    </thead>
                    <tbody>
                           <?php foreach ($this->temaTratado as $key => $value) {
	                           	$sqTemaVinculado = '';
                                   switch ($value['tipo']) {
						            case 'U':
						                $sqTemaVinculado = 'UNIDADE DE CONSERVAÇÃO';
						            break;
						            case 'E':
						                $sqTemaVinculado = 'ESPÉCIES';
						                break;
						            case 'I':
						               $sqTemaVinculado = 'EMPREENDIMENTO';
						                break;
						            case 'C':
						                $sqTemaVinculado = 'CAVERNA';
						                break;
						        }
						        echo '<tr>';
						        echo '<td>'. $sqTemaVinculado .'</td>';
						        echo '<td>'. $value['nome'] .'</td>';
						        echo '</tr>';
                           }?>
                    </tbody>
                </table>
            </fieldset>
            <?php endif;?>
<!--             <fieldset> -->
<!--                 <legend>Histórico de Tramitações</legend> -->
<!--                 <table class="table table-bordered table-condensed table-striped" id="table-grid-Tema" border="1"> -->
<!--                     <thead > -->
<!--                         <tr> -->
<!--                             <th>Origem</th> -->
<!--                             <th>Destino</th> -->
<!--                             <th>Data</th> -->
<!--                         </tr> -->
<!--                     </thead> -->
<!--                     <tbody> -->
<!--                         <tr> -->
<!--                             <th></th> -->
<!--                             <th></th> -->
<!--                             <th></th> -->
<!--                         </tr> -->
<!--                     </tbody> -->
<!--                 </table> -->
<!--             </fieldset> -->
		</form>
	</div>
</div>
<div class="modal-footer">
    <label class="pull-left span6"> <input type="checkbox" name=""
        id="deAcordo"
        onClick="
                    if(this.checked == true){
                        document.getElementById('btnConcluirCapa').className = 'btn btnConcluirCapa btn-primary';
                    }else if (this.checked == false){
                        document.getElementById('btnConcluirCapa').className = 'btn btnConcluirCapa btn-primary disabled';
                    }
                " /> De acordo com as informações apresentadas.
    </label>
    <button type="button" class="btn btn-primary btnConcluirCapa disabled" id="btnConcluirCapa" data-dismiss="modal" title="Confirmar">Confirmar</button>
    <a href="#" class="btn btnCancelarCapa" data-dismiss="modal" title="Cancelar"><i class="icon-remove"></i> Cancelar</a>
</div>
