<script type="text/javascript" src="/js/app/artefato/interessado/interessado.js"></script>
<script type="text/javascript" src="/js/app/artefato/autuar-processo/interessado.js"></script>
<div class="tab-pane" id="interessados">
    <div class="control-group">
        <fieldset>
            <legend>Lista de Interessados</legend>
            <div class="row-fluid">
                <div class="span6">
                    <div class="btn-group">
                        <a id="btnAdicionarInteressado" data-toggle="modal" class="btn btn-mini">
                            <i title="Adicionar" class="icon-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
            <table id="table-interessado">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
            </table>
        </fieldset>
    </div>
</div>
<!-- INICIO MODAL INTERESSADOS -->
<div id="modal-interessado" class="modal hide fade modal-large">
</div>
<!-- FIM MODAL INTERESSADOS -->
