<div class="tab-pane" id="pecas-processo">
	<div class="control-group">
		<fieldset>
			<legend>Lista de Peças do Processo</legend>
			<div class="row-fluid">
				<div class="span6">
					<div class="btn-group">
						<a href="#" id="btnAdicionarPeca" data-toggle="modal"
							class="btn btn-mini"><i title="Adicionar" class="icon-plus"></i>
						</a>
					</div>
				</div>
			</div>
			<table id="table-peca-processo">
				<thead>
					<tr>
						<th>Digital/ N°Processo</th>
						<th>Tipo de Documento</th>
						<th>Ações</th>
					</tr>
				</thead>
			</table>
		</fieldset>
	</div>
</div>
<!-- INICIO MODAL TEMA TRATADO -->
<div id="modal-peca-processo" class="modal hide fade">
</div>
<!-- FIM MODAL TEMA TRATADO -->
