<div class="tab-pane" id="temaTratado">
<div class="control-group">
    <fieldset>
    <legend>Lista de Temas</legend>
        <div class="row-fluid">
            <div class="span6">
                <div class="btn-group">
                    <a href="#" id="btnAdicionarTema" data-toggle="modal" class="btn btn-mini"><i title="Adicionar" class="icon-plus"></i> </a>
                </div>
            </div>
        </div>
        <table id="table-tema-tratado">
            <thead>
                <tr>
                    <th>Nome  Especifico</th>
                    <th>Tema Vinculado</th>
                    <th>Ações</th>
                </tr>
            </thead>
        </table>
    </fieldset>
</div>
</div>
<!-- INICIO MODAL TEMA TRATADO -->
<div id="modal-tema-tratado" class="modal hide fade">
</div>
<!-- FIM MODAL TEMA TRATADO -->
