<?php if(!empty($this->layout()->viewFor)): ?>
<h1>Assinar Minuta</h1>
<div class="top-bar">&nbsp;</div>
<?php endif; ?>
<?php

// Posicao Tipo Documento
switch($this->layout()->arrOrigem['sqPosicaoTipoDocumento']){
    case 1:
        $posicaoTipoDocumento = 'titulo-left';
        $sqPosicaoTipoDocumento = 1;
        break;
    case 2:
        $posicaoTipoDocumento = 'titulo-right';
        $sqPosicaoTipoDocumento = 2;
        break;
    case 3:
        $posicaoTipoDocumento = 'titulo-center';
        $sqPosicaoTipoDocumento = 3;
        break;
    default:
        $posicaoTipoDocumento = 'titulo-left';
        $sqPosicaoTipoDocumento = 1;
}

// Posicao Data
switch($this->layout()->arrOrigem['sqPosicaoData']){
    case 1:
        $sqPosicaoData = 1;
        break;
    case 2:
        $sqPosicaoData = 2;
        break;
    case 3:
        $sqPosicaoData = 3;
        break;
    default:
        $sqPosicaoData = 1;
        break;
}

//cabecalho
$inLocal    = FALSE;
$inNumDoc   = FALSE;
$inAnoDoc   = FALSE;
$inSetorDoc = FALSE;
$inDataDoc  = FALSE;
$inAssunto  = FALSE;

$inSetorAss = NULL;
$inCargoAss  = NULL;
$inSetorCab = NULL;
$inEndCab   = NULL;
$inTelCab   = NULL;
$inEmailCab = NULL;
$path = APPLICATION_PATH . '/../public/';
foreach($this->layout()->arrCampo as $key => $data) {
    foreach($data as $key2 => $data2){

        #rodape
        if($data2 == 'Rodapé'){
        $inRodape = TRUE;
    }

    // cabecalho
    if(substr(strtolower($data2),0,10) == 'nº do doc'){
        $inNumDoc = TRUE;
    }
    if(substr(strtolower($data2),0,10) == 'ano'){
        $inAnoDoc = TRUE;
    }
    if(substr(strtolower($data2),0,10) == 'sigla do s'){
        $inSetorDoc = TRUE;
    }
    if(substr(strtolower($data2),0,10) == 'local'){
        $inLocal = TRUE;
    }
    if(substr(strtolower($data2),0,10) == 'data'){
        $inDataDoc = TRUE;
    }

    // assunto
    if(strtolower($data['noCampo']) == 'assunto'){
        $inAssunto = TRUE;
    }

    #cargo assinatura
    if($data2 === 17){
        $inCargoAss = TRUE;
    }

    #setor assinatura
    if($data2 === 18){
        $inSetorAss = TRUE;
    }

    #setor cabecalho
    if($data2 === 23){
        $inSetorCab = TRUE;
    }

    #endereco cabecalho
    if($data2 === 24){
        $inEndCab = TRUE;
    }

    #telefone cabecalho
    if($data2 === 25){
        $inTelCab = TRUE;
    }

    #email cabecalho
    if($data2 === 26){
        $inEmailCab = TRUE;
    }
    }
}

?>
<page> <?php if(empty($this->layout()->viewFor)): ?>
<page_footer style="text-align: right;"></page_footer>
<?php endif; ?>
<?php if(!empty($this->layout()->viewFor)): ?>
<div class="content-geral">
    <?php endif; ?>
    <div class="content">
        <div id="header">
            <p class="smallMargin">
                <!-- cabeçalho -->
                <?php if(!empty($this->layout()->arrOrigem['sqCabecalho'])) :?>


            <table class="tabImagem">
                <tr>
                    <td><?php if(!empty($this->layout()->arrOrigem['deArquivoImagem'])): ?>
                        <img
                        src="img/<?php echo $this->layout()->arrOrigem['deArquivoImagem'] ?>"
                        name="logo" alt="logo" title="logo" width=120
                        height=120 border=0> <?php endif; ?>
                    <?php if(!empty($this->layout()->arrOrigem['nuDigital'])) : ?>
                        <div class="ImagemBar">
                            ICMBio/CDoc&nbsp;&nbsp;&nbsp; <br> <img
                                class=""
                                src="<?php  echo $path . 'barcode.jpg' ?>">
                            <br> <span class="alignCenter"> <?php echo substr($this->layout()->arrOrigem['nuDigital'], 1,7) ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </span>

                        </div>
                    <?php endif; ?>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="smallMargin">
                            <b> <?php if(!empty($this->layout()->arrOrigem['txCabecalho'])
                                && $this->layout()->arrOrigem['txCabecalho'] !== 'Nenhum'): ?>
                                <?php echo $this->layout()->arrOrigem['txCabecalho'] ?>
                                <?php endif; ?>
                            </b>
                        </p>
                    </td>
                </tr>
                <tr>

                    <td>
                     <?php $virgula = null;
                           $cabeçalho = "";
                     ?>
                    <span class="smallMargin" class="alignCenter"> <?php if(!empty($this->layout()->arrOrigem['noPessoa']) && $inSetorCab): ?>
                            <?php $virgula = ', ';
                                $cabeçalho = $this->layout()->arrOrigem['noPessoa'];?>
                            <?php endif; ?> <?php if(!empty($this->layout()->arrOrigem['txEndereco']) && $inEndCab): ?>

                            <?php $cabeçalho .= rtrim(ltrim($virgula .'Endereço: ' .$this->layout()->arrOrigem['txEndereco']));
                            $virgula = ', ';
                            ?>
                            <?php endif; ?> <?php if(!empty($this->layout()->arrOrigem['nuEndereco']) && $inEndCab): ?>
                            <?php $cabeçalho .= rtrim(ltrim($virgula .'Número: ' . $this->layout()->arrOrigem['nuEndereco']));?>
                            <?php endif; ?> <?php if(!empty($this->layout()->arrOrigem['nuTelefone']) && $inTelCab): ?>
                            <?php
                            $telCabecalho = (string)$this->layout()->arrOrigem['nuTelefone'];
                            $telDDDRodape = (string)$this->layout()->arrOrigem['nuDdd'];
                            $telCabecalhoNum = substr($telCabecalho, -8);
                            $telCabecalhoNum1 = substr($telCabecalhoNum, -8, 4);
                            $telCabecalhoNum2 = substr($telCabecalhoNum, -4, 4);
                            $cabeçalho .= rtrim(ltrim($virgula .'Telefone: ' . '(' . $telDDDRodape . ')' . ' ' . $telCabecalhoNum1 . '-' . $telCabecalhoNum2));?>
                            <?php endif; ?>
                            <?php if(!empty($this->layout()->arrOrigem['txEmail']) && $inEmailCab): ?>
                            <?php
                            if($virgula == ', ' ){
                                $cabeçalho .= rtrim(ltrim($virgula));
                            }
                            $cabeçalho .= '<br /> Email: ' . $this->layout()->arrOrigem['txEmail'];?>
                            <?php endif; ?>
                            <?php echo $cabeçalho; ?>
                    </span> <!-- cabeçalho -->

                    </td>
                </tr>
            </table>
            <?php endif;?>
            </p>
            <p class="smallMargin">
                <!-- nome tipo documento -->
            </p>
        </div>
        <p id="<?php echo $posicaoTipoDocumento ?>">
            <?php if(!empty($this->layout()->arrOrigem['noTipoDocumento'])): ?>
            <?php echo $this->layout()->arrOrigem['noTipoDocumento'] ?>
            <?php endif; ?>
            <?php if($inNumDoc): ?>
            N&#186;
            <?php endif; ?>
            <?php if(!empty($this->layout()->arrOrigem['nuArtefato'])): ?>
            <?php echo $this->layout()->arrOrigem['nuArtefato'] ?>
            <?php endif; ?>
            <?php if(!empty($this->layout()->arrOrigem['dtArtefato']) && $inAnoDoc): ?>
            /
            <?php echo $this->layout()->arrOrigem['dtArtefato']->get('Y') ?>
            <?php endif; ?>
            <?php if(!empty($this->layout()->arrOrigem['noPessoa']) && $inSetorDoc): ?>
            /
            <?php echo $this->layout()->arrOrigem['noPessoa'] ?>
            <?php endif; ?>
            <?php if($sqPosicaoData == 1): ?>
            <span style="margin-left: 20px; font-size: 12pt;"> <?php if(!empty($this->layout()->arrOrigem['noMunicipio']) && $inLocal): ?>
                <?php echo $this->layout()->arrOrigem['noMunicipio'] ?>,
                <?php endif; ?> <?php if(!empty($this->layout()->arrOrigem['dtArtefato']) && $inDataDoc): ?>
                <?php $data = $this->layout()->arrOrigem['dtArtefato'];?>
                <?php echo $data->get('d') ?> de <?php echo Zend_Locale_Data::getContent(Zend_Locale::findLocale(), 'month', (int) $data->get('M')); ?>
                de <?php echo $data->get('Y') ?>. <?php endif; ?>
            </span>
            <?php endif; ?>
        </p>
        <?php if($sqPosicaoData == 2): ?>
        <p id="date-abaixo-tipo-doc-right" style="font-size: 12pt;">
            <?php if(!empty($this->layout()->arrOrigem['noMunicipio']) && $inLocal): ?>
            <?php echo $this->layout()->arrOrigem['noMunicipio'] ?>
            ,
            <?php endif; ?>
            <?php if(!empty($this->layout()->arrOrigem['dtArtefato']) && $inDataDoc): ?>
            <?php $data = $this->layout()->arrOrigem['dtArtefato'];?>
            <?php echo $data->get('d') ?>
            de
            <?php echo Zend_Locale_Data::getContent(Zend_Locale::findLocale(), 'month', (int) $data->get('M')); ?>
            de
            <?php echo $data->get('Y') ?>
            .
            <?php endif; ?>
        </p>
        <?php endif; ?>
        <br />
        <table class="ementa">
            <tr>
                <td class="pre-ementa"></td>
                <td class="ementa"><?php if(!empty($this->layout()->arrOrigem['txEmenta'])): ?>
                    <?php echo $this->layout()->arrOrigem['txEmenta'] ?>
                    <?php endif; ?>
                </td>
            </tr>
        </table>
        <br />
        <?php if(!empty($this->layout()->arrOrigem['noCargoInterno'])): ?>
        <br />
        <div>
            <?php echo $this->layout()->arrOrigem['noCargoInterno'] ?>
        </div>
        <?php endif; ?>
        <?php if(!empty($this->layout()->arrOrigem['txAssunto']) && $inAssunto): ?>
        <div>
            Assunto: <b><?php echo $this->layout()->arrOrigem['txAssunto'] ?>
            </b>
        </div>
        <?php endif; ?>
        <?php if(!empty($this->layout()->arrOrigem['txReferencia'])): ?>
        <div style="text-align: justify;">
            Ref:
            <?php echo nl2br($this->layout()->arrOrigem['txReferencia']); ?>
        </div>
        <br />
        <?php endif; ?>
        <p class="alignJustify ajustaBox">
            <span class="marginLeft">&nbsp;</span>
            <?php if(!empty($this->layout()->arrOrigem['txTextoArtefato'])): ?>
            <?php echo nl2br($this->layout()->arrOrigem['txTextoArtefato']) ?>
            <?php endif; ?>
            <br />
            <?php if($sqPosicaoData == 3): ?>
            <p id="date-abaixo-texto" style="font-size: 12pt;">
                <?php if(!empty($this->layout()->arrOrigem['noMunicipio']) && $inLocal): ?>
                <?php echo $this->layout()->arrOrigem['noMunicipio'] ?>
                ,
                <?php endif; ?>
                <?php if(!empty($this->layout()->arrOrigem['dtArtefato']) && $inDataDoc): ?>
                <?php $data = $this->layout()->arrOrigem['dtArtefato'];?>
                <?php echo $data->get('d') ?>
                de
                <?php echo Zend_Locale_Data::getContent(Zend_Locale::findLocale(), 'month', (int) $data->get('M')); ?>
                de
                <?php echo $data->get('Y') ?>
                .
                <?php endif; ?>
            </p>
            <?php endif; ?>
        </p>
        <!--     FECHO -->
        <p class="alignJustify" style="font-size: 12pt;">
            <?php if(!empty($this->layout()->arrOrigem['noFecho'])): ?>
            <span class="marginLeft">&nbsp;</span>
            <?php echo $this->layout()->arrOrigem['noFecho'] . ',' ?>
            <br /> <br /> <br />
            <?php endif; ?>
        </p>
        <span id="signature">
            <p class="mediumMargin" style="font-size: 12pt;">
                <?php if(!empty($this->layout()->arrAssinatura)): ?>
                <?php
                $contS = 0;
                ?>
                <?php foreach($this->layout()->arrAssinatura as $dado): ?>
                <?php
                if($contS !== 0):
                ?>
                <?php if(!empty($dado['noTipoMotivacao']) && $dado['sqTipoMotivacao'] > 1): ?>
                <br />
                <?php echo $dado['noTipoMotivacao'] ?>
                <?php elseif(!empty($dado['deMotivacao'])): ?>
                <br />
                <?php echo $dado['deMotivacao'] ?>
                <?php endif; ?>
                <br /> <br />
                <?php
                endif;
                $contS++;
                ?>
                <?php if(!empty($dado['noPessoa'])): ?>
                <b> <?php echo $dado['noPessoa'] ?>
                </b> <br />
                <?php endif; ?>
                <?php if(!empty($dado['noCargo']) && $inCargoAss): ?>
                <?php echo $dado['noCargo'] ?>
                <?php endif; ?>
                <?php if(!empty($dado['noUnidadeOrg']) && $inSetorAss): ?>
                /
                <?php echo $dado['noUnidadeOrg'] ?>
                <?php endif; ?>
                <br />
                <?php endforeach; ?>
                <?php endif; ?>
            </p>
        </span>
    </div>
    <?php if(!empty($this->layout()->viewFor)): ?>
</div>
<div class="form-actions">
    <label class="pull-left span6"> <input type="checkbox" name=""
        id="deAcordo"
        onClick="
                    if(this.checked == true){
                        document.getElementById('btn-assinar').className = 'btn btn-assinar btn-primary';
                    }else if (this.checked == false){
                        document.getElementById('btn-assinar').className = 'btn btn-assinar btn-primary disabled';
                    }
                " /> De acordo com o conteúdo do documento.
    </label> <a class="btn btn-assinar btn-primary disabled"
        id="btn-assinar"
        href="/artefato/visualizar-caixa-minuta/assinar-minuta/sqArtefato/<?php echo $this->layout()->arrOrigem['sqArtefato']?>">
        Assinar </a> <a class="btn"
        href="/artefato/visualizar-caixa-minuta/visualizar-minuta/sqArtefato/<?php echo $this->layout()->arrOrigem['sqArtefato']?>">
        <i class="icon-pdf"></i> Gerar PDF
    </a> <a class="btn" href="javascript:history.back()"><i
        class="icon-remove"></i> Cancelar</a>
</div>
<?php endif; ?> </page>
<style type="text/css">
<!--
.content { /*size: 8.27in 11.69in;*/
    margin-right: 0.79in;
    margin-left: 0.79in;
    font-size: 12pt;
    /*border: 1px solid grey;*/
}

#header {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 9pt;
}

#titulo-left {
    text-align: left;
    margin-bottom: 0px;
}

#titulo-right {
    text-align: right;
    /* margin-right: 30px; */
    /*  margin-bottom: 80px;*/
}

#titulo-center {
    text-align: center;
    margin-center: 30px;
    /*  margin-bottom: 80px;*/
}

#date-abaixo-tipo-doc-right {
    text-align: right;
}

#date-abaixo-texto {
    text-align: left;
    margin-right: 30px;
}

#date {
    text-align: right;
    margin-right: 30px;
    margin-bottom: 0px;
}

.oficio {
    border: 0px solid white;
}

td.pre-ementa {
    width: 370px;
    border: 0px solid white;
}

td.ementa {
    width: 200px;
    border: 0px solid white;
    text-align: justify;
    font-style: italic;
}

#att {
    margin-left: 50px;
    margin-bottom: 70px;
}

#signature {
    text-align: center;
    margin-top: 10px;
}

.smallMargin {
    margin: 0 0 4px 0;
    padding: 0;
    font-size: 12px
}

.mediumMargin {
    margin: 0 0 10px 0;
    padding: 0;
}

.marginLeft {
    margin-left: 50px;
}

.justify {
    text-align: justify;
}

.alignCenter {
    text-align: center;
}

.rodape-separator {
    width: 600px;
    border: 1px solid #ccc;
    margin: 40px 0 0 70px;
}

table.rodape {
    border: 0px;
    font-size: 10pt;
    font-family: "Times New Roman";
}

td.rodape-left {
    float: left;
    width: 100px;
    border: 0px;
}

td.rodape-right {
    border: 0px;
    padding-top: 10px;
    width: 450;
}

.ajustaBox {
    word-wrap: break-word;
    word-break: break-all;
    width: 99%;
    text-align: justify;
}

.barcode {
    text-align: right;
}

.ImagemLogo {
    width: 50%;
    float: left;
    position: relative;
}

.ImagemBar {
	width: 25%;
	margin-left: 400px;
	margin-top: 40px;
	float: right;
	position: absolute;
}

.tabImagem {
    text-align: center;
    width: 10%;
    margin-left: 100px;
}
-->
</style>
<?php //exit();?>
