<?php
	$this->headScript()
                ->appendFile($this->baseUrl() . '/js/app/artefato/desmembrar-desentranhar/form.js')
                ->appendFile($this->baseUrl() . '/js/components/limit.js');
	echo $this->headScript();
?>
<!--<script type="text/javascript" src="/js/components/limit.js"></script>-->
<div class="modal-header">
    <a title="Fechar" data-dismiss="modal" class="close">×</a>
    <h1>Desmembrar</h1>
</div>
<div class="modal-body">
    <div class="row-fluid">
<form class="form-horizontal" action="<?php echo $this->url(array('action' => 'save')); ?>" method="POST"
      enctype="application/x-www-form-urlencoded">
	<fieldset>
		<div class="control-group">
			<label class="control-label required">
				<span class="required" title="Campo Obrigatório">*</span> Número do Processo
			</label>
			<div class="controls">
                <?php $stDesmembramento = true; ?>

				<?php echo $this->formHidden('sqArtefato', $this->ArtefatoProcesso->getSqArtefato()->getSqArtefato()); ?>
                <?php echo $this->formHidden('stDesmembramento', (integer)$stDesmembramento); ?>
				<?php echo $this->formText('sqArtefato_text', $this->nuArtefatoFormatado, array('class' => 'span12 required sqArtefato', 'id' => 'sqArtefato', 'readonly' => true)); ?>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label required">
				<span class="required" title="Campo Obrigatório">*</span> Unidade Solicitante
			</label>
			<div class="controls">
				<?php // echo $this->formHidden('sqUnidadeSolicitacao_hidden', null); ?>
				<?php echo $this->formText('sqUnidadeSolicitacao', $this->data->getSqUnidadeSolicitacao(), array('class' => 'span12 required')); ?>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label required">
				<span class="required" title="Campo Obrigatório">*</span> Assinatura
			</label>
			<div class="controls">
				<?php echo $this->formText('sqPessoaAssinatura', $this->data->getSqPessoaAssinatura(), array('class' => 'span12 required', 'id' => 'sqPessoaAssinatura' )); ?>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label required">
				<span class="required" title="Campo Obrigatório">*</span> Cargo
			</label>
			<div class="controls">
				<?php echo $this->ComboCustom('sqCargo', $this->data->getSqCargo(), array('class' => 'span12 required'), $this->arrCargos); ?>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label required">
				<span class="required" title="Campo Obrigatório">*</span> Número de Peças
			</label>
			<div class="controls">
				<?php echo $this->formText('txNumeroPecas', $this->data->getTxNumeroPecas(), array('class' => 'span12 required txNuPecas')); ?>
			</div>
			<span class="help-block span7">
				<small>
					Exemplo: 1-10 (ou seja, sequência de páginas de 1 a 10).
					Para desmembrar intervalos de páginas deve ser colocado ","
					entre os intervalos (ou seja 1,3,7,21)
				</small>
			</span>
		</div>
		<div class="control-group">
			<label class="control-label required">
				<span class="required" title="Campo Obrigatório">*</span> Número Novo Processo
			</label>
			<div class="controls">
				<?php echo $this->formText('sqArtefatoDestino', $this->data->getSqArtefatoDestino(), array('class' => 'span12 required sqArtefato', 'id' => 'sqArtefatoDestino')); ?>
			</div>
		</div>
	</fieldset>
</form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary btnConcluir" title="Concluir">Concluir</button>
    <a href="#" class="btn btnCancelar" data-dismiss="modal" title="Cancelar"><i class="icon-remove"></i> Cancelar</a>
</div>