<?php
$assetUrl = new Core_View_Helper_AssetUrl();
$assetUrl->setView($this);
$path = APPLICATION_PATH . '/../public/';

$this->headLink()
        ->setStylesheet($path . $assetUrl->assetUrl('style.css', true, array('address' => 'asset')))
        ->appendStylesheet($path . $assetUrl->assetUrl('style-correct.css', true, array('address' => 'asset')))
        ->appendStylesheet($path . $assetUrl->assetUrl('style-responsive.css', true, array('address' => 'asset')))
        ->appendStylesheet($path . $assetUrl->assetUrl('style.css', true))
        ->appendStylesheet($path . $assetUrl->assetUrl('pdf.css', true))
        ->appendStylesheet($path . $assetUrl->assetUrl('pdf-sistema.css', true));

echo $this->headLink();
?>

<page backtop="2mm" backbottom="3mm" backleft="3mm" backright="3mm">
    <page_footer>
        <div class="content">
            <table class="table-footer">
                <tr>
                    <td class="data">
                        Data: <?php echo date('d/m/Y') . ' às ' . date('H') . 'h' . date('i'); ?>
                    </td>
                    <td class="responsavel">
                        Responsável: <?php echo \Core_Integration_Sica_User::getUserName(); ?>
                    </td>
                    <td class="paginacao">
                        Página [[page_cu]] de [[page_nb]]
                    </td>
                </tr>
            </table>
        </div>
    </page_footer>
    <div class="content">
        <div>
            <img src="<?php echo $path . $assetUrl->assetUrl('icons/marcaICMBioBig.png', true, array('address' => 'asset')) ?>" name="figura1" class="pull-left" width="100" border="0" />
            <span align="center">
                <h3>SICA-e - Sistema de Integra&ccedil;&atilde;o e Controle de Acesso</h3>
                <h4 align="center">Resultado da Pesquisa de Sistema</h4>
            </span>
        </div>
        <br/>
        <br/>
        <table class="table table-condensed" id="table-pdf">
            <thead>
                <tr class="title">
                    <th>SIGLA</th>
                    <th class="x-medium">Sistema</th>
                    <th class="medium">Responsável</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Tipo de Arquitetura</th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($this->layout()->data as $key => $value) : ?>
                    <tr class="<?php echo ($key % 2) ? 'odd' : 'even'; ?>">
                        <td>
                            <?php echo $value['sgSistema']; ?>
                        </td>
                        <td class="x-medium">
                            <?php echo $value['noSistema']; ?>
                        </td>
                        <td class="medium">
                            <?php echo $value['noPessoa']; ?>
                        </td>
                        <td>
                            <a href="mailto:<?php echo $value['txEmail']; ?>"><?php echo $value['txEmail']; ?></a>
                        </td>
                        <td align="center">
                            <?php $ddd = '(' . $value['nuDdd'] . ') '; ?>
                            <?php $telefone = $value['nuTelefone']; ?>

                            <?php if (strlen($value['nuTelefone']) >= 5) { ?>
                                <?php $telefone = substr($value['nuTelefone'], 0, 4) . '-' . substr($value['nuTelefone'], 4); ?>
                            <?php } else { ?>
                                <?php $telefone = $value['nuTelefone']; ?>
                            <?php } ?>

                            <?php if (!$value['nuTelefone']): ?>
                                <?php $ddd = ''; ?>
                                <?php $telefone = ''; ?>
                            <?php endif; ?>

                            <?php echo $this->escape($ddd . $telefone); ?>
                        </td>
                        <td>
                            <?php echo $value['noArquitetura']; ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                <tr>
                    <td colspan="6" class="total-registro">
                        Total de Registros: <?php echo count($this->layout()->data); ?>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</page>
