<script type="text/javascript" src="/js/app/auxiliar/carimbo/index.js"></script>

<h1>Pesquisar Carimbo</h1>

<form class="form-horizontal" action="<?php echo $this->urlCurrent(array('action' => 'list'))?>" method="post" id="form-carimbo">
    <div class="row-fluid">
        <div class="span12">
            <div class="top-bar">
                <div class="btn-group pull-right">
                    <a href="<?php echo $this->urlCurrent(array('action' => 'create'))?>" class="btn btn-primary" id="novo">
                        Cadastrar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <fieldset>
    <legend>Filtros</legend>
        <div class="control-group">
            <label class="control-label">Descrição do Carimbo</label>
            <div class="controls">
                <?php echo $this->ComboCustom('noCarimbo', 'noCarimbo', array('class'=>'span3'),$this->items); ?>
            </div>
        </div>

        <div class="form-actions">
            <button class="btn btn-primary">
                <i class="icon-search icon-white"></i>
                Pesquisar
            </button>
             <button class="btn " type="reset">Limpar</button>
        </div>
    </fieldset>
</form>

<div class="control-group hidden">
<fieldset>
    <legend>
        Resultado da Pesquisa
    </legend>
</fieldset>
    <table id="table-grid-carimbo">
        <thead>
            <tr>
                <th width="35%">Descrição</th>
                <th width="35%">Tipo de Artefato</th>
                <th width="30%">Ações</th>
            </tr>
        </thead>
    </table>
    <div class="form-actions">
        <a class="btn btn-primary" title="Filtros" href="auxiliar/carimbo/index">Filtros</a>
        <a class="btn" title="Cadastrar" href="auxiliar/carimbo/create">Cadastrar</a>
    </div>
</div>

<div class="modal hide" id="modalCarimbo">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">×</button>
<h3 id="modal-title">Carimbo</h3>
</div>
<div class="modal-body">
</div>
<div class="modal-footer">
<a href="#" class="btn" data-dismiss="modal">Fechar</a>
</div>
</div>