<form class="form-horizontal" id="form-create-pessoa">
    <div class="top-bar">
        <p class="requiredLegend pull-left">Campos obrigatórios <span class="required">*</span></p>
    </div>

    <!--TIPO DE PESSOA-->
    <fieldset>
        <legend>Pessoa</legend>
        <div class="control-group">
            <label class="control-label" for="sqTipoPessoa"><span title="Campo Obrigatório"
 class="required">*</span> Tipo de Pessoa</label>
            <div class="controls">
                <?php
                echo $this->ComboCustom('sqTipoPessoa', NULL, array('class' => 'required'), $this->cmb['sqTipoPessoa']);
                ?>
            </div>
        </div>
        <br/>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary btn_proximo" title="Salva e segue para a próxima aba">
                <i class="icon-chevron-right icon-white"></i> Próximo
            </button>
            <a class="btn" href="<?php echo $this->urlCurrent(array('action' => 'index')) ?>" title="Cancelar"><i class="icon-remove"></i> Cancelar</a>
        </div>
    </fieldset>
</form>

<script src="<?php echo $this->assetUrl('sica/pessoa/rota.js') ?>" type="text/javascript"></script>