<option value=""><?php echo $this->translate('label-select'); ?></option>
<?php foreach ($this->arrOptions as $key => $value) : ?>
    <option value="<?php echo $key; ?>"><?php echo $value; ?></option>
<?php endforeach; ?>