﻿/* ========== Text Styles ========== */
hr { color: #000000}
body, table, span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
}
span.rvts7
{
 font-size: 16pt;
 font-weight: bold;
}
span.rvts8
{
 font-size: 18pt;
 font-weight: bold;
 color: ;
}
span.rvts9 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts10, span.rvts10 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts11
{
 color: #00000a;
}
span.rvts12
{
 color: #000000;
}
span.rvts13
{
}
span.rvts14
{
 font-weight: bold;
}
span.rvts15
{
}
span.rvts16
{
 font-weight: bold;
}
span.rvts17
{
 font-size: 14pt;
 font-family: 'Arial Black', 'Gadget', sans-serif;
 font-weight: bold;
}
span.rvts18
{
 font-weight: bold;
 color: #000000;
}
span.rvts19 /* Font Style */
{
}
span.rvts20
{
 font-size: 12pt;
 font-weight: bold;
 color: #2f6b55;
}
span.rvts21
{
 font-size: 14pt;
 font-weight: bold;
}
span.rvts22
{
 font-weight: bold;
}
span.rvts23
{
 font-style: italic;
 color: #000000;
}
span.rvts24
{
 font-size: 12pt;
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts25
{
 color: #000000;
}
span.rvts26
{
 font-size: 14pt;
 font-weight: bold;
 color: #000000;
}
span.rvts27
{
 font-size: 14pt;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
}
.rvps3
{
 text-align: center;
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 text-align: justify;
 margin: 0px 0px 0px 54px;
}
.rvps6
{
 text-align: justify;
 margin: 0px 0px 0px 57px;
}
.rvps7
{
 text-align: center;
}
.rvps8
{
 text-align: justify;
}
.rvps9
{
 text-align: justify;
 text-indent: 48px;
}
.rvps10 /* Paragraph Style */
{
}
.rvps11
{
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
.rvps12
{
 margin: 7px 0px 7px 0px;
}
.rvps13
{
 text-indent: 48px;
 line-height: 1.15;
 margin: 0px 0px 13px 0px;
}
.rvps14
{
 text-indent: 48px;
 line-height: 1.15;
 margin: 0px 0px 13px 48px;
}
