<?php
$path = current(explode ('application', __DiR__))
    . 'data'           . DIRECTORY_SEPARATOR
    . 'upload'         . DIRECTORY_SEPARATOR
    . 'endereco'       . DIRECTORY_SEPARATOR
    . $this->sqAnexoComprovante->getDeCaminhoArquivo();

$ext = substr($path, -3);
?>
<div class="modal-header">
    <a class="close" data-dismiss="modal" title="Fechar">×</a>
    <h3 class="title-main">Visualizar Imagem</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <form class="form-horizontal" id="form-documento-modal" action="/auxiliar/documento/save" method="post" enctype="multipart/form-data">
            <img class="imgPath" src="data:image/<?php echo $ext; ?>;base64,<?php echo base64_encode(file_get_contents($path));?>" />
        </form>
    </div>
</div>
<div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Fechar</a>
</div>