<?php

    $this->headScript()->appendFile($this->assetUrl('sica/menu/menu.js'));
    $this->headScript()->appendFile($this->assetUrl('sica/menu/edit.js'));
    echo $this->headScript();
?>
<form class="form-horizontal"
      action="<?php echo $this->url(array('action'=>'save')) ?>"
      method="post">
    <input type="hidden" name="sqMenu" value="<?php echo $this->data->getSqMenu(); ?>" />
    <?php echo $this->render('menu/form.phtml');?>
</form>