<div class="top-bar">
    <p class="requiredLegend pull-left">
        Campos obrigatórios <span class="required">*</span>
    </p>
</div>
<fieldset>
    <div class="control-group">
        <label for="sqSistema" class="control-label"><span class="required"
            title="Campo Obrigatório"
>*</span> Sistema </label>
        <div class="controls">
            <?php
            echo $this->comboSistema(
                            'sqSistema',
                            $this->data->getSqSistema()->getSqSistema(),
                            array('class'=>'required span9'),
                            $this->sistemas
            );
            ?>
        </div>
    </div>
    <div class="control-group">
        <label for="noMenu" class="control-label"><span class="required"
            title="Campo Obrigatório"
>*</span> Nome do Menu </label>
        <div class="controls">
            <input type="text" id="noMenu" class="span9 required" name="noMenu"
                maxlength="50"
                value="<?php echo $this->data->getNoMenu(); ?>">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="menuRaiz"><span class="required" title="Campo Obrigatório"
>*</span> Menu Raiz?</label>
        <div class="controls">
                <input
                    class="menuRaiz required"
                    name="grupoRaiz"
                    type="radio"
                    value="s"
                    <?php echo ($this->data->getSqMenuPai() === NULL && $this->data->getSqSistema()->getSqSistema() )?'checked="checked"':NULL; ?>
                    disabled="disabled">
                Sim
                &nbsp;&nbsp;
                <input
                    class="menuRaiz required"
                    name="grupoRaiz"
                    type="radio"
                    value="n"
                    <?php echo ($this->data->getSqMenuPai() !== NULL && $this->data->getSqSistema()->getSqSistema() )?'checked="checked"':NULL; ?>
                    disabled="disabled">
                Não
        </div>
    </div>
    <div id="selectMenuDependencia" class="control-group hide">
        <label for="dependencia" class="control-label"><span title="Campo Obrigatório"
 class="required">*</span> Menu de Dependência</label>
        <div class="controls" id="menu-sistema">
                <?php if ($this->menus): ?>
                    <?php echo $this->comboMenu('sqMenuPai',
                                                ($this->data->getSqMenuPai() !== NULL)?$this->data->getSqMenuPai()->getSqMenu():NULL,
                                                array('class'=>'required'), $this->menus) ?>
                <?php else: ?>
                    <?php echo $this->formSelect('sqMenuPai',
                                                 ($this->data->getSqMenuPai() !== NULL)?$this->data->getSqMenuPai()->getSqMenu():NULL,
                                                 array('class' => 'required'), array('' => $this->translate('label-select')))?>
               <?php endif; ?>
            </div>
    </div>
    <div id="selectAbaixoDe" class="control-group hide">
        <label for="abaixoDe" class="control-label">Ordenar Abaixo de</label>
        <div class="controls" id="selectAbaixoDeDiv">
             <?php if($this->dependencia):?>
                 <?php echo $this->comboMenu('abaixoDe', ($this->data->getNuOrdemApresent()-1) , array(), $this->dependencia, 'nuOrdemApresent') ?>
             <?php else: ?>
                 <?php echo $this->comboCustom('abaixoDe', null, array(), array()) ?>
             <?php endif; ?>

        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary">Concluir</button>
        <a class="btn" href="<?php
        $urlCancelOptions = array('action' => 'index');
        if ($this->data->getSqSistema()->getSqSistema()) {
            $urlCancelOptions['sqSistema'] = $this->data->getSqSistema()->getSqSistema();
        }
        echo $this->urlCurrent($urlCancelOptions);
        ?>"><i class="icon-remove"></i> Cancelar</a>
    </div>
</fieldset>
<div class="control-group" >
    <table id="table-menu-sistema" class="table table-striped table-bordered hide">
        <thead>
            <tr>
                <th width="75%">Menu</th>
                <th width="7%">Ordem</th>
                <th>Status</th>
                <th width="7%">Ações</th>
            </tr>
        </thead>
        <tbody role="alert" aria-live="polite" aria-relevant="all">
        </tbody>
    </table>
</div>
<script src="<?php echo $this->assetUrl('/sica/menu/menu.js') ?>" type="text/javascript"></script>
<script src="<?php echo $this->assetUrl('/sica/menu/table-tree.js') ?>" type="text/javascript"></script>