<form class="form-horizontal"
      action="<?php echo $this->url(array('action' => 'list')); ?>"
      method="post"
      id="form-busca-menu">
    <a name="filtros"></a>
    <div class="top-bar">
        <p class="requiredLegend pull-left">Campos obrigatórios <span class="required">*</span></p>
        <div class="btn-group pull-right">
            <?php echo $this->buttonCadastrar($this->urlCurrent(array('action' => 'create')),array('action' => 'create'),array('class'=>'btn-primary')); ?>
        </div>
    </div>
    <fieldset>
        <?php echo $this->formHidden('sistema-sel', NULL); ?>
        <legend>Filtros</legend>
        <div class="control-group">
            <label class="control-label"><span class="required" title="Campo Obrigatório">* </span>Sistema</label>
            <div class="controls">
                <?php echo $this->comboSistema('sqSistema', $this->sqSistema, array('class' => 'required span9'), $this->sistemas); ?>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary pesquisar"><i class="icon-search icon-white"></i> Pesquisar</button>
            <button class="btn" type="reset">Limpar</button>
        </div>
    </fieldset>
</form>
<div class="control-group hide" id="grid-menu" >
    <form class="form-horizontal">
        <fieldset>
            <legend>Resultado da Pesquisa</legend>
            <table id="table-menu-sistema" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Menu</th>
                        <th width="50px">Status</th>
                        <th width="75px">Ações</th>
                    </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                </tbody>
            </table>
            <br />
            <div class="form-actions">
                <button type="button" class="btn btn-primary filtro">Filtros</button>
                <?php echo $this->buttonCadastrar($this->urlCurrent(array('action' => 'create')),array('action' => 'create')); ?>
                <a id="gerar-pdf" href="<?php echo $this->url(array('action' => 'gerar-pdf')); ?>" class="btn" target="_blank"><i class="icon-pdf"></i> Gerar PDF</a>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal hide" id="menuModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h3>Visualizar Menu</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            Sistema : <span id="viewNoSistema"></span>
        </div>
        <div class="control-group">
            Menu : <span id="viewNoMenu"></span>
        </div>
        <div class="control-group">
            Item de Dependência : <span id="viewNoMenuPai"></span>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Fechar</a>
    </div>
</div>
<script src="<?php echo $this->assetUrl('/sica/menu/menu.js') ?>" type="text/javascript"></script>
<script src="<?php echo $this->assetUrl('/sica/menu/index.js') ?>" type="text/javascript"></script>