<link href="assets/css/style.css" media="screen" rel="stylesheet" type="text/css" >
<link href="assets/css/style-correct.css" media="screen" rel="stylesheet" type="text/css" >
<link href="assets/css/style-responsive.css" media="screen" rel="stylesheet" type="text/css" >
<link href="assets/css/style-correct.css" media="screen" rel="stylesheet" type="text/css" >
<link href="assets/css/style-responsive.css" media="screen" rel="stylesheet" type="text/css" >

<page>
<div id="header">
        <img src="../public/assets/img/icons/marcaICMBioBig.png" name="figura1" class="pull-left" width=126 height=108 border=0>
        <h2>Sistema de Integra&ccedil;&atilde;o e Controle de Acesso</h2>
        <h3>Resultado da Pesquisa de Menu</h3>
    </div>
<div class="content">
    <span>
        Quantidade : <?php echo count($this->layout()->data); ?> registros
    </span>
    <table>
        <thead>
            <tr>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->layout()->data as $key => $value) :?>
            <?php
                $label = $value['noMenu'];
                $label = ($value['nuNivel'] > 1)?'<i class="icon-subnivel subnivel"></i>'.$label:$label;
                $label = str_repeat('&nbsp;', $value['nuNivel'] * ($value['nuNivel'] - 1)) . $label;
            ?>
            <tr>
                <td>
                    <?php echo $label; ?>
                </td>
            </tr>
            <?php endforeach;?>
        </tbody>
    </table>
</div>
</page>

<style type="text/css">
<!--
.content {
    margin-right: 0.79in;
    margin-left: 0.79in;
    font-size: 12pt;
    clear : both;
}

#header {
    width: 100%;
    margin-bottom: 80px;
    font-family: "Times New Roman";
    font-size: 9pt;
}

h3, h2 {
    text-align : center;
}

table {
    width: 100%;
    border: solid 1px black;
}

th {
    border-bottom: solid 1px black;
}

td {
    border: solid 1px black;
}

.smallMargin {
    margin: 0 0 4px 0;
    padding: 0;
}

.mediumMargin {
    margin: 0 0 10px 0;
    padding: 0;
}

.marginLeft {
    margin-left: 50px;
}
-->
</style>