<div class="tab-pane active" id="dadosDocumento">
    <?php
    $sqGrauAcesso = (!empty($this->dataGrauAcesso)) ? $this->dataGrauAcesso->getSqGrauAcesso()->getSqGrauAcesso() : '';
    if (!$sqGrauAcesso) {
        $sqGrauAcesso = ($this->grau != NULL ? $this->grau : \Core_Configuration::getSgdoceGrauAcessoPublico());
    }
    $stMigracao = $this->data->getStMigracao();
    ?>

    <fieldset>

        <div class="control-group">
            <label class="control-label" for="nuDigital">Digital</label>
            <div class="controls">
                <?php                
                    $sqLoteEtiqueta = $this->data->getSqLoteEtiqueta()->getSqLoteEtiqueta()->getSqLoteEtiqueta();                        
                    $nuDigital = $this->data->getNuDigital()->getNuEtiqueta();

                    if ($stMigracao && strlen($nuDigital) < 7):
                        $nuDigital = str_pad($nuDigital, 7, '0', STR_PAD_LEFT);
                    endif;

                    echo $this->formHidden('sqLoteEtiqueta',$sqLoteEtiqueta);
                    echo $this->formText('nuDigital',$nuDigital,array('id'=>'digital','readonly'=>'readonly','class'=>'input-large span5'));
                ?>
            </div>
        </div>

        <?php if (!$this->isSIC): // quando é sic o documento sera sempre publico ?>
            <div class="control-group">
                <label class="control-label" for="sqGrauAcesso"><span class="required">* </span>Grau de Acesso</label>
                <div class="controls">
                    <?php echo $this->ComboCustom('sqGrauAcesso', $sqGrauAcesso, array('class' => 'span5 required'), $this->grauAcesso); ?>
                </div>
            </div>
        <?php endif; ?>

        <div class="control-group">
            <label class="control-label"><span class="required">* </span>Tipo</label>
            <div class="controls">
                <?php
                    if ($this->isSIC) {
                        $arrAttribs = array('class'=>'span5','disabled'=>'disabled');

                        $sqTipoDocumento_hidden = $this->docSIC->getSqTipoDocumento();
                        $sqTipoDocumento        = $this->docSIC->getNoTipoDocumento();
                    } else {
                        $sqTipoDocumento_hidden = ( $this->data->getSqTipoDocumento()) ?
                                                    $this->data->getSqTipoDocumento()->getSqTipoDocumento() :
                                                        NULL;
                        $sqTipoDocumento        = ( $this->data->getSqTipoDocumento() ) ?
                                                    $this->data->getSqTipoDocumento()->getNoTipoDocumento() :
                                                        NULL;
                        $arrAttribs = array('class'=>'required span5');
                    }

                    echo $this->formHidden('sqTipoDocumento_hidden', $sqTipoDocumento_hidden);
                    echo $this->formText('sqTipoDocumento', $sqTipoDocumento, $arrAttribs);
                ?>

            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="appendedInputButton"><span class="required">* </span>Data do Documento</label>
            <div class="controls">
                <?php
                    $dtArtefato = null;
                    if ($this->data->getDtArtefato()){
                        $dtArtefato = $this->data->getDtArtefato()->get(Zend_Date::DATE_MEDIUM);
                    }
                ?>
                <div data-date="<?php echo \Zend_Date::now()->get('dd/MM/yyyy') ?>"
                     data-date-format="dd/mm/yyyy" class="input-append date">
                        <input value="<?php echo $dtArtefato; ?>"
                               class="input-small dateBR required" id="dtArtefato"
                               name="dtArtefato" mask="date" type="text" />
                        <a class="btn add-on right" title="Calendário"> <i class="icon-calendar"></i></a>
                </div>
            </div>
        </div>
    </fieldset>
    <br>
</div>
