<br>
<!------ INICIO DAS ABAS --------->
<ul class="nav nav-tabs" id="tabs-usuario-externo">
    <li class="active"><a data-toggle="tab" href="#1">1 - Dados Básicos</a></li>
    <li class=""><a data-toggle="tab" href="#2" class="">2 - Endereço/Telefone</a></li>
    <li class=""><a data-toggle="tab" href="#3">3 - Sistemas</a></li>
</ul>


<div class="top-bar">
    <p class="requiredLegend pull-left">Campos obrigatórios *</p>
</div>
<br>
<form class="form-horizontal" id="form-usuario-externo" action="<?php echo $this->urlCurrent(array('action' => 'save')) ?>" method="post" validator>
    <div class="tab-content">
        <!----DADOS BÁSICOS---->
        <div id="1" class="tab-pane active">
            <?php echo $this->render('/usuario-externo-pessoa-juridica/form.phtml'); ?>
        </div>

        <!---ENDEREÇO / TELEFONE--->
        <div id="2" class="tab-pane">
            <?php echo $this->render('/usuario-externo/endereco-telefone.phtml'); ?>
        </div>

        <!---SISTEMAS--->
        <div id="3" class="tab-pane">
            <?php echo $this->render('/usuario-externo/sistema.phtml'); ?>
        </div>
    </div>
</form>
<script src="<?php echo $this->assetUrl('sica/usuario-externo/form.js', array('address' => 'js')); ?>" type="text/javascript"></script>
<script src="<?php echo $this->assetUrl('sica/endereco/endereco.js', array('address' => 'js')); ?>" type="text/javascript"></script>
<script src="<?php echo $this->assetUrl('sica/usuario-externo/pessoa-juridica.js', array('address' => 'js')); ?>" type="text/javascript"></script>