<?php
echo $this->headScript()
        ->appendFile($this->baseUrl() . '/js/app/artefato/tramite/modal-rastreamento.js');
?>
<div class="modal-header">
    <a title="Fechar" data-dismiss="modal" class="close">×</a>
    <h3>Rastreamentos - <?php echo $this->nuArtefato($this->entityArtefato) ?></h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="control-group">
            <form class="form-horizontal" method="post" id="form_rastreamento"
                  action="<?php echo $this->urlCurrent(array(
                        'module'=>'artefato',
                        'controller'=>'tramite',
                        'action' => 'list-rastreamento')); ?>">
                <?php echo $this->formHidden('sqArtefato',$this->entityArtefato->getSqArtefato()); ?>
                <table id="grid_rastreamento">
                    <thead >
                        <tr>
                            <th>Destinatário</th>
                            <th>Tipo de Envio</th>
                            <th>Código</th>
                            <th>Dt. Envio</th>
                            <th>Remetente</th>
                            <th class="sorting_disabled">Ações</th>
                        </tr>
                    </thead>
                </table>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn btnCancelar" data-dismiss="modal" title="Cancelar"><i class="icon-remove"></i> Cancelar</a>
</div>