<?php echo $this->headScript()->appendFile($this->baseUrl('/js/app/artefato/dossie/form.js'));?>
<div class="alert alert-error campos-obrigatorios hidden"></div>
<h1>Validar Digital</h1>
<br />
<BR />

<form class="form-horizontal" action="" method="post" id="formDossie" name="formDossie">
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="digital">Digital</label>
            <div class="controls"><input type="text" class="input-large" id="nuDigital" name="nuDigital" maxlength="15"></div>
        </div>
        <BR />
    </fieldset>
    <div class="form-actions">
		<button class="btn btn-primary" id="btValidar" title="Validar">Validar</button>
	    <a class="btn" href="#"><i	class="icon-remove"></i> Cancelar</a>
	</div>
</form>

<!----MODAL MENSAGEM DIGITAL CADASTRADA----->
<div class="modal hide fade" id="mensagemSucesso">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Atenção</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <fieldset>
                <p>Número da digital já cadastrado!</p>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" href="artefato/dossie/index/">Fechar</a>
    </div>
</div>