<script type="text/javascript" src="/js/app/artefato/destino/destino.js"></script>
<script type="text/javascript" src="/js/app/artefato/documento/destino.js"></script>
<script type="text/javascript" src="/js/components/limit.js"></script>

<script type="text/javascript" src="/js/app/artefato/destino/encaminhado.js"></script>

<script type="text/javascript" src="/js/app/arquivo/emprestimo/modal-emprestimo.js"></script>
<div class="modal-header">
    <a title="Fechar" data-dismiss="modal" class="close">×</a>
    <h1>Emprestar Documento</h1> <!--deve ser h1 para o validador saber onde coloca a mensagem-->
</div>

<div class="modal-body">
    <div class="row-fluid">
        <form class="form-horizontal" method="post" id="form_artefato_emprestimo"
              action="<?php echo $this->urlCurrent(array(
                  'module'=>'arquivo',
                  'controller'=>'emprestimo',
                  'action' => 'save')); ?>">
            <div class="top-bar">
                <p class="requiredLegend pull-left">
                    Campos obrigatórios <span class="required">*</span>
                </p>
            </div>

            <?php
            $aux = array();
            foreach ($this->arrArtefato as $entityArtefato) {
                echo $this->formHidden('sqArtefato[]',$entityArtefato->getSqArtefato());

                $sqTipoArtefato = $entityArtefato->getSqTipoArtefatoAssunto()->getSqTipoArtefato()->getSqTipoArtefato();

                if ($sqTipoArtefato == \Core_Configuration::getSgdoceTipoArtefatoProcesso()) {
                    if ($entityArtefato->getSqArtefatoProcesso()->getCoAmbitoProcesso() == 'F') {
                        $nr = $this->maskNumber($entityArtefato->getNuArtefato(), '99999.999999/9999-99');
                    }else{
                        $nr = $entityArtefato->getNuArtefato();
                    }
                } else {
                    $nr = $entityArtefato->getNuDigital()->getNuEtiqueta();
                }

                $aux[] = $nr;
            }

            $labelFieldsetEmprestimo          = 'Artefato a ser emprestado';
            $labelTexteareaFieldsetEmprestimo = 'Artefato';

            if($aux > 1){
                $labelFieldsetEmprestimo          = 'Artefatos a serem emprestados';
                $labelTexteareaFieldsetEmprestimo = 'Artefato(s)';
            }
            ?>

            <fieldset>
                <legend><?php echo $labelFieldsetEmprestimo;?></legend>
                <div class="control-group">
                    <label class="control-label"><?php echo $labelTexteareaFieldsetEmprestimo; ?></label>
                    <div class="controls">
                        <?php echo $this->formTextarea('artefatos',  implode(', ', $aux), array('disabled'=>'disabled', 'class'=>'span12','rows'=>2))?>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Informações do emprestimo</legend>
                <?php echo $this->partial('destino/dados-destino.phtml',
                                          'artefato',
                                          array('tipoPessoa'=>$this->tipoPessoa,
                                                'cargo'=>$this->cargo));?>

                <div class="control-group">
                    <label class="control-label"><span class="required">*</span> Motivo</label>
                    <div class="controls">
                        <?php echo $this->formTextarea('txMotivo',  '', array('class'=>'span12 required','rows'=>2, 'maxlength'=>250))?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label"><span class="required">*</span> Entrege para</label>
                    <div class="controls">
                        <?php echo $this->formText('noPessoaEntregue',  '', array('class'=>'span12 required', 'maxlength'=>250))?>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" id="btnSave" class="btn btn-primary" title="Salvar">Salvar</button>
    <a href="#" class="btn" data-dismiss="modal" title="Cancelar"><i class="icon-remove"></i> Cancelar</a>
</div>