<?php echo $this->render('usuario-externo/endereco.phtml') ?>
<?php echo $this->render('usuario-externo/telefone.phtml') ?>
<br />
<div class="form-actions">
    <a data-toggle="tab" href="#1" class="btn btn_prev_wizard"><i class="icon-chevron-left"></i> Anterior</a>
    <a data-toggle="tab" href="#3" class="btn btn-primary btn_next_wizard">Próximo <i class="icon-chevron-right icon-white"></i></a>
    <?php if ($this->data->getSqUsuarioExterno()) { ?>
        <a data-toggle="modal" class="btn concluir">Concluir</a>
    <?php } ?>

    <?php if ($this->data->getSqUsuarioExterno()) : ?>
        <button id="btnConcluir" class="btn cancelar" type="button">
            <i class="icon-remove"></i>  Cancelar
        </button>
    <?php else :?>
        <a href="<?php echo $this->url(array('controller' => 'usuario-externo', 'action' => 'login'), NULL, TRUE); ?>"
           class="btn"><i class="icon-remove"></i> Cancelar</a>
    <?php endif; ?>
</div>