<script src="<?php echo $this->assetUrl('sica/usuario-externo/search.js'); ?>" type="text/javascript"></script>
<form class="form-horizontal" action="<?php echo $this->urlCurrent(array('action' => 'list')); ?>" id="form-pesquisa-usuario" method="get">
    <input type="hidden" id="search" name="search" value="0" />
    <input type="text" id="pesquisa-pdf" class="hide" name="pesquisa-pdf" />
    <div class="top-bar">
        <p class="requiredLegend pull-left">
            Pelo menos um dos filtros deve ser preenchido
        </p>
    </div>
    <a name="filtros"></a>
    <fieldset>
        <legend>Filtros</legend>
        <div class="control-group">
            <label class="control-label" for="noUsuarioExterno">Nome do Usuário</label>
            <div class="controls">
                <input type="text" name="noUsuarioExterno" class="span9" id="noUsuarioExterno" maxlength="200" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="noFantasia">Razão Social/Nome Fantasia</label>
            <div class="controls">
                <input type="text" name="noFantasia" class="span9" id="noFantasia" maxlength="250" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="cpfCnpjUsuario">CPF/CNPJ</label>
            <div class="controls">
                <input type="text" class="span4" name="cpfCnpjUsuario" id="cpfCnpjUsuario" maxlength="18" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sqSistema">Sistema</label>
            <div class="controls">
                <?php echo $this->comboSistema('sqSistema', NULL, array('class' => 'span9'), $this->sistemas); ?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sqPerfil">Perfil</label>
            <div class="controls" id="perfil">
                <?php echo $this->comboCustom('sqPerfil', NULL, array('class' => 'span9'), array()); ?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="stRegistroAtivo">Status</label>
            <div class="controls">
                <select name="stRegistroAtivo" class="span4">
                    <option value="">Selecione uma opção</option>
                    <option value="1">Ativo</option>
                    <option value="0">Inativo</option>
                    <option value="2">Pendente de Ativação</option>
                </select>
            </div>
        </div>
        <br/>
        <div class="form-actions">
            <button class="btn btn-primary btn_pesquisar"><i class="icon-search icon-white"></i> Pesquisar</button>
            <button type="reset" class="btn limpar">Limpar</button>
        </div>
    </fieldset>
</form>

<div class="row-fluid hidden">
    <div class="span12">
        <form class="form-horizontal">
            <fieldset>
                <legend>Resultado da Pesquisa</legend>
                <table id="table-usuario">
                    <thead>
                        <tr>
                            <th>Tipo de Usuário</th>
                            <th>Nome/Razão Social</th>
                            <th>E-mail</th>
                            <th>CPF/CNPJ/Passaporte</th>
                            <th>Sistema</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                </table>
            </fieldset>

            <div class="form-actions">
                <a class="btn btn-primary filtro" href="<?php echo $this->urlCurrent(array('action' => 'index')); ?>#filtros">Filtros</a>
                <a class="btn gerar-pdf" href="<?php echo $this->urlCurrent(array('action' => 'gerar-pdf')); ?>"><i class="icon-pdf"></i> Gerar PDF</a>
            </div>
        </form>
    </div>
</div>

<?php echo $this->partial('modal-view.phtml', array('title' => 'usuario-externo_view')); ?>