<div id="resumo" class="modal hide fade in" aria-hidden="false">
    <div class="modal-header">
        <a title="Fechar" data-dismiss="modal" class="close">×</a>
        <h3>Resumo do Cadastro</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <fieldset>
                <p class="span11 resumo-pf"><b class="span4 resumo-cpf">CPF</b> <span></span></p>
                <p class="span11 resumo-pf"><b class="span4 resumo-nome">Nome Completo</b> <span></span></p>
                <p class="span11 resumo-pf"><b class="span4 resumo-email">E-mail</b> <span></span></p>
                <p class="span11 resumo-pj"><b class="span4 resumo-cnpj">CNPJ</b> <span></span></p>
                <p class="span11 resumo-pj"><b class="span4 resumo-razao">Razão Social</b> <span></span></p>
                <p class="span11 resumo-pj"><b class="span4 resumo-fantasia">Nome Fantasia</b> <span></span></p>
                <p class="span11 resumo-pj"><b class="span4 resumo-email">E-mail</b> <span></span></p>
            </fieldset>
            <fieldset>
                <legend>Endereço</legend>
                <p class="span11"><b class="span4 resumo-pais">País</b> <span></span></p>
                <p class="span11"><b class="span4 resumo-cep">CEP</b> <span></span></p>
                <p class="span11"><b class="span4 resumo-estado">UF</b> <span></span></p>
                <p class="span11"><b class="span4 resumo-municpio">Cidade</b> <span></span></p>
                <p class="span11"><b class="span4 resumo-endereco">Endereço</b> <span></span></p>
            </fieldset>
            <fieldset>
                <legend>Telefone</legend>
                <p class="span11"><b class="span4 resumo-telefone">Telefone Fixo</b> <span></span></p>
                <p class="span11"><b class="span4 resumo-celular">Telefone Celular</b> <span></span></p>
            </fieldset>
            <fieldset>
                <legend>Sistemas</legend>
                <span id="resumo-sistemas"></span>
            </fieldset>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="concluir-resumo">Concluir</button>
        <a data-dismiss="modal" id="btnCancelar" class="btn" href="#">Fechar</a>
    </div>
</div>