<br>
<form class="form-horizontal" id="form-create-usuario-externo">
    <div class="top-bar">
        <p class="requiredLegend pull-left">Campos obrigatórios <span class="required">*</span></p>
    </div>

    <!--TIPO DE RECEITA-->
    <fieldset>
        <legend>Tipo de Usuário</legend>
        <div class="control-group">
            <label for="tipoPessoa" class="control-label"><span title="Campo Obrigatório"
 class="required">*</span> Tipo de Usuário</label>
            <div class="controls">
                <?php
                echo $this->comboCustom('sqTipoPessoa', NULL, array('class' => 'required'), array(
                    'pessoa-fisica' => 'Pessoa Física',
                    'pessoa-juridica' => 'Pessoa Jurídica'
                ));
                ?>
            </div>
        </div>
        <br>
        <div class="form-actions">
            <button class="btn btn-primary btn_proximo" type="submit">
                Próximo <i class="icon-chevron-right icon-white"></i>
            </button>
            <a href="<?php echo $this->url(array('controller' => 'usuario-externo', 'action' => 'login'), NULL, TRUE); ?>" class="btn"><i class="icon-remove"></i> Cancelar</a>
        </div>
    </fieldset>
</form>
<script src="<?php echo $this->assetUrl('sica/usuario-externo/rota.js') ?>" type="text/javascript"></script>