@CHARSET "UTF-8";

.mapaModal {
    width: 512px;
    height: 384px;
}

.olControlPanel {
    height: 40px;
    padding-left: 10px;
    position: relative !important;
    float: right;
    background: #666;
    opacity: 0.85;
    filter: alpha(opacity=85);
    margin: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
.olControlPanel div {
    display:block;
    width:  34px;
    height: 27px;
    margin: 7px 7px 0 0;
    float: right;
}
.olControlPanel .olControlMouseDefaultsItemActive { background-image: url("/img/openlayers/pan_on.jpg"); }
.olControlPanel .olControlMouseDefaultsItemInactive { background-image: url("/img/openlayers/pan_off.jpg"); }
.olControlPanel .olControlPolygonItemActive { background-image: url("/img/openlayers/draw_polygon_on.jpg"); }
.olControlPanel .olControlPolygonItemInactive { background-image: url("/img/openlayers/draw_polygon_off.jpg"); }
.olControlPanel .olControlLineItemInactive { background-image: url("/img/openlayers/draw_line_off.jpg"); }
.olControlPanel .olControlLineItemActive { background-image: url("/img/openlayers/draw_line_on.jpg"); }
.olControlPanel .olControlPointItemInactive { background-image: url("/img/openlayers/draw_point_off.jpg"); }
.olControlPanel .olControlPointItemActive { background-image: url("/img/openlayers/draw_point_on.jpg"); }
.olControlPanel .olControlModifyFeatureItemActive {  background-image: url("/img/openlayers/edit_polygon_on.jpg"); }
.olControlPanel .olControlModifyFeatureItemInactive { background-image: url("/img/openlayers/edit_polygon_off.jpg"); }
.olControlPanel .olControlModifyFeatureRotateItemActive { background-image: url("/img/openlayers/rotate_polygon_on.jpg"); }
.olControlPanel .olControlModifyFeatureRotateItemInactive { background-image: url("/img/openlayers/rotate_polygon_off.jpg"); }
.olControlPanel .olControlModifyFeatureDragItemActive { background-image: url("/img/openlayers/move_polygon_on.jpg"); }
.olControlPanel .olControlModifyFeatureDragItemInactive { background-image: url("/img/openlayers/move_polygon_off.jpg"); }
.olControlPanel .olControlModifyFeatureResizeItemActive { background-image: url("/img/openlayers/resize_polygon_on.jpg"); }
.olControlPanel .olControlModifyFeatureResizeItemInactive { background-image: url("/img/openlayers/resize_polygon_off.jpg"); }
.olControlPanel .olControlZoomBoxItemActive { background-image: url("/img/openlayers/zoomfit_on.jpg"); }
.olControlPanel .olControlZoomBoxItemInactive { background-image: url("/img/openlayers/zoomfit_off.jpg"); }
.olControlPanel .olControlZoomInItemInactive { background-image: url("/img/openlayers/zoomin.jpg"); }
.olControlPanel .olControlZoomOutItemInactive { background-image: url("/img/openlayers/zoomout.jpg"); }
.olControlPanel .olControlSelectFeatureDestroyItemInactive { background-image: url("/img/openlayers/destroy_polygon_off.jpg"); }
.olControlPanel .olControlSelectFeatureItemInactive { background-image: url("/img/openlayers/identify_off.jpg"); }
.olControlPanel .olControlSelectFeatureItemActive { background-image: url("/img/openlayers/identify_on.jpg"); }
.olControlPanel .olControlMeasureItemInactive { background-image: url("/img/openlayers/measure_off.jpg"); }
.olControlPanel .olControlMeasureItemActive { background-image: url("/img/openlayers/measure_on.jpg"); }
div.olMap {
    z-index: 0;
    padding: 0px!important;
    margin: 0px!important;
    cursor: default;
}
div.olMapViewport {
    text-align: left;
}
div.olLayerDiv {
   -moz-user-select: none;
}
.olLayerGoogleCopyright {
    left: 1px;
    bottom: 1px;  
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 15px;
    display: none;
}


.olLayerGoogleCopyright {
    right: 3px;
    bottom: 2px;
    left: auto;  
}
.olLayerGoogleV3.olLayerGoogleCopyright {
    bottom: 0px;
    right: 0px !important;
}
.olLayerGooglePoweredBy {
    left: 2px;
    bottom: 2px;   
}
.olLayerGoogleV3.olLayerGooglePoweredBy {
    bottom: 0px !important;
}


.olControlAttribution {
    font-size: smaller; 
    right: 3px; 
    bottom: 4.5em; 
    position: absolute; 
    display: block;
}
.olControlScale {
    right: 3px;
    bottom: 3em;
    display: block;
    position: absolute;
    font-size: smaller;
}
.olControlScaleLine {
   display: block;
   position: absolute;
   left: 70px;
   bottom: 5px;
   font-size: xx-small;
}
.olControlScaleLineBottom {
   border: solid 2px black;
   border-bottom: none;
   margin-top:-2px;
   text-align: center;
}
.olControlScaleLineTop {
   border: solid 2px black;
   border-top: none;
   text-align: center;
}
.olControlPermalink {
    right: 3px;
    bottom: 1.5em;
    display: block;
    position: absolute;
    font-size: smaller;
} 
div.olControlMousePosition {
    bottom: 0em;
    right: 5px;
    margin-right: 85px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: small;
    color: #000;
}
.olControlOverviewMapContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.olControlOverviewMapElement {
    padding: 10px 18px 10px 10px;
    background-color: #00008B;
    -moz-border-radius: 1em 0 0 0;
}
.olControlOverviewMapMinimizeButton {
    right: 0px;
    bottom: 80px;
}    
.olControlOverviewMapMaximizeButton {
    right: 0px;
    bottom: 80px;
}
.olControlOverviewMapExtentRectangle {
    overflow: hidden;
    background-image: url("/img/openlayers/blank.gif");
    cursor: move;
    border: 2px dotted red;
}
.olControlOverviewMapRectReplacement {
    overflow: hidden;
    cursor: move;
    background-image: url("/img/openlayers/overview_replacement.gif");
    background-repeat: no-repeat;
    background-position: center;
}
.olLayerGeoRSSDescription {
    float:left;
    width:100%;
    overflow:auto;
    font-size:1.0em;
}
.olLayerGeoRSSClose {
    float:right;
    color:gray;
    font-size:1.2em;
    margin-right:6px;
    font-family:sans-serif;
}
.olLayerGeoRSSTitle {
    float:left;font-size:1.2em;
}

.olPopupContent {
    padding:5px;
    overflow: auto;
}    
.olControlNavToolbar { 
    width:0px;
    height:0px;
}    
.olControlNavToolbar div { 
  display:block;
  width:  28px;
  height: 28px;
  top: 300px;
  left: 6px;
  position: relative;
}
.olControlNavigationHistory {
   background-image: url("/img/openlayers/navigation_history.png");
   background-repeat: no-repeat;
   width:  24px;
   height: 24px;

}
.olControlNavigationHistoryPreviousItemActive { 
  background-position: 0px 0px;
}
.olControlNavigationHistoryPreviousItemInactive { 
   background-position: 0px -24px;
}
.olControlNavigationHistoryNextItemActive { 
   background-position: -24px 0px;
}
.olControlNavigationHistoryNextItemInactive { 
   background-position: -24px -24px;
}
.olControlNavToolbar .olControlNavigationItemActive { 
  background-image: url("/img/openlayers/panning-hand-on.png");
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlNavigationItemInactive { 
  background-image: url("/img/openlayers/panning-hand-off.png");
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlZoomBoxItemActive { 
  background-image: url("/img/openlayers/drag-rectangle-on.png");
  background-color: orange;
  background-repeat: no-repeat;
}
.olControlNavToolbar .olControlZoomBoxItemInactive { 
  background-image: url("/img/openlayers/drag-rectangle-off.png");
  background-repeat: no-repeat;
}
.olControlEditingToolbar  {
    float:right;
    right: 0px;
    height: 30px; 
    width: 200px;
}
.olControlEditingToolbar div { 
  background-image: url("/img/openlayers/editing_tool_bar.png");
  background-repeat: no-repeat;
  float:right;
  width:  24px;
  height: 24px;
  margin: 5px;
}
.olControlEditingToolbar .olControlNavigationItemActive { 
  background-position: -103px -23px; 
}
.olControlEditingToolbar .olControlNavigationItemInactive { 
  background-position: -103px -0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePointItemActive { 
  background-position: -77px -23px; 
}
.olControlEditingToolbar .olControlDrawFeaturePointItemInactive { 
  background-position: -77px -0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePathItemInactive { 
  background-position: -51px 0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePathItemActive { 
  background-position: -51px -23px; 
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemInactive { 
  background-position: -26px 0px; 
}
.olControlEditingToolbar .olControlDrawFeaturePolygonItemActive { 
  background-position: -26px -23px ;
}
div.olControlSaveFeaturesItemActive { 
    background-image: url(../img/openlayers/save_features_on.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
div.olControlSaveFeaturesItemInactive { 
    background-image: url(../img/openlayers/save_features_off.png);
    background-repeat: no-repeat;
    background-position: 0px 1px;
}
.olHandlerBoxZoomBox {
    border: 2px solid red;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
.olHandlerBoxSelectFeature {
    border: 2px solid blue;
    position: absolute;
    background-color: white;
    opacity: 0.50;
    font-size: 1px;
    filter: alpha(opacity=50);
}
.olControlPanPanel {
    top: 10px;
    left: 5px;
}
.olControlPanPanel div {
    background-image: url(../img/openlayers/pan-panel.png);
    height: 18px;
    width: 18px;
    cursor: pointer;
    position: absolute;
}
.olControlPanPanel .olControlPanNorthItemInactive {
    top: 0px;
    left: 9px;
    background-position: 0px 0px;
}
.olControlPanPanel .olControlPanSouthItemInactive {
    top: 36px;
    left: 9px;
    background-position: 18px 0px;
}
.olControlPanPanel .olControlPanWestItemInactive {
    position: absolute;
    top: 18px;
    left: 0px;
    background-position: 0px 18px;
}
.olControlPanPanel .olControlPanEastItemInactive {
    top: 18px;
    left: 18px;
    background-position: 18px 18px;
}
.olControlZoomPanel {
    top: 71px;
    left: 14px;
} 
.olControlZoomPanel div {
    background-image: url(../img/openlayers/zoom-panel.png);
    position: absolute;
    height: 18px;
    width: 18px;
    cursor: pointer;
}
.olControlZoomPanel .olControlZoomInItemInactive {
    top: 0px;
    left: 0px;
    background-position: 0px 0px;
}
.olControlZoomPanel .olControlZoomToMaxExtentItemInactive {
    top: 18px;
    left: 0px;
    background-position: 0px -18px;
}
.olControlZoomPanel .olControlZoomOutItemInactive {
    top: 36px;
    left: 0px;
    background-position: 0px 18px;
}
.olPopupCloseBox {
  background: url("/img/openlayers/close.gif") no-repeat;
  cursor: pointer;
}
.olFramedCloudPopupContent {
    padding: 5px;
    overflow: auto;
}
.olControlNoSelect {
 -moz-user-select: none;
}
.olImageLoadError {
    background-color: pink;
    opacity: 0.5;
    filter: alpha(opacity=50); /* IE */
}

/**
 * Cursor styles
 */

.olCursorWait {
    cursor: wait;
}
.olDragDown {
    cursor: move;
}
.olDrawBox {
    cursor: crosshair;
}
.olControlDragFeatureOver {
    cursor: move;
}
.olControlDragFeatureActive.olControlDragFeatureOver.olDragDown {
    cursor: -moz-grabbing;
}

/**
 * Layer switcher
 */
.olControlLayerSwitcher {
    position: absolute;
    top: 50px;
    right: 0px;
    width: 20em;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    font-size: smaller;
    color: white;
    background-color: transparent;
}
.olControlLayerSwitcher .layersDiv {
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-right: 75px;
    background-color: darkblue;
    width: 100%;
    height: 100%;
}
.olControlLayerSwitcher .layersDiv .baseLbl,
.olControlLayerSwitcher .layersDiv .dataLbl {
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
}
.olControlLayerSwitcher .layersDiv .baseLayersDiv,
.olControlLayerSwitcher .layersDiv .dataLayersDiv {
    padding-left: 10px;
}
.olControlLayerSwitcher .maximizeDiv,
.olControlLayerSwitcher .minimizeDiv {
    top: 5px;
    right: 0px;
}

/**
 * Customização
 */
.olControlLayerSwitcher .layersDiv, .olControlLayerSwitcher div span, .olControlOverviewMapElement {
    background-color: #666!important;
}
.olControlOverviewMapExtentRectangle {
    border-color: #3883b7;
}
.olControlScaleLineTop, .olControlScaleLineBottom {
    border-color: #000;
}
.olLayerGoogleCopyright span {
    display: none;
}

.olPopupContent {
    padding:5px;
    overflow: auto;
}

.olPopupCloseBox {
  background: url("/img/openlayers/close.gif") no-repeat;
  cursor: pointer;
}

.olFramedCloudPopupContent {
    padding: 5px;
    overflow: auto;
}

#measure_output {
    bottom: 0em;
    right: 300px;
    display: block;
    position: absolute;
    font-family: Arial;
    font-size: medium;
    color: #000;
}



#pesquisaUC {
    display: none;
}

#pesquisarActions {
    text-align: center;
}

#pesquisarActions img {
    cursor:pointer;
    cursor:hand;
}