<h1>Imagem do processo - <?php echo $this->nuArtefato($this->entArtefato); ?></h1>
<br />
<p>As imagens deste processo estão sendo processadas e você será notificado via email quando estiverem disponíveis.</p>