 <script src="<?php echo $this->assetUrl('sica/funcionalidade/form.js')?>" type="text/javascript"></script>
 <form class="form-horizontal"
       id="form-funcionalidade"
       method="post"
       action="<?php echo $this->urlCurrent(array('action' => 'save'))?>">
    <div class="top-bar">
        <p class="requiredLegend pull-left">Campos obrigatórios <span class="required">*</span></p>
    </div>

    <?php
        $rotaSelected = $this->data->getSqRotaPrincipal()->getSqRota();
    ?>

    <fieldset>
        <br/>
        <input type="hidden" name="sqFuncionalidade" value="<?php echo $this->data->getSqFuncionalidade(); ?>" />
        <input type="hidden" name="isEdit" value="<?php echo $this->isEdit; ?>" />

        <div class="control-group">
            <label class="control-label" for="sistema"><span class="required">*</span> Sistema</label>
            <div class="controls">
                <?php echo $this->comboSistema('sqSistema', $this->data->getSqMenu()->getSqSistema()->getSqSistema(), array('class' => 'sistema-load-menu-funcionalidade required span9', 'target' => '#menu-sistema'), $this->sistemas)?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for=sqMenu><span class="required">*</span> Menu de Acesso</label>
            <input type="hidden"
                   id="menuAcesso"
                   value="<?php echo $this->data->getSqMenu()->getSqMenu(); ?>"
            />
            <div class="controls" id="menu-sistema">
                <?php echo $this->comboMenu('sqMenu', $this->data->getSqMenu()->getSqMenu(), array('class' => 'span9'), $this->arrMenu)?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="noFuncionalidade"><span class="required">*</span> Nome da Funcionalidade</label>
            <div class="controls">
                <input type="text"
                       class="span9 required"
                       maxlength="200"
                       value="<?php echo $this->data->getNoFuncionalidade();?>"
                       id="noFuncionalidade"
                       name="noFuncionalidade"
                 />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="descricao"><span class="required">*</span> Funcionalidade Principal?</label>
            <div class="controls">
                <input type="radio"
                       name="inFuncionalidadePrincipal"
                       class="required"
                       value="1"
                       <?php echo ($this->data->getInFuncionalidadePrincipal() ? 'checked="checked"' : '') ?>
                />
                Sim
                <input type="radio"
                       name="inFuncionalidadePrincipal"
                       class="required"
                       value="0"
                       <?php echo ($this->data->getSqFuncionalidade() !== 0 && !$this->data->getInFuncionalidadePrincipal() ? 'checked="checked"' : '') ?>
                />
                Não
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Gestão das Rotas da Funcionalidade</legend>
        <br>
        <div class="span6">
            <button title="Adicionar" class="btn btn-mini add" type="button"><i class="icon-plus"></i></button>
        </div>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th width="50px">Principal</th>
                    <th>Rotas</th>
                    <th width="50px">Ações</th>
                </tr>
            </thead>
            <tbody>
                <?php if (0 === $this->data->getRotas()->count()): ?>
                <tr>
                    <td class="table-condensed" colspan="3">Nenhuma rota informada.</td>
                </tr>
                <?php elseif ($this->data->getRotas()->count() >= 1): ?>
                <?php foreach ($this->data->getRotas() as $key => $rota): ?>
                <tr>
                    <td>
                        <input type="radio"
                               <?php echo ($rotaSelected === $rota->getSqRota() ? 'checked="checked"' : '');?>
                               class="radio edit"
                               name="rota[<?php echo $key?>][inRotaPrincipal]"
                               value="1" />
                    </td>
                    <td>
                        <div class="control-group clear-none">
                            <span class="text edit"><?php echo $rota->getTxRota()?></span>
                            <div class="controls span12">
                                <input type="text"
                                       class="hide create input-xxlarge required"
                                       maxlength="200"
                                       name="rota[<?php echo $key?>][txRota]"
                                       value="<?php echo $rota->getTxRota()?>"
                                />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <span class="edit">
                                <button title="Alterar"
                                        class="btn btn-mini btnEdit"
                                        type="button">
                                        <i class="icon-pencil"></i>
                                </button>
                            </span>

                            <span class="edit">
                                <button title="Excluir"
                                        class="btn btn-mini btnDelete"
                                        type="button">
                                        <i class="icon-trash"></i>
                                 </button>
                             </span>

                             <span class="create hide">
                                 <button title="OK"
                                       class="btn btn-mini btnOk"
                                       type="button">
                                       <i class="icon-ok"></i>
                                 </button>
                            </span>

                        </div>
                    </td>
                </tr>
                <?php endforeach; ?>
                <?php endif;?>
            </tbody>
        </table>
    </fieldset>
    <br/>
    <div class="form-actions">
        <button class="btn btn-primary btn_salvar">Concluir</button>
        <a class="btn" href="<?php
        $urlCancelOptions = array('action' => 'index');
        if ($this->data->getSqMenu()->getSqSistema()->getSqSistema()) {
            $urlCancelOptions['sqSistema'] = $this->data->getSqMenu()->getSqSistema()->getSqSistema();
        }
        if ($this->data->getSqMenu()->getSqMenu()) {
            $urlCancelOptions['sqMenu'] = $this->data->getSqMenu()->getSqMenu(); 
        }
        echo $this->urlCurrent($urlCancelOptions);
        ?>"><i class="icon-remove"></i> Cancelar</a>
    </div>
</form>