<script src="<?php echo $this->assetUrl('sica/funcionalidade/search.js')?>" type="text/javascript"></script>
<form class="form-horizontal"
      action="<?php echo $this->urlCurrent(array('action' => 'list'))?>"
      id="form-pesquisa-funcionalidade"
      method="get">
      <input type="text" id="pesquisa-pdf" class="hide" name="pesquisa-pdf">
    <div class="top-bar">
        <p class="requiredLegend pull-left">Campos obrigatórios <span class="required">*</span></p>
        <div class="btn-group pull-right">
            <?php echo $this->buttonCadastrar(
                    $this->urlCurrent(array('action' => 'create')),
                    array('action' => 'create'),
                    array('class'=>'btn-primary')); ?>
        </div>
    </div>
    <a name="filtros"></a>
    <fieldset>
        <legend>Filtros</legend>
        <div class="control-group">
            <label class="control-label"><span title="Campo Obrigatório"
 class="required">*</span> Sistema</label>
            <div class="controls">
                <?php echo $this->comboSistema('sqSistema', $this->sqSistema, array('class' => 'sistema-load-menu-funcionalidade required span9', 'target' => '#menu-sistema'), $this->sistemas); ?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Menu</label>
            <div class="controls" id="menu-sistema">
                <?php echo $this->comboMenu('sqMenu', $this->sqMenu, array('class' => 'menu-funcionalidade span9'), $this->arrMenu); ?>
            </div>
        </div>
        <br/>
        <div class="form-actions">
            <button class="btn btn-primary btn_pesquisar"><i class="icon-search icon-white"></i> Pesquisar</button>
            <button type="reset" class="btn">Limpar</button>
        </div>
    </fieldset>
</form>

<div class="row-fluid hidden">
    <div class="span12">
        <form class="form-horizontal">
            <fieldset>
                <legend>Resultado da Pesquisa</legend>
                <table id="table-funcionalidade">
                    <thead>
                        <tr>
                            <th>Sistema</th>
                            <th>Menu</th>
                            <th>Funcionalidade</th>
                            <th width="70px">Principal</th>
                            <th width="50px">Status</th>
                            <th width="75px">Ações</th>
                        </tr>
                    </thead>
                </table>
            </fieldset>

            <div class="form-actions">
                <a class="btn btn-primary" href="<?php echo $this->urlCurrent(array('action' => 'index'))?>#filtros">Filtros</a>
                <?php echo $this->buttonCadastrar($this->urlCurrent(array('action' => 'create')),array('action' => 'create')); ?>
                <a class="btn gerar-pdf" href="<?php echo $this->urlCurrent(array('action' => 'gerar-pdf'))?>"><i class="icon-pdf"></i> Gerar PDF</a>
            </div>
       </form>
    </div>
</div>

<?php echo $this->partial('modal-view.phtml', array('title' => 'funcionalidade_view'))?>