
<div class="form-actions" id="formButtonsPrincipal">
    <a  id="btnAnterior" class="btn btn_prev" type="button">
        <i class="icon-chevron-left"></i> Anterior
    </a>
    <button id="btnProximo" class="btn btn_next btn-primary"  type="button">
         Próxima <i class="icon-chevron-right icon-search icon-white"></i>
    </button>
    <button class="btn btn-concluir">Concluir</button>
    <a href="/modelo-minuta/modelo-minuta" class="btn" id="cancelar"> <i
        class="icon-remove"></i> Cancelar
    </a>
</div>
