<?php
$this->headScript()->appendFile($this->baseUrl() . '/js/app/modelo-minuta/modelo-minuta/index.js');
echo $this->headScript();
?>
<h1>Pesquisar Modelo de Minuta</h1>
<div class="alert alert-error campos-obrigatorios hidden"></div>
<br>
<form class="form-horizontal" action="<?php echo $this->urlCurrent(array('controller'=>'modelo-minuta','action' => 'list'))?>" method="post" id="form-pesquisa-modelo-minuta">
    <div class="row-fluid">
        <div class="span12">
            <div class="top-bar">
                <p class="requiredLegend pull-left">Pelo menos um dos filtros deve ser preenchido.</p>
                <div class="btn-group pull-right">
                    <a href="<?php echo $this->urlCurrent(array('action' => 'create'))?>" class="btn btn-primary" id="novo">
                        Cadastrar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <fieldset>
    <legend>Filtros</legend>
        <div class="control-group">
            <label class="control-label">Modelo de Minuta</label>
            <div class="controls">
                <?php echo $this->ComboCustom('sqPadraoModeloDocumento',
                        false,
                        array('class'=>'span3'),
                        $this->itens); ?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Tipo de Documento</label>
            <div class="controls">
                <input type="text" class="span6" name="sqTipoDocumento" id="sqTipoDocumento" value="" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Assunto</label>
            <div class="controls">
                <input type="text" class="span6" name="sqAssunto" id="sqAssunto" value="" />
            </div>
        </div>
        <br>
        <div class="form-actions">
            <button class="btn btn-primary" id="btnPesquisar" type="submit" id="pesquisar">
                <i class="icon-search icon-white"></i> Pesquisar
            </button>
            <button class="btn" type="button" title="Limpar" id="btLimpar">Limpar</button>
        </div>
    </fieldset>
</form>
<div class="form-horizontal" id="divGrid" >
    <div class="control-group hidden" >
        <fieldset>
            <legend>Resultado da Pesquisa</legend>
        </fieldset>
        <table id="table-grid-modelo-minuta">
            <thead >
                <tr>
                    <th>Modelo de Minuta</th>
                    <th>Tipo de Documento</th>
                    <th>Assunto</th>
                    <th>Ações</th>
                </tr>
            </thead>
        </table>
        <div class="form-actions">
            <a title="Filtros" id="btnFiltro" class="btn btn-primary">Filtros</a>
            <a href="<?php echo $this->urlCurrent(array('action' => 'create'))?>" class="btn" id="novo">
                Cadastrar
            </a>
        </div>
    </div>
</div>
