<?php

$idPosicaoTitulo = $this->layout()->entity->getSqPosicaoTipoDocumento()->getSqPosicaoTipoDocumento();
$idPosicaoData = $this->layout()->entity->getSqPosicaoData()->getSqPosicaoData();

switch ($idPosicaoTitulo){
    case 1:
        $idPosicaoTitulo = 'ato-titulo-left';
        break;
    case 2:
        $idPosicaoTitulo = 'ato-titulo-right';
        break;
    case 3:
        $idPosicaoTitulo = 'ato-titulo-center';
        break;
}
?>

<page>
<page_footer style="text-align: right;">
[[page_cu]]
</page_footer>

<div class="content">
    <div id="header">
        <?php
        $imagem = $this->layout()->entity->getSqCabecalho()->getDeArquivoImagem() != '' ?
                  $this->layout()->entity->getSqCabecalho()->getDeArquivoImagem() : NULL;
        if($this->layout()->entity->getSqCabecalho()->getSqCabecalho()) :?>
             <?php if($imagem) :?>
                <img src="../public/img/<?php echo $this->layout()->entity->getSqCabecalho()->getDeArquivoImagem();?>"
                     name="figura1" width=126 height=108 border=0>
            <?php endif;?>
            <p class="smallMargin">
                <b><?php
                 echo $this->layout()->entity->getSqCabecalho()->getTxCabecalho();?>
                </b>
            </p>
        <?php endif;?>
        <p class="smallMargin">
            <?php
            $count = 0;
            foreach ($this->layout()->data[4] as $key => $campo){
                if ($campo['checked']){
                    $count++;
                }
            }
            $cont  = 1;
            foreach ($this->layout()->data[4] as $key => $campo){
                if ($campo['checked']){
                    if(substr(strtolower($campo['noCampo']),0,9) == 'setor por'){
                         $this->layout()->data[4][$key];
                         echo 'Setor' ;
                    }else{
                        echo $campo['noCampo'] ;
                    }
                    if($count > $cont){
                        echo '/';
                    }
                }
                ++$cont;
            }
           ?>
        </p>
    </div>

    <p id="<?php echo $idPosicaoTitulo;?>">
        <?php
        $documeto = $this->layout()->entity->getSqTipoDocumento() ?
                    'Tipo Documento' : 'Tipo Documento';
        echo $documeto . ' ';

        $arrCamDo = array();
        $count = 2;
        foreach ($this->layout()->data[1] as $key => $campo){
            if (($campo['checked']) && ($campo['inVisivelDocumento'])){
                switch (substr(strtolower($campo['noCampo']),0,3)){
                    case 'nº':
                        $arrCamDo[0] = 'n° ';
                        break;
                    case 'ano':
                        $arrCamDo[1] = strtolower($campo['noCampo']);
                        break;
                    default:
                        if($campo['noCampo'] === 'Sigla do Setor'){
                            $arrCamDo[$count] = 'Setor';
                        }elseif($campo['noCampo'] === 'Sigla por Hierarquia'){
                            $arrCamDo[$count] = 'Setor Hierárquia';
                        }
                        else{
                            $arrCamDo[$count] = $campo['noCampo'];
                        }
                        break;
                }
                $count++;
            }
        }
        ksort($arrCamDo);
        $cdDoc = 0;
        foreach ($arrCamDo as $key => $val) {
            if($cdDoc > 0){
                if($val == 'Setor'){
                    echo ' - ';
                }
                else{
                    echo '/';
                }
            }

            echo $val;
            $cdDoc++;
        }
        ?>
    </p>
    <?php if ($idPosicaoData == 1) : ?>
        <p id="ato-date" style="font-size: 12pt;">
            <?php
            foreach ($this->layout()->data[1] as $key => $campo){
                if ($campo['checked']){
                    if(substr(strtolower($campo['noCampo']),0,3) == 'loc'){
                        echo $campo['noCampo'] . ',';
                    }
                    if(substr(strtolower($campo['noCampo']),0,3) == 'dat'){
                        echo $campo['noCampo'];
                    }
                }
            }?>
        </p>
    <?php endif;?>
    <?php if ($idPosicaoData == 2) : ?>
        <p style="font-size: 12pt;">
            <?php
            foreach ($this->layout()->data[1] as $key => $campo){
                if ($campo['checked']){
                    if(substr(strtolower($campo['noCampo']),0,3) == 'loc'){
                        echo $campo['noCampo'] . ',';
                    }
                    if(substr(strtolower($campo['noCampo']),0,3) == 'dat'){
                        echo $campo['noCampo'];
                    }
                }
            }?>
        </p>
    <?php endif;?>

        <table class="ementa">
            <tr>
                <td class="pre-ementa">

                </td>
                <td class="ementa">
                    <?php foreach ($this->layout()->data[2] as $key => $campo) {
                        if ($campo['checked']){
                            if(strtolower($campo['noCampo']) == 'ementa'){
                                echo $campo['noCampo'].'<br />';
                            }
                        }
                    }?>
                </td>
            </tr>
        </table>

    <p style="text-align: justify;">
<!--        <span class="marginLeft">&nbsp;</span>-->
        <?php foreach ($this->layout()->data[2] as $key => $campo) {
            if ($campo['checked']){
                if(substr(strtolower($campo['noCampo']),0,3) == 'voc'){
                    echo $campo['noCampo'].' ';
                }
                if($campo['noCampo'] == 'Cargo de Destino'){
                    echo $campo['noCampo'] . '<br />';
                }
            }
        }?>
        <?php foreach ($this->layout()->data[2] as $key => $campo) {
            if ($campo['checked']){
                if(strtolower($campo['noCampo']) == 'assunto'){
                    echo '<strong>'. $campo['noCampo'].':</strong><br>';
                }
            }
        }
        foreach ($this->layout()->data[2] as $key => $campo) {
            if ($campo['checked']){
                if(strtolower($campo['noCampo']) == 'ref.'){
                    echo $campo['noCampo'].'<br>';
                }
            }
        }?>
    </p>
    <p style="text-align: justify;">
        <span class="marginLeft">&nbsp;</span>
        <?php foreach ($this->layout()->data[2] as $key => $campo) {
            if ($campo['checked']){
                if(substr(strtolower($campo['noCampo']),0,3) == 'tex'){
                    echo $campo['noCampo'] . '<br>';
                }
            }
        }?>
    </p>

    <?php if ($idPosicaoData == 3) : ?>
    <p style="font-size: 12pt;">
        <?php
        foreach ($this->layout()->data[1] as $key => $campo){
            if ($campo['checked']){
                if(substr(strtolower($campo['noCampo']),0,3) == 'loc'){
                    echo $campo['noCampo'] . ',';
                }
                if(substr(strtolower($campo['noCampo']),0,3) == 'dat'){
                    echo $campo['noCampo'];
                }
            }
        }?>
    </p>
    <?php endif;?>
    <div class="espacoAssinatura" >
    <p class="marginLeft">
        <?php foreach ($this->layout()->data[2] as $key => $campo) {
            if ($campo['checked']){
                if(substr(strtolower($campo['noCampo']),0,3) == 'fec'){
                    echo $campo['noCampo'] . ',<br>';
                }
            }
        }?>
    </p>
    <div id="ato-signature">
        <p class="mediumMargin">

            <?php
                foreach ($this->layout()->data[3] as $key => $campo) {
                    if (($campo['checked']) && ($campo['inVisivelDocumento'])){
                        if (substr(strtolower($campo['noCampo']),0,3) == 'ass'){
                            echo $campo['noCampo'].'<br >';
                        }else if(substr(strtolower($campo['noCampo']),0,3) == 'car'){
                            echo $campo['noCampo'].'/';
                        }
                        else if (substr(strtolower($campo['noCampo']),0,3) == 'set'){
                            echo $campo['noCampo'].'';
                        }
                    }
                }
            ?>

            <?php
                $inMultAss = FALSE;

                 foreach ($this->layout()->data[3] as $key => $campo) {
                    if (($campo['checked'])){
                        if(substr(strtolower($campo['noCampo']),0,3) == 'mú'){
                            $inMultAss = TRUE;
                        }

                        $campoMult = explode( ' ', $campo['noCampo']);

                        if(count($campoMult) > 1){
                            if(substr(strtolower($campoMult[1]),0,3) == 'hie'){
                                $inMultAss = TRUE;
                            }
                        }
                    }
                }
            ?>

            <?php
            if($inMultAss){
            ?>
                <br /><br />

                <?php
                    $campMot = '';
                    $campAss = '';
                    $campCar = '';
                    $campSet = '';
                ?>

                <?php
                    foreach ($this->layout()->data[3] as $key => $campo) {
                        if (($campo['checked']) && ($campo['inVisivelDocumento'])){
                            if (substr(strtolower($campo['noCampo']),0,3) == 'mot'){
                                $campMot = $campo['noCampo'].'<br ><br >';
                            }else if (substr(strtolower($campo['noCampo']),0,3) == 'ass'){
                                $campAss = $campo['noCampo'].'<br >';
                            }else if(substr(strtolower($campo['noCampo']),0,3) == 'car'){
                                $campCar = $campo['noCampo'].'/';
                            }
                            else if (substr(strtolower($campo['noCampo']),0,3) == 'set'){
                                $campSet = $campo['noCampo'].'<br ><br >';
                            }
                        }
                    }

                    if(!empty($campMot)){
                        echo $campMot;
                    }
                    if(!empty($campAss)){
                        echo $campAss;
                    }
                    if(!empty($campCar)){
                        echo $campCar;
                    }
                    if(!empty($campSet)){
                        echo $campSet;
                    }
            }
                ?>

        </p>
        </div>
    </div>
</div>
</page>

<style type="text/css">
<!--
.content { /*size: 8.27in 11.69in;*/
    margin-right: 0.79in;
    margin-left: 0.79in;
    font-size: 12pt;
    /*border: 1px solid grey;*/
}

#header {
    width: 100%;
    margin-bottom: 80px;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 9pt;
}

#ato-titulo-left {
    text-align: left;
    margin-bottom: 40px;
}

#ato-titulo-right {
    text-align: right;
    margin-right: 30px;
    margin-bottom: 80px;
}

#ato-titulo-center {
    text-align: center;
    margin-center: 30px;
    margin-bottom: 80px;
}

#ato-date {
    text-align: right;
    margin-right: 30px;
    margin-bottom: 40px;
}

#ato-to {
    margin-bottom: 100px;
}
.espacoAssinatura {
    margin-top: 155px;
}

table {
    width: 100%;
    border: solid 1px black;
}

th {
    border: solid 1px black;
}

td {
    border: solid 1px black;
}

table.ementa {
    width: 100%;
    border: 0px;
}

td.pre-ementa {
        width:370px;
        border: 0px solid white;
}

td.ementa {
        width:200px;
        border: 0px solid white;
        text-align: justify;
        font-style: italic;
}

#ato-att {
    margin-left: 50px;
    margin-bottom: 70px;
}

#ato-signature {
    text-align: center;
}

.smallMargin {
    margin: 0 0 4px 0;
    padding: 0;
}

.mediumMargin {
    margin: 0 0 10px 0;
    padding: 0;
}

.marginLeft {
    margin-left: 50px;
}
-->
</style>