<?php echo $this->doctype(), PHP_EOL; ?>
<html>
    <head>
        <title>ICMBio</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <?php
        $urlSica = rtrim(Zend_Controller_Front::getInstance()->getParam('bootstrap')->getOption('urlSica'), '/') . '/';
        ?>

        <base href="<?php echo $urlSica, $this->baseUrl(); ?>" data-url="<?php echo $urlSica; ?>" />
        <!-- CSS GERAL INICIO -->
        <?php
        $this->headLink()
                ->setStylesheet($this->assetUrl('style.css', array('address' => 'asset')))
                ->appendStylesheet($this->assetUrl('style-correct.css', array('address' => 'asset')))
                ->appendStylesheet($this->assetUrl('style-responsive.css', array('address' => 'asset')))
                ->appendStylesheet($this->assetUrl('asmSelect.css', array('address' => 'asset')));

        echo $this->headLink();
        ?>
        
		<!--[if IE 7]>
			<link href="<?php echo $this->assetUrl('style-correct-ie.css', array('address' => 'asset')); ?>" rel="stylesheet" />
		<![endif]-->
        
        <!-- CSS GERAL FIM -->
        <!-- JAVASCRIPT INICIO -->
        <?php
        $this->headScript()->setFile($this->assetUrl('library/jquery.js', array('address' => 'asset')));
        $this->headScript()->appendFile($this->assetUrl('library/bootstrap.js', array('address' => 'asset')));
        $this->headScript()->appendFile($this->assetUrl('all-message.js'));

        echo $this->headScript();
        ?>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
                    <script src="<?php echo $this->assetUrl('library/html5.js', array('address' => 'asset')) ?>"></script>
                <![endif]-->
        <!-- JAVASCRIPT FIM -->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse"
                       data-target=".nav-collapse"> <span class="icon-bar"></span>
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <div class="brandRight">
                            <img src="/assets/img/icons/marcaICMBio.png" width="120" height="70"
                                 alt="ICMBio" />
                        </div>
                        <?php echo $this->menuProfileHome(); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <?php echo $this->pageTitle() ?>
            <?php echo $this->userMessageStack() ?>
            <?php echo $this->layout()->content ?>
        </div>
        <?php
        $this->headScript()->setFile($this->assetUrl('components/load.js', array('address' => 'asset')));
        $this->headScript()->appendFile($this->assetUrl('library/jquery.validate.js', array('address' => 'asset')));
        $this->headScript()->appendFile($this->assetUrl('components/validation.js', array('address' => 'asset')));
        $this->headScript()->appendFile($this->assetUrl('library/jquery.meio.mask.js', array('address' => 'asset')));
        $this->headScript()->appendFile($this->assetUrl('library/bootbox.min.js', array('address' => 'asset')));
        $this->headScript()->appendFile($this->assetUrl('library/asmSelect.js', array('address' => 'asset')));
        $this->headScript()->appendFile($this->assetUrl('components/message.js', array('address' => 'asset')));
        $this->headScript()->appendFile($this->assetUrl('sica/principal/init.js'));
        $this->headScript()->appendFile($this->assetUrl('sica/usuario-externo/sistemas.js'));
        $this->headScript()->appendFile($this->assetUrl('sica/usuario/usuario.js'));
        $this->headScript()->appendFile($this->assetUrl('sica/usuario-perfil/usuario-perfil.js'));

        echo $this->headScript();
        echo $this->usuario()->modalAlterarSenha();
        echo $this->Perfil()->modalSelecionarPerfil();
        ?>
    </body>
</html>
