<?php echo $this->doctype(), PHP_EOL; ?>
<html>
    <head>
        <title>ICMBio</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <?php
        $urlSica = rtrim(Zend_Controller_Front::getInstance()->getParam('bootstrap')->getOption('urlSica'), '/') . '/';
        ?>

        <base href="<?php echo $urlSica, $this->baseUrl(); ?>" data-url="<?php echo $urlSica; ?>"/>
        <!-- CSS GERAL INICIO -->
        <?php
            $this->headLink()
                 ->setStylesheet($this->assetUrl('style.css', array('address' => 'asset')))
                 ->appendStylesheet($this->assetUrl('style-correct.css', array('address' => 'asset')))
                 ->appendStylesheet($this->assetUrl('style-responsive.css', array('address' => 'asset')));

            echo $this->headLink();
        ?>

		<!--[if lt IE 9]>
			<link href="<?php echo $this->assetUrl('style-correct-ie.css', array('address' => 'asset')); ?>" rel="stylesheet" />
		<![endif]-->

        <!-- CSS GERAL FIM -->
        <!-- JAVASCRIPT INICIO -->
        <?php
            $this->headScript()->setFile($this->assetUrl('library/jquery.js', array('address' => 'asset')));
            $this->headScript()->appendFile($this->assetUrl('library/bootstrap.js', array('address' => 'asset')));
            $this->headScript()->appendFile($this->assetUrl('all-message.js'));

            echo $this->headScript();
        ?>

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="<?php echo $this->assetUrl('library/html5.js', array('address' => 'asset')); ?>"></script>
        <![endif]-->

        <!-- JAVASCRIPT FIM -->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="assets/ico/favicon.ico">
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse"
                       data-target=".nav-collapse"> <span class="icon-bar"></span>
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </a>
                    <div class="nav-collapse">
                        <div class="brandRight">
                            <img src="/assets/img/icons/marcaICMBio.png" width="120" height="70"
                                 alt="ICMBio" />
                        </div>
                        <?php echo $this->menuProfileHome(); ?>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span12">
                    <div class="hero-unit">
                        <h1>Bem-vindo aos Sistemas do ICMBio!</h1>
                        <p>Escolha um dos Sistemas abaixo clicando no botão correspondente.</p>
                    </div>
                </div>
            </div>
            <div class="row-fluid sistemas">
                <div class="span12">
                    <div id="finder-container" class="row-fluid control-group <?php echo count($this->listSystem) < 4 ? 'hidden': ''; ?>">
                        <div class="input-append span12">
                          <input id="finder-txt" type="text" class="span3" placeholder="Procurar um sistema…" value="" /><button id="finder-btn" class="btn" type="button"><i class="icon icon-search"></i></button>
                          <span id="finder-message" class="hide help-inline">Nenhum sistema encontado, tente outro nome…</span>
                        </div>
                    </div>
                    <div class="row-fluid thumbnails">
                        <?php echo $this->sistemas($this->listSystem); ?>
                    </div>
                </div>
            </div>
        </div>
        <?php
        $this->headScript()->setFile($this->assetUrl('components/load.js', array('address' => 'asset')));
        $this->headScript()->appendFile($this->assetUrl('sica/principal/init.js'));
        $this->headScript()->appendFile($this->assetUrl('library/jquery.validate.js', array('address' => 'asset')));
        $this->headScript()->appendFile($this->assetUrl('components/validation.js', array('address' => 'asset')));
        $this->headScript()->appendFile($this->assetUrl('library/jquery.cryptography.js', array('address' => 'asset')));

        echo $this->headScript();
        echo $this->usuario()->modalAlterarSenha();
        echo $this->Perfil()->modalSelecionarPerfil();
        ?>
        <?php if ($this->changePassword): ?>
            <script type="text/javascript">
            //<!--
            jQuery(function(){
                jQuery('#btn-alterar-senha').trigger('click');
            });
            //-->
            </script>
        <?php endif; ?>
    </body>
</html>
