<div class="modal-header">
    <a class="close" data-dismiss="modal" title="Fechar">×</a>
    <h3 class="title-main">Adicionar Vínculo</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <form class="form-horizontal" method="post" id="form-pessoa-vinculo-modal">
            <br/>
            <fieldset>
                <div class="control-group">
                    <label for="tpVinculo" class="control-label">
                        <span title="Campo Obrigatório"
 class="required">*</span> Tipo de Vínculo
                    </label>
                    <div class="controls">
                        <?php echo $this->formHidden('sqPessoa', $this->data->getSqPessoa()->getSqPessoa()); ?>
                        <?php echo $this->formHidden('sqPessoaRelacionamento', $this->data->getSqPessoaRelacionamento()->getSqPessoa()); ?>
                        <?php echo $this->formHidden('stRegistroAtivo', TRUE); ?>
                        <?php echo $this->comboCustom('sqTipoVinculo', $this->data->getSqTipoVinculo()->getSqTipoVinculo(), array('class' => 'required span7'), $this->cmb['sqTipoVinculo']); ?>
                    </div>
                </div>
                <div class="control-group repLegal socio">
                    <label for="cpfVinculo" class="control-label">
                        <span title="Campo Obrigatório"
 class="required">*</span> CPF
                    </label>
                    <div class="controls">
                        <?php echo $this->formText('nuCpf', $this->data->getSqPessoaRelacionamento()->getSqPessoaFisica()->getNuCpf(), array('class' => 'span7 required cpf')); ?>
                    </div>
                </div>
                <div class="control-group repLegal socio">
                    <label for="nomeVinculo" class="control-label">
                        <span title="Campo Obrigatório"
 class="required">*</span> Nome
                    </label>
                    <div class="controls">
                        <?php echo $this->formText('noPessoaVinculo', $this->data->getSqPessoaRelacionamento()->getNoPessoa(), array('class' => 'span11 required')); ?>
                    </div>
                </div>
                <div class="control-group repLegal socio filial">
                    <label for="dtInicial" class="control-label">
                        <span title="Campo Obrigatório"
 class="required">*</span> Data Inicial
                    </label>
                    <div class="controls">
                        <div class="input-append">
                            <?php echo $this->formText('dtInicioVinculo', $this->data->getDtInicioVinculo(), array('class' => 'input-small required dateBR datepicker')); ?>
                            <a title="Calendário" class="btn right datepicker-icon"><i class="icon-calendar"></i></a>
                        </div>
                    </div>
                </div>
                <div class="control-group repLegal socio filial">
                    <label for="dtFinal" class="control-label">Data Final</label>
                    <div class="controls">
                        <div class="input-append">
                            <?php echo $this->formText('dtFimVinculo', $this->data->getDtFimVinculo(), array('class' => 'input-small dateEarlier dateBR datepicker')); ?>
                            <a title="Calendário" class="btn right datepicker-icon"><i class="icon-calendar"></i></a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-primary btnAdicionarPessoaVinculo" data-dismiss="modal" title="Concluir">Concluir</a>
    <a href="#" class="btn" data-dismiss="modal" title="Fechar">Fechar</a>
</div>
<script src="<?php echo $this->assetUrl('sica/pessoa-vinculo/modal.js') ?>" type="text/javascript"></script>