<form class="form-horizontal" method="post" action="<?php echo $this->urlCurrent(array('controller' => 'pessoa-vinculo', 'action' => 'list')) ?>" id="form-pessoa-vinculo">
    <fieldset>
        <div class="control-group">
            <div class="span6">
                <button type="button" class="btn btn-mini" id="btn-add-pessoa-vinculo" href="#adicionarEmail" data-toggle="modal" title="Adicionar">
                    <i class="icon-plus"></i>
                </button>
            </div>
            <?php
            echo $this->formHidden('sqPessoa', $this->data->getSqPessoa()->getSqPessoa());
            ?>
            <table id="table-pessoa-vinculo">
                <thead>
                    <tr>
                        <th>Tipo</th>
                        <th>CPF</th>
                        <th>Nome</th>
                        <th width="80">Data Inicial</th>
                        <th width="80">Data Final</th>
                        <th>Status</th>
                        <th width="60">Ações</th>
                    </tr>
                </thead>
            </table>
        </div>
    </fieldset>
    <br/>
    <div class="form-actions">
        <a class="btn buttons" href="#dado-basico" title="Anterior">
            <span class="icon-chevron-left"></span> Anterior
        </a>
        <a class="btn btn-primary buttons" href="#endereco" title="Salva e segue para a próxima aba.">
            Próxima <span class="icon-chevron-right icon-white"></span>
        </a>
        <button  id="btnConcluir" class="btn" type="button" title="Salva e retorna para a pesquisa.">
            <span class=""></span> Concluir
        </button>
        <a class="btn btnCancelar" href="<?php echo $this->urlCurrent(array('controller' => 'pessoa', 'action' => 'index')) ?>" >
            <i class="icon-remove"></i> Cancelar
        </a>
    </div>
</form>

<!--MODAL ADICIONAR PESSOA-VINCULO-->
<div class="modal hide fade" id="modal-pessoa-vinculo"></div>
<script src="<?php echo $this->assetUrl('sica/pessoa-vinculo/index.js') ?>" type="text/javascript"></script>

