    <fieldset>
        <div class="control-group">
            <div class="controls" align="center">
            <img src="<?php echo '/img/'.$this->data->getDeArquivoImagem();?>" alt="">
            </div>
        </div>
        <div class="control-group">
            <div class="controls" align="center">
            <?php echo $this->data->getTxCabecalho();?>
            </div>
        </div>
    </fieldset>