<fieldset>
	<div class="control-group">
		<label for="nu_artefato" class="control-label">
            Digital
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'nuDigital', null, array('class' => 'span6')); ?>
		</div>
	</div>
	<div class="control-group">
		<label for="sqTipoArtefato" class="control-label">
            Tipo
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'noTipoDocumento', null, array('class' => 'span6')); ?>
		</div>
	</div>
	<div class="control-group">
		<label for="nuArtefato" class="control-label">
            Número
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'nuArtefato', null, array('class' => 'span6')); ?>
		</div>
	</div>
	<div class="control-group">
		<label for="sqAssunto" class="control-label">
            Assunto
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'sqAssunto', null, array('class' => 'span6')); ?>
		</div>
	</div>
	<div class="control-group">
		<label for="sqAssuntoComplementar" class="control-label">
            Assunto Complementar
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'txAssuntoComplementar', null, array('class' => 'span6')); ?>
		</div>
	</div>
	<div class="control-group">
		<label for="assinatura" class="control-label">
            Assinatura
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'assinatura', null, array('class' => 'span6')); ?>
		</div>
	</div>
	<div class="control-group">
		<label for="origem" class="control-label">
            Origem
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'origem', null, array('class' => 'span6')); ?>
		</div>
	</div>
	<div class="control-group">
		<label for="interessado" class="control-label">
            Interessado
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'interessado', null, array('class' => 'span6')); ?>
		</div>
	</div>
	<div class="control-group">
		<label for="destino" class="control-label">
            Destino
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'destino', null, array('class' => 'span6')); ?>
		</div>
	</div>
</fieldset>