<fieldset>
    <div class="control-group">
        <label class="control-label">Buscar por Periodo</label>
        <div class="controls">            
            <?php 
                echo $this->formSelect('sqPeriodo', NULL,
                        array('class'=>'input-small span6'),
                        array(
                            '' => 'Selecione o tipo do período',
                            'dtCadastro' => 'Data do Cadastro',
                            'dtAutuacao' => 'Data da Autuação',
                            'dtPrazo' => 'Data de Prazo',
                     )); 
            ?>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Data Inicial</label>
        <div class="controls">
            <div data-date="<?php echo \Zend_Date::now()->get('dd/MM/yyyy')?>" data-date-format="dd/mm/yyyy" class="input-append date">
                <input value="" class="input-small dateBR" maxlength="60"
                    name="dtInicial" mask="date" type="text"/>
                    <a href="#" class="btn add-on right"><i class="icon-calendar"></i></a>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Data Final</label>
        <div class="controls">
            <div data-date="<?php echo \Zend_Date::now()->get('dd/MM/yyyy')?>" data-date-format="dd/mm/yyyy" class="input-append date">
                <input value="" class="input-small dateBR" maxlength="60"
                    name="dtFinal" mask="date" type="text"/>
                    <a href="#" class="btn add-on right"><i class="icon-calendar"></i></a>
            </div>
        </div>
    </div>
</fieldset>