<fieldset>
	<div class="control-group">
		<label for="nu_artefato" class="control-label">
            Número do Processo
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'nuArtefato', null, array('class' => 'span6')); ?>
		</div>
	</div>
	<div class="control-group">
		<label for="sq_assunto" class="control-label">
            Assunto
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'sqAssunto', null, array('class' => 'span6')); ?>
		</div>
	</div>
	<div class="control-group">
		<label for="tx_assunto_complementar" class="control-label">
            Assunto Complementar
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'txAssuntoComplementar', null, array('class' => 'span6')); ?>
		</div>
	</div>
	<div class="control-group">
		<label for="interessado" class="control-label">
            Interessado
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'interessado', null, array('class' => 'span6')); ?>
		</div>
	</div>
	<div class="control-group">
		<label for="origem" class="control-label">
            Origem
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'origem', null, array('class' => 'span6')); ?>
		</div>
	</div>
	<div class="control-group">
		<label for="" class="control-label">
            Digital de Abertura
		</label>                
		<div class="controls">
			<?php echo $this->formText( 'nuDigital', null, array('class' => 'span6')); ?>
		</div>
	</div>
</fieldset>