.fb-container {
  position: fixed;
  left: 45%;
  z-index: 1050;
  overflow: auto;
  margin: -50px 0 0 -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;

  /* IE6-7 */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.fb-content {
    min-height: 400px;
}

.fb-content > .fb-display {
    padding: 10px 0 10px 0;
}

.fb-toolbar {
    padding: 0 10px 10px 0;
    min-height: 35px;
    min-width: 350px;
}

.fb-treeview {}