<script src="<?php echo $this->assetUrl('sica/sistema/search.js') ?>" type="text/javascript"></script>
<form class="form-horizontal"
      id="form-pesquisa-sistema"
      method="get"
      action="<?php echo $this->urlCurrent(array('action' => 'list')) ?>">
    <input type="hidden" id="search" name="search" value="0">
    <input type="hidden" id="sqSistema" name="sqSistema">
    <input type="text" id="pesquisa-pdf" class="hide" name="pesquisa-pdf">
    <?php
        $btnCadastrar = $this->buttonCadastrar($this->urlCurrent(array('action' => 'create')),array('action' => 'create'),array('class'=>'btn-primary'));
        if ($btnCadastrar):
    ?>
        <div class="top-bar">
            <div class="btn-group pull-right">
                <?php echo $btnCadastrar; ?>
            </div>
        </div>
    <?php endif; ?>

    <a name="filtros"></a>
    <fieldset>
        <legend>Filtros</legend>
        <div class="control-group">
            <label class="control-label">Sigla</label>
            <div class="controls">
                <?php echo $this->comboSiglaSistema('sistema', NULL, array(), $this->sistemas) ?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="noSistema">Sistema</label>
            <div class="controls">
                <input type="text" class="span5" name="noSistema" id="noSistema" maxlength="80">
            </div>
        </div>
        <div class="control-group">
            <?php echo $this->formHidden('sqPessoaResponsavel', NULL) ?>
            <label class="control-label" for="noPessoa">Nome do Responsável</label>
            <div class="controls">
                <input type="text" maxlength="80" class="span5" name="noPessoa" id="noPessoa">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="nuCpf">CPF do Responsável</label>
            <div class="controls">
                <input type="text" class="span5 cpf" mask="cpf" name="nuCpf" id="nuCpf">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sqArquitetura">Tipo de Arquitetura</label>
            <div class="controls">
                <?php echo $this->comboArquitetura('sqArquitetura', NULL, array(), $this->architetures) ?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="stRegistroAtivo">Status</label>
            <div class="controls">
                <?php echo $this->comboCustom('stRegistroAtivo', NULL, array(), array('TRUE' => 'Ativo', 'FALSE' => 'Inativo')) ?>
            </div>
        </div>
        <br/>
        <div class="form-actions">
            <button class="btn btn-primary btn_pesquisar"><i class="icon-search icon-white"></i>Pesquisar</button>
            <button type="reset" class="btn">Limpar</button>
        </div>
    </fieldset>
</form>

<div class="row-fluid hidden" id="grid">
    <form class="form-horizontal">
        <fieldset>
            <legend>Resultado da Pesquisa</legend>
            <table id="table-sistema">
                <thead>
                    <tr>
                        <th>Sigla</th>
                        <th>Sistema</th>
                        <th>Responsável</th>
                        <th>Tipo de Arquitetura</th>
                        <th width="50px">Status</th>
                        <th width="75px">Ações</th>
                    </tr>
                </thead>
            </table>
        </fieldset>

        <div class="form-actions">
            <a class="btn btn-primary" href="<?php echo $this->urlCurrent(array('action' => 'index')) ?>#filtros">Filtros</a>
            <?php echo $this->buttonCadastrar($this->urlCurrent(array('action' => 'create')),array('action' => 'create')); ?>
            <a class="btn gerar-pdf"href="<?php echo $this->urlCurrent(array('action' => 'gerar-pdf')) ?>">
                <i class="icon-pdf"></i>
                Gerar PDF
            </a>
        </div>
    </form>
</div>
