<script src="<?php echo $this->assetUrl('sica/perfil/perfil.js') ?>" type="text/javascript"></script>
<script src="<?php echo $this->assetUrl('sica/perfil/edit.js') ?>" type="text/javascript"></script>

<?php echo $this->render('/perfil/form-data.phtml');?>
