<?php
$this->headScript()->appendFile($this->assetUrl('sica/perfil/perfil.js'));
$this->headScript()->appendFile($this->assetUrl('sica/perfil/index.js'));
echo $this->headScript();
?>
<form class="form-horizontal"
      method="post"
      name="form-perfil"
      id="form-perfil"
      method="post"
      action="<?php echo $this->urlCurrent(array('action' => 'list')); ?>">
    <input type="text" id="pesquisa-pdf" class="hide" name="pesquisa-pdf">
    <div class="top-bar">
        <a name="filtros"></a>
        <p class="requiredLegend pull-left">
            Campos obrigatórios <span class="required">*</span>
        </p>
        <div class="btn-group pull-right">
            <?php echo $this->buttonCadastrar($this->urlCurrent(array('action' => 'create')),array('action' => 'create'),array('class'=>'btn-primary')); ?>
        </div>
    </div>
    <fieldset>
        <legend>Filtros</legend>
        <div class="control-group">
            <label for="sistema" class="control-label"><span class="required">*</span> Sistema</label>
            <div class="controls">
                <?php
                echo $this->comboSistema(
                        'sqSistema', $this->sqSistema, array('class' => 'required span9'), $this->sistemas
                );
                ?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Interno?</label>
            <div class="controls">
                <label class="radio inline">
                    <input type="radio" name="inPerfilExterno" value="0"> Sim
                </label>
                <label class="radio inline">
                    <input type="radio" name="inPerfilExterno" value="1"> Não
                </label>
            </div>
        </div>
        <div class="control-group">
            <label for="perfil" class="control-label">Perfil</label>
            <div class="controls">
                <select id="sqPerfil" name="sqPerfil" class="span9" disabled="disabled">
                </select>
            </div>
        </div>
        <br>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary pesquisa-perfil"><i class="icon-search icon-white"></i> Pesquisar</button>
            <button type="reset" class="btn">Limpar</button>
        </div>
    </fieldset>
</form>
<div class="control-group hidden" >
    <form class="form-horizontal">
        <legend>Resultado da Pesquisa</legend>
        <table id="table-perfil" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Perfil</th>
                    <th width="70px">Interno</th>
                    <th width="50px">Status</th>
                    <th width="75px">Ações</th>
                </tr>
            </thead>
        </table>
        <br />
        <div class="form-actions">
            <a href="<?php echo $this->url(array('action' => 'index')); ?>#filtros" class="btn btn-primary filtro">Filtros</a>
            <?php echo $this->buttonCadastrar($this->urlCurrent(array('action' => 'create')),array('action' => 'create')); ?>
            <a id="gerar-pdf" href="<?php echo $this->url(array('action' => 'gerar-pdf')); ?>" class="btn gerar-pdf" target="_blank"><i class="icon-pdf"></i> Gerar PDF</a>
        </div>
    </form>
</div>
<div class="modal hide fade modal-perfil">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Visualizar Perfil</h3>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" data-dismiss="modal" href="#">Fechar</a>
    </div>
</div>
