<fieldset id="comentario">
    <legend>Lista de Comentários</legend>
    <div class="control-group">
        <table id="table-visualizar-comentario">
            <thead>
                <tr>
                    <th class="sorting_disabled">Data/Hora</th>
                    <th class="sorting_disabled">Comentário</th>
                    <th class="sorting_disabled">Usuário</th>
                    <th class="sorting_disabled">Setor</th>
                    <th class="sorting_disabled">Ações</th>
                </tr>
            </thead>
        </table>
    </div>
</fieldset>