<fieldset id="despacho">
    <legend>Lista de Despachos</legend>
    <div class="control-group">
        <table id="table-visualizar-despacho">
            <thead>
                <tr>
                    <th class="sorting_disabled">Nº</th>
                    <th class="sorting_disabled">Data/Hora</th>
                    <th class="sorting_disabled">Despacho</th>
                    <th class="sorting_disabled">Assinatura</th>
                    <th class="sorting_disabled">Origem</th>
                    <th class="sorting_disabled">Encaminhado Para</th>
                    <th class="sorting_disabled">Ações</th>
                </tr>
            </thead>
        </table>
    </div>
</fieldset>