<fieldset id="volume">
    <legend>Lista de Volumes</legend>
    <div class="control-group">
        <table id="table-visualizar-volume">
            <thead>
                <tr>
                    <th class="sorting_disabled">Volume</th>
                    <th class="sorting_disabled">Folha Inicial</th>
                    <th class="sorting_disabled">Folha Final</th>
                    <th class="sorting_disabled">Ações</th>
                </tr>
            </thead>
        </table>
    </div>
</fieldset>