<fieldset id="historico">
    <legend>Histórico Atual</legend>
    <div class="control-group">
        <div class="row-fluid">
            <div class="span6">
                <div class="btn-group">
                    <a href="#" id="btnPrintHistorico" data-toggle="modal"
                       class="btn btn-mini"> <i title="Imprimir Histórico" class="icon-print"></i>
                    </a>
                </div>
            </div>
        </div>
        <table id="table-visualizar-historico">
            <thead>
                <tr>
                    <th class="sorting_disabled">Pessoa</th>
                    <th class="sorting_disabled">Unidade</th>
                    <th class="sorting_disabled">Ação</th>
                    <th class="sorting_disabled">Data</th>
                </tr>
            </thead>
        </table>
    </div>
</fieldset>
<fieldset id="historico-fisico">
    <legend>Histórico Antigo</legend>
    <div class="control-group">
<!--        <div class="row-fluid">
            <div class="span6">
                <div class="btn-group">
                    <a href="#" id="btnPrintHistorico" data-toggle="modal"
                       class="btn btn-mini"> <i title="Imprimir Histórico" class="icon-print"></i>
                    </a>
                </div>
            </div>
        </div>-->
        <table id="table-visualizar-historico-fisico">
            <thead>
                <tr>
                    <th class="sorting_disabled">Pessoa</th>
                    <th class="sorting_disabled">Unidade</th>
                    <th class="sorting_disabled">Ação</th>
                    <th class="sorting_disabled">Data</th>
                </tr>
            </thead>
        </table>
    </div>
</fieldset>