<page>
    <div id="geral">
<?php
    $regex        = '/^([0-9]{2})([0-9]{3})([0-9]{3})([0-9]{4})([0-9]{2})$/';
    $replacement  = '$1.$2.$3/$4-$5';
    $matrizFilial = $this->layout()->matrizFilial;
?>
                <div class="header">
                    <img src="../public/img/marcaICMBio.png">
                </div>

                <h1>SGDOC-e - Sistema Gerenciador de Documentos</h1>
                <h3>Matriz / Filial</h3>

                <div class="matriz">
    				<h2>Matriz</h2>
    				<hr>
    				<table>
    				    <tbody>
        				    <tr>
        				        <td class="col1"><b>CNPJ</b></td>
        				        <td class="col2"><?php echo preg_replace($regex, $replacement, $matrizFilial[0][0]->getNuCnpj()); ?></td>
    				        </tr>
        				    <tr>
        				        <td class="col1"><b>Razão Social</b></td>
        				        <td class="col2"><?php echo $matrizFilial[0][0]->getNoPessoa(); ?></td>
    				        </tr>
    				    </tbody>
			        </table>
                </div>

<?php if(isset($matrizFilial[1])) { ?>
    				<h2>Filiais</h2>
    				<hr>
    				<table>
    					<thead>
    						<tr>
    							<th class="col1">CNPJ</th>
    							<th class="col2">Razão Social</th>
    						</tr>
    					</thead>
    					<tbody>
<?php
    foreach($matrizFilial as $key => $value) {
        if($key !== 0) {
            $concat = array();

                $concat['nuCnpj']   = preg_replace($regex, $replacement, $value[0]->getNuCnpj());
                $concat['noPessoa'] = "filial " . $key . " - " . $value[0]->getNoPessoa();
?>
    						<tr>
    							<td class="col1"><?php echo $concat['nuCnpj']; ?></td>
    							<td class="col2"><?php echo $concat['noPessoa']; ?></td>
    						</tr>
<?php
        }
    }
?>
    					</tbody>
    				</table>
<?php } ?>
    </div>
</page>

<style type="text/css">
    #geral {
        font-family:Arial;
        width:100%;
    }

    .header {
        margin:0 0 10mm;
        text-align:center;
    }

        .header img {
            height:40mm;
        }

    h1,
    h2,
    h3 {
        color:#398751;
        font-size:20pt;
        text-align:center;
    }

    h1 {
        margin:0 0 2mm;
    }

    h2 {
        font-size:16pt;
        margin:0;
        text-align:left;
    }

    h3 {
        font-size:12pt;
        margin:0 0 10mm;
    }

    hr {
        border:1px solid #E5E5E5;
    }

    .matriz {
        margin:0 0 10mm;
    }

    .col1 {
        width:50mm
    }

    .col2 {

    }
</style>