<div class="modal-header">
    <a class="close" data-dismiss="modal" title="Fechar">×</a>
    <h3 class="title-main">Adicionar E-mail</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <form class="form-horizontal" method="post" id="form-email-modal">
            <br/>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="tpEmail" ><span title="Campo Obrigatório"
 class="required">*</span> Tipo de E-mail</label>
                    <div class="controls">
                        <?php
                        echo $this->formHidden('sqPessoa', $this->sqPessoa);
                        echo $this->ComboCustom('sqTipoEmail', $this->data->getSqTipoEmail()->getSqTipoEmail(), array('class' => 'span9 required'), $this->cmb['sqTipoEmail']);
                        ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="email"><span title="Campo Obrigatório"
 class="required">*</span> E-mail</label>
                    <div class="controls">
                        <?php
                        echo $this->formText('txEmail', $this->data->getTxEmail(), array('class' => 'span9 required email ', 'maxlength' => 100));
                        ?>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-primary btnAdicionarEmail" data-dismiss="modal" title="Concluir">Concluir</a>
    <a href="#" class="btn" data-dismiss="modal" title="Fechar">Fechar</a>
</div>
<script src="<?php echo $this->assetUrl('sica/email/modal.js') ?>" type="text/javascript"></script>