<script src="<?php echo $this->assetUrl('sica/usuario/form.js')?>" type="text/javascript"></script>

<form class="form-horizontal"
      name="form-usuario-interno"
      action="<?php echo $this->url(array('controller'=>'usuario-interno', 'action'=>'save')); ?>"
      method="post">
      <input type="hidden"
             value="1"
             name="sqTipoPessoa"
             id="sqTipoPessoa"
     />
    <div class="top-bar">
        <p class="requiredLegend pull-left">Campos obrigatórios <span class="required">*</span></p>
    </div>
    <br/>
    <fieldset>
        <div class="control-group">
            <label class="control-label" for="nmUsuario">
                <span class="required">*</span> Nome do Usuário
            </label>
            <div class="controls">
                <input type="text"
                       name="noPessoa"
                       class="input-xlarge required"
                       id="noPessoa" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="nuCpf">
                <span class="required">*</span> CPF
            </label>
            <div class="controls">
                <div class="input-append">
                    <input type="text"
                           class="input-medium cpf required"
                           name="nuCpf"
                           id="nuCpf"
                           mask="cpf"

                    />
                    <button type="button"
                            class="btn right"
                            id="search-cpf"
                            title="Pesquisar"
                    >
                        <i class="icon-search"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                Telefone Institucional
            </label>
            <div class="controls">
                <input type="text"
                       class="input-mini inline"
                       id="nuDdd"
                       disabled="true"
                />
                <input type="text"
                       class="input-medium inline"
                       id="nuTelefone"
                       name="nuTelefone"
                       disabled="true"
                />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">
                E-mail Institucional
            </label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on">
                         <i class="icon-envelope"></i>
                    </span>
                    <input type="text"
                           name="txEmail"
                           id="txEmail"
                           class="input-xlarge"
                           disabled="disabled" />
                </div>
            </div>
        </div>
    </fieldset>
    <br/>
    <div class="form-actions box-btnCadastrar">
        <button class="btn btn-primary btn-cadastrar">Concluir</button>
        <a class="btn" href="<?php echo $this->urlCurrent(array('action' => 'index'))?>">
            <i class="icon-remove"></i>
            Cancelar
        </a>
    </div>
</form>
