<script src="<?php echo $this->assetUrl('sica/usuario/search.js')?>" type="text/javascript"></script>
<form class="form-horizontal"
      action="<?php echo $this->urlCurrent(array('action' => 'list'))?>"
      id="form-pesquisa-usuario"
      method="get">
      <input type="hidden" id="search" name="search" value="0">
      <input type="text" id="pesquisa-pdf" class="hide" name="pesquisa-pdf">
    <div class="top-bar">
        <p class="requiredLegend pull-left">Pelo menos um dos filtros deve ser preenchido</p>
        <div class="btn-group pull-right">
            <?php echo $this->buttonCadastrar(
                    $this->urlCurrent(array('action' => 'create')),
                    array('action' => 'create'),
                    array('class'=>'btn-primary')); ?>
        </div>
    </div>
    <a name="filtros"></a>
    <fieldset>
        <legend>Filtros</legend>
        <div class="control-group">
            <label class="control-label" for="cpfUsuario">CPF</label>
            <div class="controls">
                <input type="text" class="span4 cpf" name="nuCpf" mask="cpf" id="cpfUsuario"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="noUsuario">Nome do Usuário</label>
            <div class="controls">
                <input type="text" name="noPessoa" class="span9" id="noUsuario" maxlength="80" />
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="noUnidade">Unidade Organizacional</label>
            <div class="controls">
               <?php echo $this->formHidden('id', $this->id)?>
               <?php echo $this->formText('noUnidade', NULL, array('class' => 'span9'))?>
            </div>
        </div>
         <div class="control-group">
            <label class="control-label" for="sqSistema">Sistema</label>
            <div class="controls">
                <?php echo $this->comboSistema('sqSistema', NULL, array('class' => 'span9'), $this->sistemas)?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="sqPerfil">Perfil</label>
            <div class="controls" id="perfil">
                <?php echo $this->comboCustom('sqPerfil', NULL, array('class' => 'span9'), array())?>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="stAtivo">Status</label>
            <div class="controls">
                <select name="stAtivo" class="span4">
                    <option value="">Selecione uma opção</option>
                    <option value="TRUE">Ativo</option>
                    <option value="FALSE">Inativo</option>
                </select>
            </div>
        </div>
        <br/>
          <div class="form-actions">
            <button class="btn btn-primary btn_pesquisar"><i class="icon-search icon-white"></i> Pesquisar</button>
            <button type="reset" class="btn">Limpar</button>
        </div>
    </fieldset>
</form>

<div class="row-fluid hidden">
    <div class="span12">
        <form class="form-horizontal">
            <fieldset>
                <legend>Resultado da Pesquisa</legend>
                <table id="table-usuario">
                    <thead>
                        <tr>
                            <th>CPF</th>
                            <th>Nome do Usuário</th>
                            <th>E-mail Institucional</th>
                            <th>Telefone Institucional</th>
                            <th width="50px">Status</th>
                            <th width="75px">Ações</th>
                        </tr>
                    </thead>
                </table>
            </fieldset>

            <div class="form-actions">
                <a class="btn btn-primary filtro" href="<?php echo $this->urlCurrent(array('action' => 'index'))?>#filtros" title="Filtros">Filtros</a>
                <?php echo $this->buttonCadastrar(
                        $this->urlCurrent(array('action' => 'create')),
                        array('action' => 'create')); ?>
                <a class="btn gerar-pdf" href="<?php echo $this->urlCurrent(array('action' => 'gerar-pdf'))?>" title="Gerar PDF"><i class="icon-pdf"></i> Gerar PDF</a>
            </div>
       </form>
    </div>
</div>

<?php echo $this->partial('modal-view.phtml', array('title' => 'usuario-interno_view'))?>