<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th width="5%"><input type="checkbox" id="profile-all" /></th>
            <th>Perfil</th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($this->perfis as $perfil): ?>
        <tr>
            <?php
                $checked = '';
                foreach ((array) $this->perfisUnidade as $perfilUnidade): ?>
                <?php
                    if ($perfil['sqPerfil'] == $perfilUnidade['sqPerfil']) {
                        $checked = 'checked="checked"';
                        break;
                    }
                ?>
            <?php endforeach; ?>
            <td>
                <input id="ckPerfil-<?php echo $perfil['sqPerfil']; ?>"
                       type="checkbox"
                       name="perfil[]"
                       <?php echo $checked?>
                       value="<?php echo $perfil['sqPerfil']?>" />
            </td>
            <td>
                <label for="ckPerfil-<?php echo $perfil['sqPerfil']; ?>">
                    <?php echo $perfil['noPerfil']?>
                </label>
            </td>
        </tr>
        <?php endforeach;?>
    </tbody>
</table>