<div class="modal-header">
    <a class="close" data-dismiss="modal" title="Fechar">×</a>
    <h3 class="title-main">Alterar Endereço</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <form class="form-horizontal" method="post" id="form-endereco-modal">
            <br/>
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="sqTipoEndereco" ><span title="Campo Obrigatório"
 class="required">*</span> Tipo de Endereço</label>
                    <div class="controls">
                        <?php
                        echo $this->formHidden('sqPessoa', $this->sqPessoa);
                        echo $this->formHidden('sqEndereco', $this->data->getSqEndereco());
                        echo $this->formHidden('sqTipoEndereco', $this->data->getSqTipoEndereco()->getSqTipoEndereco());
                        echo $this->ComboCustom('sqTipoEndereco', $this->data->getSqTipoEndereco()->getSqTipoEndereco(), array('class' => 'span8', 'disabled' => 'disabled'), $this->cmb['sqTipoEndereco']);
                        ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="sqCep"><span title="Campo Obrigatório"
 class="required">*</span> CEP</label>
                    <div class="controls">
                        <div class="input-append">
                            <?php
                            echo $this->formText('sqCep', $this->data->getSqCep(), array('class' => 'span10 required cep'));
                            ?>
                            <button type="button" class="btn right" id="btnCep" title="Pesquisar"><i class="icon-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="sqEstado"><span title="Campo Obrigatório"
 class="required">*</span> UF
                    </label>
                    <div class="controls">
                        <?php
                        echo $this->ComboCustom('sqEstado', $this->data->getSqMunicipio()->getSqEstado()->getSqEstado(), array('class' => 'required span8', 'id' => 'sqEstadoEndereco'), $this->cmb['sqEstado']);
                        ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="sqMunicipio"><span title="Campo Obrigatório"
 class="required">*</span> Município</label>
                    <div class="controls">
                        <?php
                        echo $this->ComboCustom('sqMunicipio', $this->data->getSqMunicipio()->getSqMunicipio(), array('class' => 'required span8', 'id' => 'sqMunicipioEndereco'), $this->cmb['sqMunicipio']);
                        ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txEndereco"><span title="Campo Obrigatório"
 class="required">*</span> Logradouro
                    </label>
                    <div class="controls">
                        <?php
                        echo $this->formText('txEndereco', $this->data->getTxEndereco(), array('class' => 'span8 required', 'maxlength' => 55));
                        ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="txComplemento">Complemento</label>
                    <div class="controls">
                        <?php
                        echo $this->formText('txComplemento', $this->data->getTxComplemento(), array('class' => 'span8', 'maxlength' => 100));
                        ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="nuEndereco">Número</label>
                    <div class="controls">
                        <?php
                        echo $this->formText('nuEndereco', $this->data->getNuEndereco(), array('class' => 'span3', 'maxlength' => 6));
                        ?>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="noBairro"><span title="Campo Obrigatório"
 class="required">*</span> Bairro
                    </label>
                    <div class="controls">
                        <?php
                        echo $this->formText('noBairro', $this->data->getNoBairro(), array('class' => 'required span8', 'maxlength' => 100));
                        ?>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-primary btnAdicionarEndereco" data-dismiss="modal" title="Concluir">Concluir</a>
    <a href="#" class="btn btnCancelarEndereco" data-dismiss="modal" title="Fechar">Fechar</a>
</div>
<script src="<?php echo $this->assetUrl('sica/endereco/modal.js') ?>" type="text/javascript"></script>