<?php
$assetUrl = new Core_View_Helper_AssetUrl();
$assetUrl->setView($this);
$path = APPLICATION_PATH . '/../public/';

$this->headLink()
        ->setStylesheet($path . $assetUrl->assetUrl('style.css', true, array('address' => 'asset')))
        ->appendStylesheet($path . $assetUrl->assetUrl('style-correct.css', true, array('address' => 'asset')))
        ->appendStylesheet($path . $assetUrl->assetUrl('style-responsive.css', true, array('address' => 'asset')))
        ->appendStylesheet($path . $assetUrl->assetUrl('style.css', true))
        ->appendStylesheet($path . $assetUrl->assetUrl('pdf.css', true))
        ->appendStylesheet($path . $assetUrl->assetUrl('pdf-sistema.css', true));

echo $this->headLink();
?>

<page backtop="2mm" backbottom="3mm" backleft="3mm" backright="3mm">
    <page_footer>
        <div class="content">
            <table class="table-footer">
                <tr>
                    <td class="data">
                        Data: <?php echo date('d/m/Y') . ' às ' . date('H') . 'h' . date('i'); ?>
                    </td>
                    <td class="responsavel">
                        Responsável: <?php echo \Core_Integration_Sica_User::getUserName(); ?>
                    </td>
                    <td class="paginacao">
                        Página [[page_cu]] de [[page_nb]]
                    </td>
                </tr>
            </table>
        </div>
    </page_footer>
    <div class="content">
        <div>
            <img src="<?php echo $path . $assetUrl->assetUrl('icons/marcaICMBioBig.png', true, array('address' => 'asset')) ?>" name="figura1" class="pull-left" width="100" border="0" />
            <span align="center">
                <h3>SICA-e - Sistema de Integra&ccedil;&atilde;o e Controle de Acesso</h3>
                <h4>Resultado da Pesquisa do Usu&aacute;rio Interno</h4>
            </span>
        </div>
        <br/>
        <br/>
        <?php
        $nuCpf = NULL;
        $sgSistema = NULL;
        $countUsers = 0;

        $maskNumber = new Core_View_Helper_MaskNumber();
        $maskNumber->setView($this);
        ?>

        <?php foreach ($this->layout()->data as $row) { ?>
            <?php if ($nuCpf != $row['nuCpf']) { ?>
                <?php $nuCpf = $row['nuCpf']; ?>
                <?php $countUsers++; ?>
                <table class="table table-condensed" id="table-pdf">
                    <tr class="title">
                        <th>CPF</th>
                        <th>Nome do Usuário</th>
                        <th>E-mail Institucional</th>
                        <th>Telefone Institucional</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td align="center">
                            <?php echo $maskNumber->maskNumber($row['nuCpf'], 'cpf'); ?>
                        </td>
                        <td><?php echo $this->escape($row['noPessoa']); ?></td>
                        <td><?php echo $this->escape($row['txEmail']); ?></td>
                        <td align="center">
                            <?php
                            $ddd = '(' . $row['nuDdd'] . ') ';

                            $telefone = $row['nuTelefone'];
                            if (strlen($row['nuTelefone']) >= 8) {
                                $telefone = substr($row['nuTelefone'], 0, 4) . '-' . substr($row['nuTelefone'], 4, 8);
                            }

                            if (!$row['nuTelefone']) {
                                $ddd = '';
                                $telefone = '';
                            }

                            echo $this->escape($ddd . $telefone);
                            ?>
                        </td>
                        <td><?php echo $row['stAtivo'] ? 'Ativo' : 'Inativo' ?></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="largura-total">
                        </td>
                    </tr>
                    <?php foreach ($this->layout()->data as $system) { ?>
                        <?php if ($nuCpf == $system['nuCpf']) { ?>
                            <?php if ($sgSistema != $system['sgSistema']) { ?>
                                <?php $sgSistema = $system['sgSistema']; ?>
                                <tr>
                                    <td colspan="5">
                                        <b>
                                            <?php echo $this->escape($system['sgSistema'] . ' - ' . $system['noSistema']); ?>
                                        </b>
                                    </td>
                                </tr>
                                <tr class="title">
                                    <th colspan="2">Perfil</th>
                                    <th colspan="3">Unidade Organizacional</th>
                                </tr>
                                <?php foreach ($this->layout()->data as $unidade) { ?>
                                    <?php if ($nuCpf == $unidade['nuCpf'] && $sgSistema == $unidade['sgSistema']) { ?>
                                        <tr>
                                            <td colspan="2"><?php echo $this->escape($unidade['noPerfil']); ?></td>
                                            <td colspan="3" style="width: 390px"><?php echo $this->escape($unidade['noUnidade']); ?></td>
                                        </tr>
                                    <?php } ?>
                                <?php } ?>
                            <?php } ?>
                        <?php } ?>
                    <?php } ?>
                    <?php $sgSistema = NULL; ?>
                </table>
                <br />
                <br />
            <?php } ?>
        <?php } ?>
        <br />
        <br />
        <table>
            <tr>
                <td class="total-registro sem-bordas">
                    Total de Registros: <?php echo $countUsers; ?>
                </td>
            </tr>
        </table>
    </div>
</page>
