<?php 
$objEntity   = $this->layout()->objVolume;
$cargoFuncao = '';

if ($objEntity->getSqCargoAssinaturaEncerramento()) {
    $cargoFuncao = $objEntity->getSqCargoAssinaturaEncerramento()->getNoCargo();
}
if ($objEntity->getSqFuncaoAssinaturaEncerramento()) {
    $cargoFuncao = $objEntity->getSqFuncaoAssinaturaEncerramento()->getNoFuncao();
}
?>
<page backtop="5mm" backbottom="20mm" backleft="10mm" backright="10mm">

<div style="text-align: center;">
    <img src="<?php echo $this->layout()->logo; ?>" width="150" name="ICMBio Logo" title="ICMBio Logo" border="0">
</div>

<p style="text-align: center; margin-top:50px;"><?php echo $this->layout()->noUnidadeOrg; ?></p>

<p style="text-align: center; margin-top:80px; margin-bottom:80px;">TERMO DE ENCERRAMENTO DE VOLUME</p>

<p style="text-indent:75px; text-align:justify;">Ao(s)
    <?php echo $objEntity->getDtEncerramento()->get("dd 'de' MMMM 'de' yyyy"); ?>,
    procedemos o encerramento do <?php echo $objEntity->getNuVolume(); ?>º volume do processo de n°
    <?php $nuArtefato = str_replace(array("/", "-", "."), "", $objEntity->getSqArtefato()->getNuArtefato()); ?>
    <?php if( strlen($nuArtefato) >= 17 ): ?>
        <?php echo $this->layout()->getView()->nuArtefato($objEntity->getSqArtefato()); ?>,
    <?php else: ?>
        <?php echo $objEntity->getSqArtefato()->getNuArtefato(); ?>,
    <?php endif; ?>
    encerrando-se na página <?php echo $objEntity->getNuFolhaFinal(); ?> abrindo-se em seguida o volume n° <?php echo $objEntity->getNuVolume() + 1; ?>.
</p>

<?php
    $strAssinatura = " - ";
    if( $objEntity->getSqPessoaAssinaturaEncerramento() ) {
        $strAssinatura = $objEntity->getSqPessoaAssinaturaEncerramento()->getNoPessoa() . " - " . $cargoFuncao;
    }
?>

<p style="text-align: center; margin-top:100px;">
    <?php echo str_repeat("_", strlen($strAssinatura) + 2); ?><br />
    <?php echo $strAssinatura ?><br />
    (Assinatura/Carimbo)</p>
</page>